@font-face{font-family:'mclarenregular'; src:local(../../fonts/mclarenregular-webfont.eot)}
@font-face{font-family:'mclarenregular'; src:local(../../fonts/mclarenregular-webfont.ttf)}
/*@font-face {*/
/*    font-family: 'mclarenregular';*/
/*    src: url('../fonts/font/mclarenregular-webfont.eot');*/
/*    src: url('../fonts/font/mclarenregular-webfont.eot?#iefix') format('embedded-opentype'),*/
/*         url('../fonts/font/mclarenregular-webfont.woff') format('woff'),*/
/*         url('../fonts/font/mclarenregular-webfont.ttf') format('truetype'),*/
/**/
/*}*/

.keypadHolder{font-family:'mclarenregular'; /*font-weight:bold;*/ background: #ccdc93; z-index: 3000; border-radius:5px; box-shadow: rgba(0, 0, 30, 0.1) 0px 2px 10px 8px;}
.vkBtnKey{vertical-align:middle; text-align:center; background:#88c34f;  border-radius:5px;  font-size:28px; margin: 4px; line-height: 40px;}
.vkBtnKey.disabled{background:#486b25; color: #ccc;}
.vkBtnKey.active>*{/*opacity: 0.2;*//*background-color:#ffcc66;*/border-radius:5px;}
#key_frac_slash.active{background-color:#ffcc66;}
.vkBtnKey>*{display:inline-block; width:100%;}
.key_multi_0.inactive, .key_multi_1.inactive{opacity: 0.2;}
.vkBtnEmpty{vertical-align:middle; text-align:center; display:table-cell;}
.vkBtnCls{text-align:center; font-size: 14px; width: 20px; height: 20px; background:url(../images/close_btn.png) no-repeat; cursor: pointer;}
#key_close{ float: right; margin-top: -10px; margin-right: -10px; height: 20px; }
#key_backspace{ float: right; background: none; }
#key_backspace>*{
   margin: auto;
   margin-top: 6px;
}
#key_shift>*{
   margin-top: 5px;
}
.vKeyPad_headerKeys{height: 10px;}
.vKeyPadKeySet > div > div {margin-top: 0px;}
.key_multi_0, .key_multi_1{font-size: 20px; line-height: 20px;}
.vkMultiKey{line-height: 20px; font-size: 20px;}
.numeric .vKeyPad_contentKeys>div:last-of-type{
   display: inline-block;
   float: left;
}
.numeric .vKeyPad_footerKeys{
   float: right;
}
.vK_italic{ font-style: italic; }
.vK_bold{ font-weight: bold; }
.vK_fractionSet{ display: inline-block; margin-left:5px;}
.vK_fraction{ display: inline-block; vertical-align: middle; margin-top: -0.25em; }
.vK_numerator, .vK_denominator { display: block; font-size: 0.6em; line-height: 1em; min-height: 1em; }
.vK_numerator{ min-width: 1em; border-bottom: 1px solid; clear: both; }
.vK_denominator{ }
.vK_noMixed .vK_numerator,.vK_noMixed .vK_denominator { font-size: 1em; }