html{
    -ms-content-zooming: none;
}

html,body{
  background-image: -webkit-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: -moz-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: -ms-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  font-family: 'GillSansInfant','GillSansReg','mclarenregular',Calibri,sans-serif;
  overflow: hidden;
  -ms-touch-action: none;
}

footer{
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
}

.container{
    width: 600px;
    margin: 0 auto; 
}

.board{
    position: relative;
    width: 100%;
    height: 420px; 
    background: $backgroundBoard;
}

.monsters{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
    padding-top: 10px;
    margin: 0 auto 0 14.3%;
    width: 75%;
    height: 100%;

    &-hide{
        display: none;
    }

    .monster{
        &:nth-child(5)~ .monster{
            margin-top: -40px;
        }
        &:nth-child(6){
            margin-left: -26px;
        }
    }
    &:nth-child(2){
        padding-top: 100px;
        width: 92%;
        margin-left: 6.8%;
        justify-content: flex-start;
        -webkit-box-pack: start;
        .monster{
            margin-right: 24px;
            &:first-child{
                margin-left: 10px;
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5){
                margin-left: 1px;
            }
            &:nth-child(6){
                margin-top: 0;
                margin-right: 0;
                margin-left: 1px;
            }
            &:nth-child(6n) ~ .monster{
                display: none;
            }
        }
    }

    &:nth-child(3){
        padding-top: 100px;
        width: 88%;
        margin-left: 6.5%;
        .monster{
            &:nth-child(5){
                margin-right: 0;
            }
            &:nth-child(5n) ~ .monster{
                display: none;
            }   
        }
    }

    &:nth-child(4){
        //width: 68%;
        width: 75%;
        margin-left: 15.7%;
        .monster{
            &:nth-child(4)~ .monster{
                margin-top: -40px
            }
            &:nth-child(5){
                margin-right: 80px;
                margin-left: -24px;
            }
            &:nth-child(6){
                margin-left: -55px;
            }
            &:nth-child(7){
                margin-right: 0;
            }
            &:nth-child(7n) ~ .monster{
                display: none;
            }   
        }
    }

    &:nth-child(5){
        padding-top: 100px;
        width: 86%;
        margin-left: 9%;
        .monster{
            &:nth-child(4){
                margin-right: 0;
            }
            &:nth-child(4n) ~ .monster{
                display: none;
            }   
        }
    }


    &:nth-child(6){
        width: 59%;
        margin-left: 22.5%;
        .monster{
            &:nth-child(4) ~ .monster,{
                margin-top: -40px; 
            }
            &:nth-child(5){
                margin-right: 22px;
            }
            &:nth-child(6){
                margin-left: 3px;
            }
            &:nth-child(4),
            &:nth-child(8){
                margin-right: 0;
            }

            &:nth-child(8n) ~ .monster{
                display: none;
            }
        }
    }
}


.monster{
    width: 125px;
    height: 125px;
    margin-right: 25px;
    background-image: url('#{$image-dir}/char1.png');
    background-size:  200% 100%;
    
    &:nth-child(2){
        background-image: url('#{$image-dir}/char2.png');
    }
    &:nth-child(3){
        background-image: url('#{$image-dir}/char3.png');
    }
    &:nth-child(4){
        background-image: url('#{$image-dir}/char4.png');
    }
    &:nth-child(5){
        background-image: url('#{$image-dir}/char5.png');
    }
    &:nth-child(6){
        background-image: url('#{$image-dir}/char6.png');
    }
    &:nth-child(7){
        background-image: url('#{$image-dir}/char7.png');
    }
    &:nth-child(8){
        background-image: url('#{$image-dir}/char8.png');
    }
    &:nth-child(9){
        background-image: url('#{$image-dir}/char9.png');
        margin-right: 0;
    }

    &-shake{
        transform-origin: 0% 100%;
        animation: animObjNormal 0.4s;
        animation-timing-function: linear;
        -webkit-animation: animObjNormal 0.4s;
        -webkit-animation-timing-function: linear;
    }

    &-down {
        transform-origin: 0% 100%;
        animation: animObjEnd 0.2s;
        animation-timing-function: linear;
        -webkit-animation: animObjEnd 0.2s;
        -webkit-animation-timing-function: linear;
    }
    &-laying{
        transform-origin: 30% 100%;
        transform: rotate(-70deg);
        background-position: -100% 0%;
    }

}


.static-equation{
    height: 100%;
    font-size: 70px;
    font-family: mclarenregular;
    color: #000;
    text-align: right;
    line-height: 100px;
    margin-left: -45px;
    &-hide{
        display: none;
    }
    &-text{
        display: inline-block;
        vertical-align: top
    }
}

.arrow{
    margin: auto;
    background: grey;
    width: 90px;
    height: 65px;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    &:focus{
        outline: none;
    }
    &-prev{
        background: url('#{$image-dir}/prev.png') no-repeat;
        background-size: 100% 100%;
        left: 50px;
    }
    &-next{
        background: url('#{$image-dir}/next.png') no-repeat;
        background-size: 100% 100%;
        right: 50px;
    }
    &-hide{
        visibility: hidden;
    }
}

.sign{
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    color: $signColor;
    width: 100px;
    height: 90px;
    font-size: 5em;
    display: block;    
    line-height: 1;
}

.icons{
    padding-right: 30px;
    padding-top: 10px;
    width: 25%;
    position: relative;
}

.check{
    &-button{
        background: url("#{$image-dir}/submit.png") no-repeat;
        background-size: contain;
        width: 70px;
        height: 49px;
        margin-left: 27px;
        margin-top: 20px;
        &-hide{
          visibility:hidden;
        }
    }
    &-correct{
        background: url("#{$image-dir}/Tick_right.png") no-repeat;
        background-size: contain;
    }
    &-incorrect{
        background: url("#{$image-dir}/Tick_wrong.png") no-repeat;
        background-size: contain;
    }

}


.numbers-area-disabled {
  pointer-events: none;
}


.ui-resizable,
.ui-sortable,
.ui-draggable, 
.ui-droppable {
    -ms-touch-action: none;
    touch-action: none;
} 


@media (min-width:800px){
    .container{
        width: 800px;
    }
    .numbers{
        height: 203px;
    }
}

@media (min-width:1024px){
    .container{   
        width: 1024px;
    }
    .numbers{
        height: 100px;
        &-container{
            flex-wrap: nowrap;
        }
        &-element{
            &:nth-child(2n){
                margin-left: 15px;
                margin-right: 0;
            }
        }
        &-element.numbers__resultNumber{
            margin-left: 8px;
        }
    }

}
@media (min-width:768px) and (orientation: portrait){
    .container{
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        height: 100vh;
    }

    .numbers{
        &-container{
            .numbers-element{
                display: inline-table;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
    .monsters{
        width: 100%;
        margin-left: 0;
        &:nth-child(2){
            width: 100%;
            margin-left: 0;
            .monster{
                display: inline-table;
                margin-right: 3px;

                &:first-child{
                    margin-left: 0;
                }
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6){
                    margin-left: 0;
                }
            }
        }
        &:nth-child(3){
            width: 95%;
            margin-left: 0;
        }
        &:nth-child(4){
            width: 90%;
            margin-left: 5.7%;
        }
        &:nth-child(5){
            width: 90%;
            margin-left: 5%;
        }
        &:nth-child(6){
            width: 80%;
            margin-left: 10%;
        }
    }
}