.init-animation>.hand{
  -webkit-animation: animationFramesInit linear .5s;
  -webkit-animation-iteration-count: 2;
  -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transform-origin: 30% 40%;
}
.init-animation>.arm{
  -webkit-animation: animationFramesInitArm linear .5s;
  -webkit-animation-iteration-count: 2;
  -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transform-origin: 30% 80%;
}

.throw-animation>.hand{
  -webkit-animation: animationFramesInitHandThrow linear .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transform-origin: 30% 40%;
}
.throw-animation>.arm{
  -webkit-animation: animationFramesInitArmThrow linear .2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transform-origin: 30% 80%;
}



.end-animation {
  -webkit-animation: animationFramesEnd linear 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

@-webkit-keyframes animationFramesInitHandThrow {
  0% {
  	-webkit-transform:  rotate(0deg) ;
  }
  25% {
  	-webkit-transform:  rotate(-18deg) ;
  }
  100% {
  	-webkit-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animationFramesInitArmThrow {
  0% {
  	-webkit-transform:  rotate(0deg) ;
  }
  25% {
  	-webkit-transform:  rotate(-10deg) ;
  }
  100% {
  	-webkit-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animationFramesEnd {
	0% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.0;
	}
}

@-webkit-keyframes animationFramesInitArm {
  0% {
  	-webkit-transform:  rotate(0deg) ;
  }
  25% {
  	-webkit-transform:  rotate(-4deg) ;
  }
  75% {
  	-webkit-transform:  rotate(4deg) ;	
  }
  100% {
  	-webkit-transform:  rotate(0deg) ;
  }
}

@-webkit-keyframes animationFramesInit {
  0% {
  	-webkit-transform:  rotate(0deg) ;
  }
  25% {
  	-webkit-transform:  rotate(-11deg) ;
  }
  75% {
  	-webkit-transform:  rotate(11deg) ;	
  }
  100% {
  	-webkit-transform:  rotate(0deg) ;
  }
}