/* Include all sass files you need */
/* Fonts */
/* Font-size */
/* Colors*/
/* Folders */
/* Include all sass files you need */
/* Fonts */
/* Font-size */
/* Colors*/
/* Folders */
@font-face {
  font-family: "McLaren";
  src: url("../../fonts/McLarenRegular.eot");
  src: url("../../fonts/McLarenRegular.ttf") format("truetype"), url("../../fonts/McLarenRegular.svg#McLarenRegular") format("svg"); }

@font-face {
  font-family: 'GSMT';
  src: url("../../fonts/gillsansmt.eot"); }

@font-face {
  font-family: 'GSI';
  src: url("../../fonts/gilsbrg.eot");
  src: url("../../fonts/gilsbrg.woff") format("woff"), url("../../fonts/gilsbrg.ttf") format("truetype"), url("../../fonts/gilsbrg.svg#gilsbrg") format("svg"); }

/*------------------------------------*    $RESET
\*------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

@keyframes animationFramesInitHandThrow {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-18deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes animationFramesInitArmThrow {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes animationFramesEnd {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }

@keyframes animationFramesInitArm {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-4deg); }
  75% {
    transform: rotate(4deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes animationFramesInit {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-11deg); }
  75% {
    transform: rotate(11deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes throwMarvels {
  from {
    left: 22%;
    top: 55%; } }

@keyframes reset {
  0% {
    transform: rotate(0deg); }
  50% {
    opacity: 0.4; }
  100% {
    transform: rotate(-360deg); } }

@media (min-width: 1024px) {
  @keyframes throwMarvels {
    from {
      left: 17%;
      top: 55%; } } }

@keyframes animationCoin1 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -14%;
    margin-left: 25%; } }

@keyframes animationCoin2 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -5%;
    margin-left: 21%; } }

@keyframes animationCoin3 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -18%;
    margin-left: 28%; } }

@keyframes animationCoin4 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -18%;
    margin-left: 24%; } }

@keyframes animationCoin5 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -6%;
    margin-left: 30%; } }

@keyframes animationCoin6 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -8%;
    margin-left: 32%; } }

@keyframes animationCoin7 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -12px;
    margin-left: 26%; } }

@keyframes animationCoin8 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -23%;
    margin-left: 27%; } }

@keyframes animationCoin9 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -14%;
    margin-left: 30%; } }

@keyframes animationCoin10 {
  from {
    margin-left: 20%;
    margin-top: -15%; }
  to {
    margin-top: -16%;
    margin-left: 32%; } }

/* COMPONENTS */
.icons {
  display: flex;
  justify-content: flex-end;
  width: 1011px;
  pointer-events: all;
  width: 100%; }

.icon-info {
  width: 34px;
  height: 36px;
  background-color: transparent;
  background-position: center center;
  background-size: 100%;
  margin-top: -1px;
  margin-right: 17px;
  border: none;
  cursor: pointer; }
  .icon-info:focus {
    outline: 0; }

.icon-information {
  background-image: url("../../images/base/btInfoOn@2x.png"); }

.icon-reset {
  background-image: url("../../images/base/btResetOn@2x.png"); }
  .icon-reset-inactive {
    background-image: url("../../images/base/btResetOff@2x.png"); }

.icoResetMove {
  animation: reset 1s; }

.layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center; }
  .layer-hide {
    display: none; }
  .layer .icon-information {
    position: absolute;
    left: 10px;
    top: 10px; }

.modal {
  position: relative;
  top: 70px;
  width: 620px;
  height: 410px;
  max-width: 630px;
  word-wrap: break-word;
  border: 2px solid #7ea0c6;
  background: #3D5485;
  background: -ms-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
  background: -moz-radial-gradient(center, circle farthest-side, #597CA5 0, #45638D 100%);
  background: -webkit-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%); }
  .modal-closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 20px;
    background: transparent;
    border: none;
    padding-right: 15px;
    color: white;
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans MT';
    line-height: 0; }
    .modal-closeButton:focus {
      outline: 0; }
  .modal-text {
    padding: 20px 48px;
    color: #fff;
    font-family: GSI, 'Gill Sans', GSMT;
    font-weight: 100;
    font-size: 30px;
    line-height: 30px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    margin-bottom: 0; }

body {
  background-color: #558E35;
  font-family: 'McLaren', 'GSMT','GSI','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  overflow: hidden; }

.container {
  width: 600px;
  margin: 0 auto;
  pointer-events: none; }

.board {
  position: relative;
  width: 100%;
  height: 450px;
  pointer-events: none; }

.boardBalls {
  top: 31px;
  height: 382px;
  width: 557px;
  left: 286px;
  position: absolute; }

.operation {
  position: relative;
  display: flex;
  justify-content: center;
  top: 5px;
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 89px;
  background-color: #79BD50; }
  .operation .numbers-element {
    margin-top: 5px; }

.go-button {
  background: transparent url("../../images/get@2x.png");
  background-size: contain;
  position: absolute;
  height: 85px;
  width: 90px;
  right: 5px;
  top: 5px;
  cursor: pointer;
  pointer-events: all;
  border: none; }
  .go-button:focus {
    outline: 0; }

.arm {
  height: 450px; }
  .arm-shake .arm-wrist {
    animation: animationFramesInitArm linear .5s;
    animation-iteration-count: 2;
    transition: all cubic-bezier(0.42, 0, 1, 1);
    transform-origin: 30% 80%; }
  .arm-shake .arm-hand {
    animation: animationFramesInit linear .5s;
    animation-iteration-count: 2;
    transition: all cubic-bezier(0.42, 0, 1, 1);
    transform-origin: 30% 40%; }
  .arm-throw .arm-wrist {
    animation: animationFramesInitArmThrow linear .2s;
    animation-iteration-count: 1;
    transition: all cubic-bezier(0.42, 0, 1, 1);
    transform-origin: 30% 80%; }
  .arm-wrist {
    position: absolute;
    left: 76px;
    top: -223px;
    background-image: url("../../images/arm@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 177px;
    height: 395px; }
  .arm-hand {
    position: absolute;
    top: 0;
    left: 50px;
    background-image: url("../../images/hand@2x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    width: 177px;
    height: 395px;
    margin-top: -100px; }

#balls-thrown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: all; }

.operators {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: linear-gradient(to bottom, #3c6b1f, #3c6b1f);
  border: 1px solid #3c6b1f;
  border-radius: 15px;
  opacity: 0.8;
  color: #fff;
  font-family: "McLaren";
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 4em;
  line-height: 1.2;
  margin-top: 5px;
  list-style: none;
  cursor: pointer; }

.numbers {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 13px -6px; }
  .numbers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .numbers-element {
    display: inline-table;
    width: 75px;
    height: 75px;
    background-image: linear-gradient(to bottom, #3c6b1f, #3c6b1f);
    border: 1px solid #3c6b1f;
    border-radius: 15px;
    opacity: 0.8;
    color: #fff;
    font-family: "McLaren";
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 4em;
    line-height: 1.2;
    margin-top: 20px;
    list-style: none;
    ursor: pointer;
    margin-left: 0;
    margin-right: 0;
    -webkit-user-select: none;
    -ms-user-select: none; }
  .numbers__firstNumber {
    background: #F9C109;
    opacity: 1;
    border: none;
    float: left;
    width: 78px;
    height: 78px;
    text-shadow: none; }
  .numbers__secondNumber {
    background: #61355F;
    opacity: 1;
    border: none;
    float: left;
    width: 78px;
    height: 78px;
    text-shadow: none; }
  .numbers__resultNumber {
    background: #858585;
    opacity: 1;
    border: none;
    width: 78px;
    height: 78px;
    text-shadow: none;
    float: left; }
  .numbers-dropped {
    border: inherit;
    font-size: inherit;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto; }

.operationContainer {
  display: table;
  width: 500px;
  position: relative;
  left: 28px;
  overflow-y: visible; }

.sign {
  text-align: center;
  vertical-align: middle;
  margin-top: 7px;
  color: #568E35;
  width: 100px;
  height: 90px;
  font-size: 5em;
  display: inline;
  line-height: 1;
  float: left;
  font-family: "GSI", "Gill Sans", "GSMT", "Gill Sans MT", Calibri, sans-serif;
  font-size: 83px;
  font-weight: 500;
  -webkit-user-select: none;
  -ms-user-select: none; }

.audio-container {
  width: 75px;
  height: 75px;
  margin: -10px auto;
  background-image: url("../../images/base/_instructions-sound.png");
  cursor: pointer; }

.ball {
  width: 38px;
  height: 38px;
  background: #fff;
  border-radius: 25px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  position: absolute; }
  .ball-yellow {
    background: #F9C109; }
  .ball-purple {
    background: #61355F; }

.ball1 {
  animation-name: throwMarvels;
  left: 35%;
  top: 35%; }

.ball2 {
  animation-name: throwMarvels;
  left: 40%;
  top: 40%; }

.ball3 {
  animation-name: throwMarvels;
  left: 35%;
  top: 70%; }

.ball4 {
  animation-name: throwMarvels;
  left: 60%;
  top: 48%; }

.ball5 {
  animation-name: throwMarvels;
  left: 45%;
  top: 55%; }

.ball6 {
  animation-name: throwMarvels;
  left: 45%;
  top: 67%; }

.ball7 {
  animation-name: throwMarvels;
  left: 48%;
  top: 42%; }

.ball8 {
  animation-name: throwMarvels;
  left: 53%;
  top: 58%; }

.ball9 {
  animation-name: throwMarvels;
  left: 56%;
  top: 73%; }

.ball10 {
  animation-name: throwMarvels;
  left: 53%;
  top: 16%; }

.check-button {
  background: url("../../images/Tick_normal.png") no-repeat;
  background-size: contain;
  width: 70px;
  height: 49px;
  margin-left: 6px;
  margin-top: 20px;
  list-style: none;
  position: absolute;
  display: inline; }
  .check-button-hide {
    visibility: hidden; }

.check-correct {
  background: url("../../images/Tick_right.png") no-repeat;
  background-size: contain; }

.check-incorrect {
  background: url("../../images/Tick_wrong.png") no-repeat;
  background-size: contain; }

.numbers-area-disabled {
  pointer-events: none; }

.ui-resizable, .ui-sortable, .ui-draggable, .ui-droppable {
  -ms-touch-action: none;
  touch-action: none; }

@media (max-width: 768px) {
  .numbers-element {
    margin-left: 30px;
    margin-right: 30px; }
  .container {
    width: 768px; }
  .boardBalls {
    width: 423px;
    left: 239px; }
  .numbers-container, .numbers {
    width: 768px; } }

@media (max-width: 960px) {
  .numbers-element {
    margin-left: 30px;
    margin-right: 30px; }
  .container {
    width: 768px; }
  .boardBalls {
    width: 423px;
    left: 239px; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container, .board {
    max-height: 768px; } }

@media (min-width: 1024px) {
  .container {
    width: 1024px; }
  .numbers-container {
    flex-wrap: nowrap; }
  .numbers-element {
    margin-top: 0; }
    .numbers-element:nth-child(2n) {
      margin-left: 7px;
      margin-right: 7px; } }
