/* Include all sass files you need */
/* HELPERS*/
/* Fonts */
/* Font-size */
/* Colors*/
/* Folders */
/** Base Elements */
@font-face {
  font-family: 'GillSansInfant';
  src: url(../../fonts/gilsbbd.eot); }

@font-face {
  font-family: 'GillSansInfant';
  src: url(../../fonts/gilsbbd.ttf); }

@font-face {
  font-family: 'GillSansReg';
  src: url(../../fonts/gilsbrg.eot); }

@font-face {
  font-family: 'GillSansReg';
  src: url(../../fonts/gilsbrg.ttf); }

@font-face {
  font-family: 'GillReg';
  src: url(../../fonts/GilSandsRegular.ttf); }

@font-face {
  font-family: 'mclarenregular';
  src: url(../../fonts/McLarenRegular.ttf); }

/*------------------------------------*    $RESET
\*------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

@keyframes throwBall {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(720deg);
    top: 180px; } }

@keyframes throwShadow {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-720deg);
    height: 80px;
    width: 80px;
    top: 240px; } }

@keyframes highlight {
  0% {
    box-shadow: inset 0px 0px 50px 0px rgba(225, 0, 0, 0); }
  30% {
    box-shadow: inset 0px 0px 50px 0px #e10000; }
  100% {
    box-shadow: inset 0px 0px 50px 0px rgba(225, 0, 0, 0); } }

@keyframes reset {
  0% {
    transform: rotate(0deg);
    background-image: url("../../images/btResetOn@2x.png"); }
  50% {
    background-image: url("../../images/btResetOff@2x.png"); }
  100% {
    transform: rotate(-360deg);
    background-image: url("../../images/btResetOff@2x.png"); } }

@-webkit-keyframes throwShadow {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-720deg);
    top: 250px;
    height: 80px;
    width: 80px; } }

@-webkit-keyframes highlight {
  0% {
    box-shadow: inset 0px 0px 50px 0px rgba(225, 0, 0, 0); }
  30% {
    box-shadow: inset 0px 0px 50px 0px #e10000; }
  100% {
    box-shadow: inset 0px 0px 50px 0px rgba(225, 0, 0, 0); } }

@-webkit-keyframes reset {
  0% {
    transform: rotate(0deg);
    background-image: url("../../images/btResetOn@2x.png"); }
  50% {
    background-image: url("../../images/btResetOff@2x.png"); }
  100% {
    transform: rotate(-360deg);
    background-image: url("../../images/btResetOff@2x.png"); } }

/* COMPONENTS */
/*
  Example:
  <section class="icons">
      <button class="icon-info icon-information" id='infoButton'></button>
      <button class="icon-info icon-reset icon-reset-inactive" id='cleanButton'></button>
    </section>
  
  Just one icion example:
    <button class="icon-info icon-information" id='infoButton'></button>
 */
.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 14px;
  position: relative; }

.icon-info {
  width: 34px;
  height: 36px;
  background-color: transparent;
  background-position: center center;
  background-size: 100%;
  margin-top: -1px;
  margin-right: 17px;
  border: none;
  cursor: pointer; }
  .icon-info:focus {
    outline: 0; }

.icon-information {
  background-image: url("../../images/btInfoOn@2x.png");
  background-size: cover;
  opacity: 0.9;
  width: 29px;
  height: 31px;
  position: absolute;
  right: 88px; }
  .icon-information-inactive {
    background-image: url("../../images/btInfoOff.png"); }

.icon-reset {
  background-image: url("../../images/btResetOn@2x.png");
  background-position: center center;
  background-size: contain;
  position: absolute;
  width: 34px;
  height: 33px;
  right: 33px; }
  .icon-reset-active {
    background-image: url("../../images/btResetOn@2x.png");
    background-position: center center;
    background-size: contain; }
  .icon-reset-inactive {
    background-image: url("../../images/btResetOn@2x.png");
    background-position: center center;
    background-size: contain;
    opacity: .2; }
  .icon-reset-scroll {
    animation: reset 1s; }

.check-button {
  background: url("../../images/submit.png") no-repeat;
  background-size: 100% 100%;
  width: 90px;
  height: 66px;
  margin-left: 18px;
  margin-top: 11px;
  list-style: none;
  position: absolute; }
  .check-button-disabled {
    opacity: 0.5; }
  .check-button-hide {
    visibility: hidden; }

.check-correct {
  background: url("../../images/tick.png") no-repeat;
  background-size: contain; }

.check-incorrect {
  background: url("../../images/wrong.png") no-repeat;
  background-size: contain; }

.go-button {
  height: 50px;
  width: 74px;
  margin-top: 15px;
  margin-left: 152px;
  margin-right: 58px;
  border-radius: 10px;
  border: 4px solid #14642d;
  background: -webkit-linear-gradient(top, #7ae203, #17a817);
  background: -ms-linear-gradient(top, #7ae203, #17a817);
  background: -moz-linear-gradient(top, #7ae203, #17a817);
  color: #fff;
  font-family: GillSansReg;
  text-align: center;
  font-size: 32px;
  line-height: 50px;
  cursor: pointer;
  position: absolute; }
  .go-button-correct, .go-button-incorrect {
    font-size: 0;
    width: 149px;
    border: none; }
  .go-button-correct {
    background: url(../../images/playagain.png) no-repeat; }
  .go-button-incorrect {
    background: url(../../images/tryagain.png) no-repeat; }
  .go-button-hide {
    display: none; }

/*
    Example:

    <section id="instructionsText" class="layer">      
      <section class="modal">          
            <button class="icon-info icon-information"></button>
            <button id="closeButton" class="modal-closeButton">x</button>            
            <p class="modal-text">

                Read the equation below the monsters.<br>Tap monsters to knock them down and show the subtraction.<br>If you knock down too many monsters, tap the reset button.<br>Drag a number tile to the orange box to complete the equation.<br>Tap the arrows to move to another problem.</span>
            </p>

            <div class="audio-container"  id='audioButton'>
                <audio src="./audio/imth-1-0-whatsinbag.mp3" id="audio" autopla></audio>
            </div>            
      </section>

 */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center; }
  .layer-hide {
    display: none; }
  .layer .icon-information {
    position: absolute;
    left: 10px;
    top: 10px; }

.modal {
  position: relative;
  top: 7%;
  width: 580px;
  height: 470px;
  margin-top: 40px;
  word-wrap: break-word;
  border: 2px solid #7ea0c6;
  background: #3D5485;
  background: -ms-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
  background: -moz-radial-gradient(center, circle farthest-side, #597CA5 0, #45638D 100%);
  background: -webkit-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
  padding: 20px 35px 35px; }
  .modal-closeButton {
    font-family: 'Icons';
    color: white;
    font-size: 55px;
    opacity: .6;
    display: block;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
    font-family: 'Icons';
    text-shadow: 0px 2px #000; }
    .modal-closeButton:focus {
      outline: 0; }
  .modal-text {
    color: #fff;
    font-family: GillReg;
    font-size: 30px;
    line-height: 1.4em;
    text-shadow: 0 2px 0 black;
    margin-bottom: 0;
    padding-left: 15px;
    padding-top: 39px; }
  .modal .icon-information {
    top: 6%;
    left: 2%;
    width: 32px;
    height: 32px;
    background-image: url("../../images/btInfoOn.png");
    background-size: 100% 100%;
    opacity: .6; }

.audio-container {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("../../images/audioICON.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 11px;
  margin-left: 265pxz; }

/*
    Example: Opeeration

    <section class="operation" id="results">
        <button  class='arrow arrow-prev arrow-hide'> </button>
        <li class="numbers-element numbers__firstNumber" id="valueOne">9</li>
        <li class="sign sign_plus">-</li>
        <li class="numbers-element numbers__secondNumber" id="valueTwo">0</li>
        <li class="sign sign_equal">=</li>
        <li class="numbers-element numbers__resultNumber" id="valueThree"></li>
        <li class="check-button check-button-hide" id="checkBtn"></li>
        <button class='arrow arrow-next'> </button>
    </section>

    Example: Numbers
    <section class="numbers">
        <ul class="numbers-container" id="numbers">
            <li class="numbers-element" id="num0" draggable="true">0</li>
            <li class="numbers-element" id="num1" draggable="true">1</li>
            <li class="numbers-element" id="num2" draggable="true">2</li>
            <li class="numbers-element" id="num3" draggable="true">3</li>
            <li class="numbers-element" id="num4" draggable="true">4</li>
            <li class="numbers-element" id="num5" draggable="true">5</li>
            <li class="numbers-element" id="num6" draggable="true">6</li>
            <li class="numbers-element" id="num7" draggable="true">7</li>
            <li class="numbers-element" id="num8" draggable="true">8</li>
            <li class="numbers-element" id="num9" draggable="true">9</li>
        </ul>
      </section>

 */
.equation {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  margin: auto;
  padding-top: 7px;
  box-sizing: border-box;
  max-width: 1024px;
  width: 100%;
  height: 100px;
  background-color: #02a676;
  color: white; }
  .equation .sign {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-right: 20px;
    text-shadow: 2px 2px 0 #d37c00;
    background: #fe8d31;
    border-radius: 8px;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 50px;
    font-family: mclarenregular;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    list-style: none; }

.numbers {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  height: 203px;
  margin: auto;
  background: -webkit-linear-gradient(top, #007369, #008c72);
  background: -ms-linear-gradient(top, #007369, #008c72);
  background: -moz-linear-gradient(top, #007369, #008c72);
  background: linear-gradient(top, #007369, #008c72);
  border-top: 2px solid #ffffff;
  border-bottom: 3px solid #ffffff; }
  .numbers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .numbers-element {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 15px;
    text-shadow: 2px 2px 0 #d37c00;
    background: #fe8d31;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 50px;
    font-family: mclarenregular;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    list-style: none; }
    .numbers-element:nth-child(2n) {
      margin-left: 20px;
      margin-right: 20px; }
    .numbers-element-dragged {
      margin-top: -1px;
      margin-left: -1px !important; }
  .numbers-empty {
    background: white;
    border: 1px dashed #1B4F1B;
    width: 62px;
    height: 62px; }
  .numbers__firstNumber {
    opacity: 1;
    text-shadow: none; }
  .numbers__secondNumber {
    opacity: 1;
    text-shadow: none; }
  .numbers__resultNumber {
    opacity: 1;
    text-shadow: none; }
  .numbers-wrong {
    background: #ff4600; }

html, body {
  background-image: -webkit-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: -ms-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%); }

body {
  font-family: 'Gill Sans Infant','Gill Sans','Gill Sans MT',Calibri,sans-serif;
  overflow: hidden; }

footer {
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center; }

.container {
  width: 680px;
  margin: 0 auto; }

.board {
  position: relative;
  width: 100%;
  height: 435px;
  background: url("../../images/anim_bg.png") no-repeat;
  background-size: 100% 100%; }

.monsters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: initial;
  display: -webkit-flex;
  -webkit-box-pack: end;
  -webkit-flex-wrap: wrap;
  padding-top: 110px;
  margin: 0 auto;
  height: 100%; }
  .monsters[data-slide='1'] {
    padding-top: 10%;
    width: 86%; }
    .monsters[data-slide='1'] .monster:nth-child(6) {
      margin-right: 0; }
    .monsters[data-slide='1'] .monster:nth-child(6n) ~ .monster {
      display: none; }
  .monsters[data-slide='2'] {
    padding-top: 10%;
    width: 86%; }
    .monsters[data-slide='2'] .monster:nth-child(5) {
      margin-right: 0; }
    .monsters[data-slide='2'] .monster:nth-child(5n) ~ .monster {
      display: none; }
  .monsters[data-slide='3'] {
    width: 68%; }
    .monsters[data-slide='3'] .monster:nth-child(7) {
      margin-right: 0; }
    .monsters[data-slide='3'] .monster:nth-child(7n) ~ .monster {
      display: none; }
  .monsters[data-slide='4'] {
    padding-top: 10%;
    width: 86%; }
    .monsters[data-slide='4'] .monster:nth-child(4) {
      margin-right: 0; }
    .monsters[data-slide='4'] .monster:nth-child(4n) ~ .monster {
      display: none; }
  .monsters[data-slide='5'] {
    width: 67%; }
    .monsters[data-slide='5'] .monster:nth-child(4), .monsters[data-slide='5'] .monster:nth-child(8) {
      margin-right: 0; }
    .monsters[data-slide='5'] .monster:nth-child(8n) ~ .monster {
      display: none; }

.monster {
  width: 120px;
  height: 150px;
  margin-left: -50px;
  background-image: url("../../images/char1.png");
  background-size: 200% 100%;
  transition: all .3ms ease; }
  .monster:nth-child(2) {
    background-image: url("../../images/char2.png"); }
  .monster:nth-child(3) {
    background-image: url("../../images/char3.png"); }
  .monster:nth-child(4) {
    background-image: url("../../images/char4.png"); }
  .monster:nth-child(5) {
    background-image: url("../../images/char5.png"); }
  .monster:nth-child(6) {
    background-image: url("../../images/char6.png"); }
  .monster:nth-child(7) {
    background-image: url("../../images/char7.png"); }
  .monster:nth-child(8) {
    background-image: url("../../images/char8.png"); }
  .monster:nth-child(9) {
    background-image: url("../../images/char9.png");
    margin-right: 0; }
  .monster:nth-child(10) {
    background-image: url("../../images/char10.png");
    margin-right: 0; }
  .monster-hide {
    display: none; }
  .monster-highlight {
    animation: highlight 1s;
    border-radius: 50px; }
  .monster-down {
    transform-origin: 0% 100%;
    animation: animObjEnd 0.2s;
    animation-timing-function: ease-out; }
  .monster-laying-left {
    transform-origin: 52% 105%;
    transform: rotate(-80deg);
    background-position: -100% 0%; }
  .monster-laying-right {
    transform-origin: 52% 110%;
    transform: rotate(80deg);
    background-position: -100% 0%; }

.static-equation {
  height: 100%;
  font-size: 70px;
  font-family: mclarenregular;
  color: #000;
  text-align: right;
  line-height: 100px; }
  .static-equation-hide {
    display: none; }

.ball {
  position: absolute;
  top: 100%;
  left: 45%;
  height: 80px;
  width: 80px;
  background-image: url(../../images/ball.png);
  border-radius: 50%;
  transform-origin: 50% 50%;
  transition: all 1200ms ease; }
  .ball-animation {
    animation: throwBall 1200ms linear; }
  .ball-shadow {
    top: 150%;
    left: 45%;
    height: 0;
    width: 0;
    background-image: url(../../images/ballShad.png);
    transform-origin: 50% 50%;
    transform: rotate(-180deg); }
    .ball-shadow-animation {
      animation: throwShadow 1200ms ease-out; }

.audios {
  display: none; }

@media (min-width: 800px) {
  .container {
    width: 800px; }
  .numbers {
    height: 203px; }
  .monsters {
    padding-top: 13%; }
  .monster {
    width: 135px; } }

@media (min-width: 1024px) {
  .container {
    width: 1024px; }
  .monsters {
    justify-content: center;
    -webkit-justify-content: center;
    padding-top: 10%; }
  .numbers {
    height: 86px; }
    .numbers-container {
      flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap; }
    .numbers-element {
      margin-left: 0px;
      margin-right: 20px; }
      .numbers-element:nth-child(1) {
        margin-left: 20px; }
      .numbers-element:nth-child(2n) {
        margin-left: 0px;
        margin-right: 20px; }
  .equation {
    justify-content: center;
    -webkit-justify-content: center; } }

@media (min-width: 768px) and (orientation: portrait) {
  .container {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: 100vh; }
  .monsters {
    justify-content: center; }
    .monsters[data-slide='1'], .monsters[data-slide='2'], .monsters[data-slide='4'] {
      padding-top: 110px; }
    .monsters[data-slide='5'] {
      width: 73%; }
  .numbers-container .numbers-element {
    display: inline-table;
    margin-left: 30px;
    margin-right: 30px; }
  .equation {
    padding-left: 7%;
    box-sizing: border-box; }
    .equation .sign {
      margin-right: 0; } }
