
@font-face{
	font-family: 'GillSansIno';
	src: url(../../fonts/gilsbrg.woff);
}
@font-face{
	font-family: 'GillSansInfant';
	src: url(../../fonts/gilsbbd.woff);
}

@font-face{
	font-family: 'gilsansInfantBold';
	src: url(../../fonts/gilsbbd.woff);
}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html{-ms-content-zooming:none}
body, html {
	-ms-touch-action: none;
	-ms-user-select: none;
}

*{
	margin: 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@font-face{
	font-family:'Gill Sans';
	src: url('../../fonts/gillsans.ttf');
}

@font-face{
	font-family:'McLaren';
	src: url('../../fonts/McLarenRegular.ttf');
}

body{
	margin: 0;
	background-color: #547C3A;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #707070;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contentHolder{
	height: 704px;
	width: 1024px;
	margin:auto;
}

.container {
	background: url(../../images/Background.png);/
	background-size: cover;
	background-repeat: no-repeat;
    /*background-size: 1070px;Based on vendor's version*/
	width: 1024px;
	height: 704px;/*704 -> 674 ojo*/
	margin: auto;
	position: relative;
}

.content{
	width: 1024px;
	height: 704px;
	overflow: hidden;
}


._InitGame_iModal {
	position: absolute;
	width: 1024px;
	height: 100%;
	background: rgba(0,0,0,0.7);

	z-index: 1;
}

.player1InitGame_iModal, .player2InitGame_iModal {
	width: 284px;
	height: 63px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.player1InitGame_iModal {
	background-color: #D88426;
	margin-top: 30px;
}
.player1InitGame_iModal img{
	padding-top: 14px;
	float: left;
	padding-left: 38px;
}
.player2InitGame_iModal .imagen1{
	padding-top:10px;
	float:left;
	padding-left:15px;
}
.player2InitGame_iModal .imagen2{
	padding-top:17px;
	float:left;
}
.player2InitGame_iModal {
	background-color: #AFC423;
	margin-top: 40px;
}

.player1InitGame_iModal > h3, .player2InitGame_iModal > h3, .startInitGame_iModal > h3 {
	    font-family: 'Gill Sans';
    font-size: 2em;
    padding-left: 26px;
    color: #fff;
    padding-top: 12px;
    cursor: default;
    float: left;
}

.titleInitGame_iModal, .player1InitGame_iModal, .player2InitGame_iModal, .startInitGame_iModal {
	text-align: center;
	font-family: GillSansInfant;
}

.AbsoluteCenter_InitGame_iModal > input {
	display: table;
	width: 80%;
	height: 31px;
	margin: 20px auto;
	left: 0;
	right: 0;
	background-color: #fff;
	border: 0px solid;
	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

input:focus {
	outline:none;
}

.startInitGame_iModal {
	background-color: #D88426;
	width: 284px;
	height: 63px;
	left: 0;
	right: 0;
	margin: 0 auto;

	-webkit-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
}

.playerIcon {
	background-image: url(../../images/playericon@2x.png);
	background-size: 55px 54px;
	background-repeat: no-repeat;
	width: 55px;
	height: 54px;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.selectPlayers > .AbsoluteCenter_InitGame_iModal > .titleInitGame_iModal > h3 {
	color: #fff;
	font-family: 'Gill Sans';
	font-size: 3em;
}

.enterNick > .AbsoluteCenter_InitGame_iModal > .titleInitGame_iModal > h3 {
	margin-top: 18px;
	color: #fff;
	font-family: 'Gill Sans';
	font-size: 2em;
}

.AbsoluteCenter_InitGame_iModal {
	/*resize: both;*/
	width: 460px;
	height: 300px;
	overflow: auto;
	-ms-filter: none;
	filter: none;
	/*background: #ccc;*/
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

/**********************************************/

.imagesBackgroundScores {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.imagesBackgroundScores > .topFish {
	top: 20px; right: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/fish@2x.png);
	background-size: 93px 49px;
	background-repeat: no-repeat;
	width: 93px;
	height: 49px;
}

.imagesBackgroundScores > .bottomFish {
	-webkit-transform: rotate(25deg);
	-ms-transform: rotate(25deg);
	bottom: 70px; right: 50px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/fish@2x.png);
	background-size: 93px 49px;
	background-repeat: no-repeat;
	width: 93px;
	height: 49px;
}

.imagesBackgroundScores > .topTurtle {
	top: 40px; left: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/turtle@2x.png);
	background-size: 67px 77px;
	background-repeat: no-repeat;
	width: 67px;
	height: 77px;
}

.imagesBackgroundScores > .leftTurtle {
	-webkit-transform: scale(2,2) rotate(-51deg);
	-ms-transform: scale(2,2) rotate(-51deg);
	left: 141px; bottom: 108px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/turtle@2x.png);
	background-size: 67px 77px;
	background-repeat: no-repeat;
	width: 67px;
	height: 77px;
}

.imagesBackgroundScores > .rightTurtle {
	-webkit-transform: rotate(-51deg);
	-ms-transform: rotate(-51deg);
	right: 141px; bottom: 160px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/turtle@2x.png);
	background-size: 67px 77px;
	background-repeat: no-repeat;
	width: 67px;
	height: 77px;
}

.imagesBackgroundScores > .leftDragonFly {
	left: 254px; top: 160px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/dragon@2x.png);
	background-size: 103px 77px;
	background-repeat: no-repeat;
	width: 103px;
	height: 77px;
}

.imagesBackgroundScores > .rightDragonFly {
	right: 60px; top: 190px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/dragon@2x.png);
	background-size: 103px 77px;
	background-repeat: no-repeat;
	width: 103px;
	height: 77px;
}

/**********************************************/

.boxContainerScore {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 500px;
	height: 314px;
	display: table;
	/*background-color: #ccc;*/
	/*border: 1px solid #000; */
}

.boxContainerScore > .boxContainerScoreTime {
	position: relative;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	display: table;
	margin-top: 5px;
}

.boxContainerScore > .boxContainerScoreTime > .imageTime {
	background-image: url(../../images/time@2x.png);
	background-size: 53px 52px;
	background-repeat: no-repeat;
	width: 53px;
	height: 52px;
	float: left;
}

.boxContainerScore > .boxContainerScoreTime > h3 {
	color: #fff;
	margin-top: 15px;
	margin-left: 10px;
	float: left;
}

.boxContainerScore > .playAgain {
	position: absolute;
	/*pointer-events: none;*/
	z-index: 993;
	width: 207px;
	height: 46px;
	text-align: center;
	background-color: #AFC423;
	left: 0; right: 0;
	margin: 10px auto;
}

.boxContainerScore > .playAgain > h3 {
	color: #fff;
	margin-top: 10px;
	font-size: 1.5em;
	font-family: Gill Sans;
}

.boxContainerScore > .boxContainerScoreTitle {
	pointer-events: none;
	/* background-image: url(../images/scoretitle@2x.png); */
	background-size: 177px 59px;
	background-repeat: no-repeat;
	width: 177px;
	height: 59px;
	left: 0;
	right: 0;
	margin: auto;
	text-align:center;
	color: #fff;
	font-size: 4em;
	font-weight: 300;
	font-family: GillSansInfant;
}

.boxContainerScore {
	position: absolute;
	/*pointer-events: none;*/
	display: block;
}

/**********************************************/

.boxContainerScorePlayers {
	margin: 20px auto;
	display: table;
}

.boxContainerScorePlayers > .boxContainerScoreSpacer {
	display: table-cell;
	position: relative;
	width: 20px;
	pointer-events: none;
}

.boxContainerScorePlayers > div > .boxContainerScoreHeader1 {
	display: table-cell;
	position: relative;
	pointer-events: none;
	width: 207px;
	height: 46px;
	text-align: center;
}

.boxContainerScorePlayers > div > .boxContainerScoreHeader2 {
	display: table-cell;
	position: relative;
	pointer-events: none;
	width: 207px;
	height: 46px;
	text-align: center;
}



.boxContainerScoreHeader1 > h3, .boxContainerScoreHeader2 > h3 {
	color: #fff;
	margin-top: 10px;
}

.boxContainerScoreValue > h3 {
	color: #fff;
	padding-top: 20px;
	margin-left: 10px;
	float:left;
	font-size: 24px;
	line-height: 1;

}

.boxContainerScoreValue > .imageScore {
	background-image: url(../../images/bubbleColor@2x.png);
	background-size: 45px 44px;
	background-repeat: no-repeat;
	width: 45px;
	height: 44px;
	float: left;
	margin-top: 10px;
	margin-left: 33%;
}

.imagesBackgroundMain {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

.imagesBackgroundMain > .turtle {
	top: 20px; left: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/turtle@2x.png);
	background-size: 67px 77px;
	background-repeat: no-repeat;
	width: 67px;
	height: 77px;
}

.imagesBackgroundMain > .fish {
	top: 50px; right: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/fish@2x.png);
	background-size: 93px 49px;
	background-repeat: no-repeat;
	width: 93px;
	height: 49px;
}

.imagesBackgroundMain > .leftDragonFly {
	top: 50%; left: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/dragon@2x.png);
	background-size: 103px 77px;
	background-repeat: no-repeat;
	width: 103px;
	height: 77px;
}

.imagesBackgroundMain > .rightDragonFly {
	top: 50%; right: 20px;
	position: absolute;
	pointer-events: none;
	background-image: url(../../images/dragon@2x.png);
	background-size: 103px 77px;
	background-repeat: no-repeat;
	width: 103px;
	height: 77px;
	-webkit-transform:rotate(-125deg);
	-ms-transform:rotate(-125deg);
}

.boxContainerPlayer {
	position: absolute;
	pointer-events: none;
	width: 207px;
	height: 220px;
}

.boxPlayerContainer1 {
	left: 10px; bottom: 102px;
}

.boxPlayerContainer2 {
	right: 10px; bottom: 102px;
}

.boxContainerPlayerHeader {
	position: absolute;
	pointer-events: none;
	width: 207px;
	height: 133px;
	text-align: center;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader {
	position: relative;
}

.boxPlayerContainer2 > .boxContainerPlayerHeader {
	position: relative;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > h3, .boxPlayerContainer2 > .boxContainerPlayerHeader > h3 {
	margin-top: 10px;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > h3, .boxPlayerContainer2 > .boxContainerPlayerHeader > h3 {
	color: #fff;
}

.delphin {
	background-image: url(../../images/delphin@2x.png);
	background-size: 118px 130px;
	background-repeat: no-repeat;
	width: 118px; height: 130px;
	top: 0px; bottom: 0; left: 0; right: 0; margin: auto;
}
.dolphin {
  background-image: url(../../images/delphin@2x.png);
  background-size: 118px 130px;
  background-repeat: no-repeat;
  width: 118px; height: 130px;
  top: 0px; 
  bottom: 0; 
  left: 5%; 
  right: 0; 
  margin: auto;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > .delphin, .boxPlayerContainer2 > .boxContainerPlayerHeader > .delphin {
	max-height:133px; max-width:207px;
	position: absolute;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > .hippocampus, .boxPlayerContainer2 > .boxContainerPlayerHeader > .hippocampus {
	background-image: url(../../images/Hippocampus@2x.png);
	background-size: 74px 139px;
	background-repeat: no-repeat;
	width: 74px; height: 139px;
	top: 0px; bottom: 0; left: 0; right: 0; margin: auto;
	max-height:133px; max-width:207px;
	position: absolute;
}

.octopus {
	top: 0px; bottom: 0; left: 0; right: 0; margin: auto;
	background-image: url(../../images/octopus@2x.png);
	background-size: 132px 164px;
	background-repeat: no-repeat;
	width: 132px; height: 164px;
}

.octopus.disabled{
	background-image: url(../../images/octopusbw@2x.png) !important;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > .octopus , .boxPlayerContainer2 > .boxContainerPlayerHeader > .octopus {
	max-height:133px; max-width:207px;
	position: absolute;
}

.otter {
	top: 0px; bottom: 0; left: 0; right: 0; margin: auto;
	background-image: url(../../images/otter@2x.png);
	background-size: 131px 86px;
	background-repeat: no-repeat;
	width: 161px;
	height: 131px;
}

.otter.disabled{
	background-image: url(../../images/otterbw@2x.png) !important;
}

.boxPlayerContainer1 > .boxContainerPlayerHeader > .otter, .boxPlayerContainer2 > .boxContainerPlayerHeader > .otter {
	max-height:133px; max-width:207px;
	position: absolute;
}

.boxContainerPlayerScore {
	position: relative;
	width: 111px;
	height: 138px;
	top: 5px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
	font-size: 16px;
	font-family: GillSansInfant;
	font-size: 16px;
}

.boxContainerPlayerScore > h3:nth-child(1){
	color:#fff;
}

.boxPlayerContainer1 > .boxContainerPlayerScore > div {
	background-color: #D88426;
}

.boxPlayerContainer2 > .boxContainerPlayerScore > div {
	background-color: #AFC423;
}

.boxPlayerContainer1 > .boxContainerPlayerScore.disabled > div {
	background-color: #909090;
}

.boxPlayerContainer2 > .boxContainerPlayerScore.disabled > div {
	background-color: #909090;
}


.boxContainerPlayerScore > div > h3 {
	font-family: 'McLaren';
	font-size: 4.5em;
	color: #fff;
	cursor: default;
}

.disable.boxPlayerContainer1, .disable.boxPlayerContainer2 {
	-webkit-transition-duration: .1s;
	-webkit-transform: scale(0.75);

	-ms-transition-duration: .1s;
	-ms-transform: scale(0.75);

	transition-duration: .1s;
	transform: scale(0.75);
}

.boxContainerEquation {
	position: absolute;
	pointer-events: none;
	background-color: #fff;
	width: 305px;
	height: 114px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 40px auto;
	text-align: center;
}

.boxContainerEquation > .containerEquation {
	position: relative;
	display: table;
	margin: auto;
	margin-top: 17px;
}

.boxContainerEquation > .containerEquation > .number {
	color: #3F692A;
	float: left;
	font-family: 'McLaren';
	font-size: 4em;
}

.boxContainerEquation > .containerEquation > .operator {
  color: #3F692A;
  float: left;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Gill Sans';
  font-size: 4em;
}

.boxContainerBubbles{
	position: absolute;
	width: 580px;
	height: 430px;
	left: 0;
	right: 0;
	margin: auto;
	top: 10px;
}


.init-animation{
	-webkit-transform:scale(1.1,1.1);
	-webkit-filter: blur(8px);
	-ms-transform:scale(1.1,1.1);
	-ms-filter: blur(8px);
	transform:scale(1.1,1.1);
	filter: blur(8px);
	opacity: 0;
}

.bubbleContainer {
	-webkit-transition:-webkit-transform .7s, opacity .3s ease-in-out,-webkit-filter 1s;
	-ms-transition:-ms-transform .7s, opacity .3s ease-in-out,-ms-filter 1s;
	transition:-webkit-transform .7s, opacity .3s ease-in-out,filter 1s;
	width: 116px;
	height: 107px;
	float:left;
}

.bubbleContainer > .bubble {
	background-size: 106px 105px;
	background-repeat: no-repeat;
	width: 106px;
	height: 105px;
	text-align: center;
}
.bubble_element{
	width: 106px;
	height: 105px;
	background-image: url(../../images/bubble@2x.png);
	position:absolute;
	top: 0;
	/*-webkit-transform: all 6s cubic-bezier(0.190, 1.000, 0.220, 1.000);*/
}

.bubbleContainer > .bubble > h3 {
	font-family: 'McLaren';
	font-size: 3.5em;
	color: #fff;
	padding-top: 12px;
	cursor: default;
	position: relative;
	z-index: 1;
}
.bubble_floating_0{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating1 linear 10s infinite;
    -moz-transform: translate(-5px,-5px);
	-moz-animation: bubbleFloating1 linear 10s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating1 linear 10s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating1 linear 10s infinite;
}
.bubble_floating_1{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating1 linear 10s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating1 linear 10s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating1 linear 10s infinite;
}
.bubble_floating_2{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating1 linear 7s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating1 linear 7s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating1 linear 7s infinite;
}
.bubble_floating_3{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating1 linear 13s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating1 linear 13s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating1 linear 13s infinite;
}
.bubble_floating_4{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating3 linear 13s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating3 linear 13s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating3 linear 13s infinite;
}
.bubble_floating_5{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating3 linear 10s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating3 linear 10s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating3 linear 10s infinite;
}
.bubble_floating_6{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: bubbleFloating3 linear 6s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: bubbleFloating3 linear 6s infinite;
	transform: translate(-5px,-5px);
	animation: bubbleFloating3 linear 6s infinite;
}
.correct{
	-webkit-transform: translate(-5px,-5px);
	-webkit-animation: correct linear 2s infinite;
	-ms-transform: translate(-5px,-5px);
	-ms-animation: correct linear 2s infinite;

	transform: translate(-5px,-5px);
	animation: correct linear 2s infinite;


	opacity:0;
	background-image: url(../../images/bubbleColor@2x.png);
}
.floatAway{
	-webkit-animation: floatAway linear 4s 1;
	-ms-animation: floatAway linear 4s 1;
	animation: floatAway linear 4s 1;
}
.correctBackground{
	background-image: url(../../images/bubbleColor@2x.png);
	z-index: 0;
	opacity:0;
	-webkit-transition:opacity .3s ease-in-out;
	-ms-transition:opacity .3s ease-in-out;
	transition:opacity .3s ease-in-out;
}

@-webkit-keyframes floatAway {
	from{-webkit-transform: translate()}
	to{
		-webkit-transform: translateY(-2400px);
		opacity:0;
		display:none;
	}
}
@-ms-keyframes floatAway {
	from{-ms-transform: translate()}
	to{
		-ms-transform: translateY(-2400px);
		opacity:0;
		display:none;
	}
}

@keyframes floatAway {
	from{transform: translate()}
	to{
		transform: translateY(-2400px);
		opacity:0;
		display:none;
	}
}
@-webkit-keyframes bubbleFloating1{
	0%{ -webkit-transform: translate(-5px,-5px);}
	40%{ -webkit-transform: translate(5px,0px); }
	60%{ -webkit-transform: translate(0px,5px); }
	80%{ -webkit-transform: translate(-5px,0); }
	100%{-webkit-transform: translate(-5px,-5px);}
}
@-ms-keyframes bubbleFloating1{
	0%{ -ms-transform: translate(-5px,-5px);}
	40%{ -ms-transform: translate(5px,0px); }
	60%{ -ms-transform: translate(0px,5px); }
	80%{ -ms-transform: translate(-5px,0); }
	100%{-ms-transform: translate(-5px,-5px);}
}



@keyframes bubbleFloating1{
	0%{ transform: translate(-5px,-5px);}
	40%{ transform: translate(5px,0px); }
	60%{ transform: translate(0px,5px); }
	80%{ transform: translate(-5px,0); }
	100%{transform: translate(-5px,-5px);}
}

@-webkit-keyframes correct{
	from{opacity:.3;}
	to{opacity:.5;}
}

@-ms-keyframes correct{
	from{opacity:.3;}
	to{opacity:.5;}
}


@keyframes correct{
	from{opacity:.3;}
	to{opacity:.5;}
}
@-ms-keyframes bubbleFloating3{
	0%{ -ms-transform: translate(5px,5px); }
	40%{ -ms-transform: translate(-5px,0px); }
	60%{ -ms-transform: translate(0px,-5px); }
	80%{ -ms-transform: translate(5px,0); }
	100%{-ms-transform: translate(5px,5px);}
}
@-webkit-keyframes bubbleFloating3{
	0%{ -webkit-transform: translate(5px,5px); }
	40%{ -webkit-transform: translate(-5px,0px); }
	60%{ -webkit-transform: translate(0px,-5px); }
	80%{ -webkit-transform: translate(5px,0); }
	100%{-webkit-transform: translate(5px,5px);}
}

@keyframes bubbleFloating3{
	0%{ transform: translate(5px,5px); }
	40%{ transform: translate(-5px,0px); }
	60%{ transform: translate(0px,-5px); }
	80%{ transform: translate(5px,0); }
	100%{transform: translate(5px,5px);}
}

.popPlayer{
	-webkit-animation: popPlayerFrames linear 0.6s;
	-webkit-animation-iteration-count: 1;
	-webkit-filter: none ;

	-ms-animation: popPlayerFrames linear 0.6s;
	-ms-animation-iteration-count: 1;
	-ms-filter: none ;

	animation: popPlayerFrames linear 0.6s;
	animation-iteration-count: 1;
	filter: none ;

}

@-webkit-keyframes popPlayerFrames {
	0% {
		top: 0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	50% {
		top: -50px;
	}
	100% {
		top: 0px;
		opacity:1;
		-webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
}

@-ms-keyframes popPlayerFrames {
	0% {
		top: 0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	50% {
		top: -50px;
	}
	100% {
		top: 0px;
		opacity:1;
		-ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
}

@keyframes popPlayerFrames {
	0% {
		top: 0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
	50% {
		top: -50px;
	}
	100% {
		top: 0px;
		opacity:1;
		transform:  rotate(0deg) scaleX(1) scaleY(1) ;
	}
}
/* animation geronimo */

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);}
	40% {-webkit-transform: translateX(-10px);}
	60% {-webkit-transform: translateX(-15px);}
}

@-ms-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-ms-transform: translateX(0);}
	40% {-ms-transform: translateX(-10px);}
	60% {-ms-transform: translateX(-15px);}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
	40% {transform: translateX(-10px);}
	60% {transform: translateX(-15px);}
}


.bubble{
	position: relative;
}

._InitGame_iModal.selectPlayers {
    width: 100% !important;
    height: 100% !important;
}

.gilsang {
    font-family: "GillSansIno" !important;
}

@media screen and (max-width: 770px) {
._InitGame_iModal{
    width: 768px;
 
}
.container {
    -webkit-transform: scale(.75);
    left: -140px;
    top: -80px;
}
 
.AbsoluteCenter_iModal {
-webkit-transform: scale(.75); }
}

.soundButton {
  position: relative;
  background-image: url("../../images/instructions-sound.png");
  height: 59px;
  width: 60px;
  left: 45%;
  top: 10px;
}

#onePlayerDolphin {
  position: relative;
  /* padding-top: 14px; */
  background-image: url("../../images/delphin.png");
  float: left;
  width: 40px;
  height: 44px;
  top: 23%;
  left: 13.5%;
}

#twoPlayersOCtopus {
  position: relative;
  background-image: url("../../images/octopus.png");
  float: left;
  width: 35px;
  height: 43px;
  top: 16%;
  left: 5.1%;
}

#twoPlayersOtter {
  position: relative;
  background-image: url("../../images/otter.png");
  float: left;
  width: 43px;
  height: 28px;
  top: 27%;
  left: 5.1%;
}

.inlineTextPlayer {
  font-weight:bold;
  /*font-family: 'gilsansInfantBold';*/
}

.layer-hide {
  display: none;
}