 
@keyframes animationFramesInitHandThrow {
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(-18deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@keyframes animationFramesInitArmThrow {
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(-10deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@keyframes animationFramesEnd {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}

@keyframes animationFramesInitArm {
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(-4deg) ;
  }
  75% {
    transform:  rotate(4deg) ;  
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@keyframes animationFramesInit {
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(-11deg) ;
  }
  75% {
    transform:  rotate(11deg) ; 
  }
  100% {
    transform:  rotate(0deg) ;
  }
} 

@keyframes throwMarvels {
  from {
    left: 22%;
    top: 55%;
  }
}

@keyframes reset {
  0% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media (min-width: 1024px) {
  @keyframes throwMarvels {
    from {
      left: 17%;
      top: 55%;
    }
  }
}

@keyframes animationCoin1 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -14%;
        margin-left: 25%;
    }
}
@keyframes animationCoin2 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -5%;
        margin-left: 21%;
    }
}
@keyframes animationCoin3 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -18%;
        margin-left: 28%;
    }
}
@keyframes animationCoin4 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -18%;
        margin-left: 24%;
    }
}
@keyframes animationCoin5 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -6%;
        margin-left: 30%;
    }
}
@keyframes animationCoin6 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -8%;
        margin-left: 32%;
    }
}
@keyframes animationCoin7 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -12px;
        margin-left: 26%;
    }
}
@keyframes animationCoin8{
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -23%;
        margin-left: 27%;
    }
}
@keyframes animationCoin9{
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -14%;
        margin-left: 30%;
    }
}
@keyframes animationCoin10 {
    from{
        margin-left: 20%;
        margin-top: -15%;
    }
    to{
        margin-top: -16%;
        margin-left: 32%;
    }
}