/* Fonts */
$basefont : "McLaren";
$altFont: 'Gill Sans', 'GSMT';

/* Font-size */
$basefontsize   :   16;

/* Colors*/

$white: #fff;
$firstNumber: #F9C109;

$secondNumber: #61355F;

$resultNumber: #858585;

$signColor: #568E35;

$background:#558E35;

$operationBackground: #79BD50; 

$backgroundLayer:  rgba(#000,0.7);

/* Folders */
$image-dir: '../../images';

$font-dir: '../../fonts';