@keyframes animObjNormal {
    0% {
       transform-origin: 0% 100%;
        transform: rotate(-5deg);
        background-position: -100% 0%}
    50% {
        transform-origin: 100% 100%;
        transform: rotate(5deg);
        background-position: -100% 0%}
    100% {
        transform-origin: 100% 100%;
        transform: rotate(0deg);
        background-position: -100% 0%;
    }
}

@keyframes animObjEnd {
    0% {
        transform-origin: 30% 100%;
        transform: rotate(0deg);
        background-position: -100% 0%
    }
    100% {
        transform-origin: 30% 100%;
        transform: rotate(-60deg);
        background-position: -100% 0%
    }
}

@keyframes reset{
    0%{
        transform: rotate(0deg);
        background-image: url('#{$image-dir}/btResetOn@2x.png');
    }
    50%{
        
        background-image: url('#{$image-dir}/btResetOff@2x.png');
        
    }
    100%{
        transform: rotate(-360deg);
        background-image: url('#{$image-dir}/btResetOff@2x.png');
    }
}

@-webkit-keyframes animObjNormal {
    0% {
       transform-origin: 0% 100%;
        transform: rotate(-5deg);
        background-position: -100% 0%}
    50% {
        transform-origin: 100% 100%;
        transform: rotate(5deg);
        background-position: -100% 0%}
    100% {
        transform-origin: 100% 100%;
        transform: rotate(0deg);
        background-position: -100% 0%;
    }
}

@-webkit-keyframes animObjEnd {
    0% {
        transform-origin: 30% 100%;
        transform: rotate(0deg);
        background-position: -100% 0%
    }
    100% {
        transform-origin: 30% 100%;
        transform: rotate(-60deg);
        background-position: -100% 0%
    }
}

@-webkit-keyframes reset{
    0%{
        transform: rotate(0deg);
        background-image: url('#{$image-dir}/btResetOn@2x.png');
    }
    50%{
        
        background-image: url('#{$image-dir}/btResetOff@2x.png');
        
    }
    100%{
        transform: rotate(-360deg);
        background-image: url('#{$image-dir}/btResetOff@2x.png');
    }
}