/*
    Example:

    <section id="instructionsText" class="layer">      
      <section class="modal">          
            <button class="icon-info icon-information icon-information-inactive"></button>
            <button id="closeButton" class="modal-closeButton">x</button>            
            <p class="modal-text">

                Read the equation below the monsters.<br>Tap monsters to knock them down and show the subtraction.<br>If you knock down too many monsters, tap the reset button.<br>Drag a number tile to the orange box to complete the equation.<br>Tap the arrows to move to another problem.</span>
            </p>

            <div class="audio-container"  id='audioButton'>
                <audio src="./audio/imth-1-0-whatsinbag.mp3" id="audio" autopla></audio>
            </div>            
      </section>

 */
.layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $backgroundLayer;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    &-hide{
        display: none;
    }
    .icon-information{
        position: absolute;
        left: 10px;
        top: 10px;
    }

}


.modal{
    position: relative;
    top: 108px;//15.3%;
    width: 674px;
    height: 489px;
    word-wrap: break-word;
    border: 2px solid #7ea0c6;
    padding: 20px 35px 35px;
    background: #3D5485;
    background: -ms-radial-gradient(center,circle farthest-side,#597ca5 0,#3d5485 100%);
    background: -moz-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-radial-gradient(center,circle farthest-side,#597CA5 0,#3D5485 100%);
    box-sizing: border-box;
    
    .icon-information{
        top: 4%;
        left: 2%;
        width: 32px;
        height: 32px;
        background-image: url("#{$image-dir}/btInfoOn.png");
        background-size: 100% 100%;
        opacity: .6;
    }
    
    &-closeButton{
        color: white;        
        font-size: 55px;
        opacity: .6;
        display: block;
        position: absolute;
        right: 15px;
        top: 0px;
        cursor: pointer;
        font-family: 'Icons';
        text-shadow: 0px 2px #000;
        &:focus{
            outline:0;
        }
    }

    &-text{
        color: #fff;
        text-align: left;
        font-family: GillSansReg;        
        line-height: 1.4em;
        width: 565px;
        height: 336px;
        font-size: 30px;
        padding-top: 40px;
        padding-left: 15px;
        text-shadow: 0px 2px #000;
        background-size: 100% 100%;
    }
}

.audio-container {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url("#{$image-dir}/audioICON.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 44.2%;
}