/*
    Example: Opeeration

    <section class="operation" id="results">
        <button  class='arrow arrow-prev arrow-hide'> </button>
        <li class="numbers-element numbers__firstNumber" id="valueOne">9</li>
        <li class="sign sign_plus">-</li>
        <li class="numbers-element numbers__secondNumber" id="valueTwo">0</li>
        <li class="sign sign_equal">=</li>
        <li class="numbers-element numbers__resultNumber" id="valueThree"></li>
        <li class="check-button check-button-hide" id="checkBtn"></li>
        <button class='arrow arrow-next'> </button>
    </section>

    Example: Numbers
    <section class="numbers">
        <ul class="numbers-container" id="numbers">
            <li class="numbers-element" id="num0" draggable="true">0</li>
            <li class="numbers-element" id="num1" draggable="true">1</li>
            <li class="numbers-element" id="num2" draggable="true">2</li>
            <li class="numbers-element" id="num3" draggable="true">3</li>
            <li class="numbers-element" id="num4" draggable="true">4</li>
            <li class="numbers-element" id="num5" draggable="true">5</li>
            <li class="numbers-element" id="num6" draggable="true">6</li>
            <li class="numbers-element" id="num7" draggable="true">7</li>
            <li class="numbers-element" id="num8" draggable="true">8</li>
            <li class="numbers-element" id="num9" draggable="true">9</li>
        </ul>
      </section>

 */


.equation{
    position: relative;
    display: flex;    
    justify-content: center;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    height: 100px;
    background-color: $backgroundBoard;
    .numbers-element{
        //margin-top: 0;
        color: black;
    }
}

.dragged{
    color: white;
    border: 2px solid rgb(60, 107, 31);
    margin-top: -1px;
    margin-left: -1px;
}

.numbers{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    height: 203px;
    margin: auto; 
    background: -webkit-linear-gradient(top,#1B4F1B,#5C9548 100%);
    background: -ms-linear-gradient(top,#1B4F1B,#5C9548 100%);
    background: -moz-linear-gradient(top,#1B4F1B,#5C9548 100%);
    background: linear-gradient(top,#1B4F1B,#5C9548 100%);;
    border-bottom: solid 3px #daf7b5;    
  &-container{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-element{
    display: inline-block;
    width: 70px;
    height: 70px; 
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: 2px 2px 0 #d37c00;
    background: -webkit-linear-gradient(top,#fff260 0,#FFAA02 100%);
    background: -ms-linear-gradient(top,#fff260 0,#FFAA02 100%);
    background: -moz-linear-gradient(top,#fff260 0,#FFAA02 100%);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    color: #fff;
    font-family: mclarenregular;
    text-align: center;
    text-decoration: none;    
    text-shadow: 2px 2px 0 #d37c00;
    font-size: 60px;    
    list-style: none;
    line-height: 70px;
    &:nth-child(2n){
        margin-left: 20px;
        margin-right: 20px;

    }
    &-dragged{
        color: white !important;
        border: 3px solid rgb(60, 107, 31);
        margin-top: -1px !important;
        margin-left: -1px;
    }
  } 
  &__firstNumber{
    background: $firstNumber;
    opacity: 1;
    border: none;
    text-shadow: none;
  }

  &__secondNumber{
    background: $secondNumber;
    opacity: 1;
    border: none;
    text-shadow: none;
  }

  &__resultNumber{
    background: $resultNumber;
    opacity: 1;    
    border: 1px dashed rgb(58, 143, 132);
    text-shadow: none;
    margin-top: 14px;
    box-shadow: none;
  }

}