/*
    Example:
    <ul class="slides">
       <li class="slide slide-active"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
    </ul>
 */

.slides{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;    
    padding-top: 12px;
    margin-left:  20.7%
}

.slide{
    list-style: none;
    width: 10px;
    height: 10px;    
    background: transparent;
    border: 2px solid $slide;    
    border-radius: 50%;
    margin-right: 11px;
    &-visited{
        background: $slideVisited;
        border: 2px solid $slideVisited;
    }
    &-active{
        background: $slideActive;
    }
}