@font-face {
    font-family: 'GSMT';
    src: url(../fonts/gillsansmt.eot);
}
@font-face {
    font-family: 'GSI';
    src: url(../../fonts/gilsbrg.woff);
}
@font-face {
    font-family: 'mclarenregular';
    src: url(../../fonts/McLarenRegular.ttf)
}
/*------------------------------------*    $RESET
\*------------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
.hide {
    display: none;
}
.marble {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    display: block;
    outline-style: none;
    outline-width: 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    pointer-events: auto;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 2;
    font-family: "mclarenregular";
    z-index: 3;
    left: 910px;
    top: 105px;
}
img {
    max-width: 100%;
    border-width: 0;
    vertical-align: middle;
}
/* COMPONENTS */

.icons {
    position: absolute;
    width: 1024px;
    height: 40px;
    /* edit 
    top: 646px; */
    
    top: 648px;
    overflow: visible;
    z-index: 9999;
    z-index: 20;
}
.icon-infoD {
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-left: -10px;
}
.icon-info {
    width: 52px;
    height: 61px;
    background-color: transparent;
    background-position: center center;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    background-size: 35px;
    background-repeat: no-repeat;
    float: right;
}
.icon-info:focus {
    outline: 0;
}
.icon-information {
    margin-top: -2px;
    background-image: url("../../images/btInfoOn@2x.png");
}
.icon-reset {
    margin-right: 22px;
    width: 62px;
    height: 64px;
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: url("../../images/btResetOn@2x.png");
    background-size: 37px;
}
.layer {
    position: absolute;
    z-index: 22;
    height: 100%;
    top: 0;
    left: 0;
    color: black;
    background-color: rgb(46, 60, 67);
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.layer-hide {
    display: none;
}
.layer .icon-information {
    position: absolute;
    left: 10px;
    top: 10px;
}
.modal {
    z-index: 20;
    overflow: hidden;
    position: relative;
    margin: 294px -2px;
    height: 347px;
    width: 836px;
    max-width: 90%;
    word-wrap: break-word;
    border: 2px solid #7ea0c6;
    background: -webkit-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    background: -moz-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    background: -ms-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    background: radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
}
.modal-closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 34px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 5px 10px 10px 20px;
    color: white;
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    cursor: pointer;
    font-family: 'Gill Sans MT';
    line-height: 0;
}
.modal-closeButton:focus {
    outline: 0;
}
.modal-text {
    font-family: GSI, 'Gill Sans', GSMT;
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
    margin: 63px 50px 0 50px;
}
body {
    background-color: white;
    font-family: 'McLaren', 'GSMT', 'GSI', 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    overflow: hidden;
}
.container {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    /* background-color: red;
  background: url(../../images/bg.jpg);  */
    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.board {
    position: relative;
    width: 100%;
    height: 450px;
}
.sign {
    margin: 0 10px;
    font-family: 'McLarenRegular';
    font-size: 34px;
}
.audio-container {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    background-image: url("../../images/instructions-sound.png");
    cursor: pointer;
}
.difficulty {
    margin-left: 128px;
    position: absolute;
    width: 1024px;
    height: 704px;
    z-index: 20;
    background-size: cover;
    left: 0;
    margin: auto;
    right: 0;
    background-image: url("../../images/niveles.jpg");
    background-repeat: no-repeat;
}
.D-C-Item {
    position: relative;
    width: 218px;
    height: 170px;
    cursor: pointer;
    background-size: contain;
    font-size: 36px;
    text-align: center;
    line-height: 130px;
    border: 100px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-table;
    text-decoration: blink;
    color: transparent;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    left: 31px;
}
.D-contDifficulty {
    position: relative;
    top: 236px;
    margin: auto;
    height: 241px;
    width: 900px;
}


.last-audio {
    background-image: url(../images/audio@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: none;
    height: 43px;
    position: absolute;
    top: 230px;
    left: 510px;
    width: 54px;
}
.game {
    margin-left: 128px;
    position: absolute;
    width: 1024px;
    height: 704px;
    z-index: 15;
    background-size: cover;
    left: 0;
    margin: auto;
    right: 0;
  overflow: hidden;
}
.barText {
    position: absolute;
    z-index: 16;
    background-image: url('../../images/bg-bar-textos.png');
    background-size: 50% 100%;
    background-repeat: repeat-x;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #349ef2;
    box-shadow: 0 -5px 8px #5ccef7 inset, 0 -8px 8px #fff inset;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
   -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.maze {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-user-select: none;
    background-attachment: scroll, scroll;
    background-clip: border-box, border-box;
    background-color: rgba(0, 0, 0, 0);
/*    background-image: url(../../images/slide_background.png), url(../../images/bg.jpg);*/
    background-repeat: no-repeat;
    background-origin: padding-box, padding-box;
    background-size: contain, contain;
    background-position: 40px 80px, 0px 25px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: mclarenregular;
    font-size: 14px;
    height: 704px;
    line-height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    /* top: 60px; */
    
    width: 1024px;
    padding-top: 40px;
}
.right-slide {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(153, 200, 224);
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/right.png);
    background-origin: padding-box;
    background-size: cover;
    color: rgb(51, 51, 51);
    display: block;
    font-family: mclarenregular;
    font-size: 14px;
    height: 158px;
    line-height: 20px;
    position: absolute;
    right: 0;
    top: 39px;
    width: 210px;
    z-index: 15;
}
.bear {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(153, 200, 224);
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/polar.png);
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    display: block;
    font-family: mclarenregular;
    font-size: 14px;
    height: 184px;
    width: 210px;
    line-height: 20px;
    position: absolute;
    top: 368px;
    z-index: 10;
}
.cube {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(153, 200, 224);
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/cube@2x.png);
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 9px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: mclarenregular;
    font-size: 14px;
    height: 125px;
    line-height: 20px;
    position: absolute;
    right: -22px;
    width: 122px;
    z-index: 11;
}
.cube.walking {
    -webkit-animation: cubeWalking 1.3s linear;
    -moz-animation: cubeWalking 1.3s linear;
    animation: cubeWalking 1.3s linear;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cubeWalking {
    66% {
        right: -22px;
    }
    100% {
        right: 358px;
        visibility: hidden;
    }
}
.slingshot {
    position: absolute;
    height: 704px;
    width: 275px;
    left: 0;
    pointer-events: none;
    z-index: 9;
}


.sling {
    position: absolute;
    background-attachment: scroll;
    background-clip: border-box;
    background-image: url(../../images/cannon.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: contain;
    display: block;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 4;
}
.rock {
    width: 48px;
    height: 48px;
    margin-left: 42%;
    background-image: url(../../images/stone@2x.png);
    background-size: 48px 48px;
    z-index: 21;
    position: absolute;
    top: 593px;
    left: -8px;
}
.penguin {
    position: relative;
    background-attachment: scroll;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: contain;
    display: block;
    z-index: 11;
    width: 70px;
    height: 139px;
    background-image: url(../../images/happy@2x.png);
    visibility: hidden;
}
.penguin {
    width: 70px;
    height: 99px;
    background-size: contain;
    position: absolute;
    -webkit-animation: penguinWalking 2s infinite, ;
    -moz-animation: penguinWalking 2s infinite, ;
    animation: penguinWalking 2s infinite, ;
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s linear;
    -o-transition: all 3s linear;
    transition: all 3s linear;
    visibility: hidden;
}
.penguinWalking {
    background-image: url(../../images/happy@2x.png);
    width: 170px;
    top: 400px;
    left: 1300px;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -ms-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
    -webkit-animation: penguinWalking 10s infinite;
    -moz-animation: penguinWalking 10s infinite;
    -ms-animation: penguinWalking 10s infinite;
    animation: penguinWalking 10s infinite;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.afraidWalking {
    left: 800px;
}
.penguin .afraidWalking {
    -webkit-transition: all 2.7s ease-out;
    -moz-transition: all 2.7s ease-out;
    -ms-transition: all 2.7s ease-out;
    -o-transition: all 2.7s ease-out;
    transition: all 2.7s ease-out;
}
@keyframes afraidPenguin {
    0% {
        transform: translate( 0, 0) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, 0);
    }
    100% {
        transform: translate(-250%, 3%) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, 0);
    }
}
.penguin2 {
    position: absolute;
    background-attachment: scroll;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: contain;
    display: block;
    z-index: 21;
    top: 550px;
    left: 400px;
    width: 70px;
    height: 139px;
    background-image: url(../../images/happy@2x.png);
    visibility: hidden;
}
.penguin3 {
    position: absolute;
    background-attachment: scroll;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: contain;
    display: block;
    z-index: 21;
    top: 550px;
    left: 400px;
    width: 70px;
    height: 139px;
    background-image: url(../../images/happy@2x.png);
    visibility: hidden;
}
.penguin3.walking {
    background: url(../../images/walking@2x.png) no-repeat bottom;
    background-size: contain;
    -webkit-animation: penguinWalkingF 1.3s linear;
    -moz-animation: penguinWalkingF 1.3s linear;
    animation: penguinWalkingF 1.3s forwards;
}
@keyframes penguinWalkingF {
    0% {
        top: 550px;
        visibility: visible;
    }
    66% {
        top: 400px;
        left: 180px;
    }
    100% {
        top: 400px;
        left: -500px;
    }
}

/*Penguin Win Animation*/

@keyframes penguinWalking {
    0% {
        transform: rotateZ(4deg);
    }
    25% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-4deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(4deg);
    }
    100% {
        transform: rotateZ(8deg);
    }
}
.bearWalkingBody {
    background: url(../../images/bear/body@2x.png) no-repeat;
    width: 311px;
    height: 142px;
    background-size: contain;
    position: absolute;
    top: -48px;
    left: 6px;
    transform: rotateZ(16deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-animation: bearWalkingBody 1s infinite;
    -moz-animation: bearWalkingBody 1s infinite;
    -ms-animation: bearWalkingBody 1s infinite;
    animation: bearWalkingBody 1s infinite;
}
@keyframes bearWalkingBody {
    0% {
        transform: rotateZ(16deg);
    }
    50% {
        transform: rotateZ(17deg) scale(1, .94);
    }
    /*100% { transform: rotateZ(15deg); }*/
    
    100% {
        transform: rotateZ(16deg);
    }
}
.bearWalkingHead {
    background: url(../../images/bear/head@2x.png) no-repeat;
    display: none;
    width: 126px;
    height: 86px;
    background-size: contain;
    left: 185px;
    position: absolute;
    top: 39px;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    transform: rotateZ(8deg);
    -webkit-animation: bearWalkingHead 0.5s infinite;
    -moz-animation: bearWalkingHead 0.5s infinite;
    -ms-animation: bearWalkingHead 0.5s infinite;
    animation: bearWalkingHead 0.5s infinite;
}
@keyframes bearWalkingHead {
    0% {
        transform: rotateZ(-2.5deg);
    }
    15% {
        transform: rotateZ(-5deg);
    }
    30% {
        transform: rotateZ(-2.5deg);
    }
    45% {
        transform: rotateZ(0deg);
    }
    60% {
        transform: rotateZ(2.5deg);
    }
    75% {
        transform: rotateZ(5deg);
    }
    90% {
        transform: rotateZ(2.5deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}
.bearWalkingFront {
    transform: rotateZ(0deg);
    background: url(../../images/bear/front@2x.png) no-repeat;
    width: 70px;
    height: 104px;
    left: 35px;
    top: 80px;
    position: absolute;
    background-size: contain;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: bearWalkingFront 0.7s infinite;
    -moz-animation: bearWalkingFront 0.7s infinite;
    -ms-animation: bearWalkingFront 0.7s infinite;
    -o-animation: bearWalkingFront 0.7s infinite;
    animation: bearWalkingFront 0.7s infinite;
}
@keyframes bearWalkingFront {
    0% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(-8deg);
    }
    30% {
        transform: rotateZ(-16deg);
    }
    45% {
        transform: rotateZ(-8deg);
    }
    60% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(8deg);
    }
    90% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: rotateZ(8deg);
    }
}
.bearWalkingBack {
    background: url(../../images/bear/back@2x.png) no-repeat;
    width: 70px;
    height: 104px;
    left: 40px;
    top: 80px;
    position: absolute;
    background-size: contain;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: bearWalkingback 0.7s infinite;
    -moz-animation: bearWalkingback 0.7s infinite;
    -ms-animation: bearWalkingback 0.7s infinite;
    animation: bearWalkingback 0.7s infinite;
}
@keyframes bearWalkingback {
    0% {
        transform: rotateZ(0deg);
    }
    15% {
        transform: rotateZ(8deg);
    }
    30% {
        transform: rotateZ(16deg);
    }
    45% {
        transform: rotateZ(8deg);
    }
    60% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-8deg);
    }
    90% {
        transform: rotateZ(-16deg);
    }
    100% {
        transform: rotateZ(-8deg);
    }
}
.bearWalkingFront1 {
    background: url(../../images/bear/front@2x.png) no-repeat;
    width: 70px;
    height: 104px;
    left: 145px;
    top: 85px;
    position: absolute;
    background-size: contain;
    -webkit-animation: bearWalkingback 0.7s infinite;
    -moz-animation: bearWalkingback 0.7s infinite;
    -ms-animation: bearWalkingback 0.7s infinite;
    animation: bearWalkingback 0.7s infinite;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.bearWalkingBack1 {
    background: url(../../images/bear/back@2x.png) no-repeat;
    width: 70px;
    height: 104px;
    left: 146px;
    top: 85px;
    position: absolute;
    background-size: contain;
    -webkit-animation: bearWalkingFront 0.7s infinite;
    -moz-animation: bearWalkingFront 0.7s infinite;
    -ms-animation: bearWalkingFront 0.7s infinite;
    animation: bearWalkingFront 0.7s infinite;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.penguinWalking {
    background: url(../../images/happy@2x.png) no-repeat bottom;
    -webkit-transition: all 3s linear;
    -moz-transition: all 3s linear;
    -ms-transition: all 3s;
    -o-transition: all 3s linear;
    transition: all 3s linear;
    top: 400px;
    left: 1300px;
    -webkit-animation: penguinWalking 10s infinite;
    -moz-animation: penguinWalking 10s infinite;
    animation: penguinWalking 10s infinite;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.bearWalking {
    left: 0;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
    transition: 5s;
    position: absolute;
    visibility: hidden;
}
@keyframes penguinWalking {
    0% {
        transform: rotateZ(4deg);
    }
    25% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(-4deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(4deg);
    }
    100% {
        transform: rotateZ(8deg);
    }
}
.left-slide {
    position: absolute;
    width: 236px;
    height: 184px;
    top: 348px;
    left: -17px;
    background-size: contain;
    z-index: 10;
}
.bearCube {
    position: absolute;
    width: 143px;
    height: 125px;
    bottom: -3px;
    background: url(../../images/cube@2x.png) no-repeat center;
    /* background-size: contain; */
    
    right: -13px;
}
.playWin {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 301px;
    left: 668px;
    cursor: pointer;
    display: none;
    background: url("../../images/audio@2x.png") center center no-repeat;
    background-size: 47px;
}
#winScreen {
    position: absolute;
    width: 1024px;
    height: 713px;
    z-index: 9999;
    background: url(../../images/win.jpg);
    background-size: cover;
}
.playSorry {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 305px;
    left: 605px;
    cursor: pointer;
    display: none;
    background: url("../../images/audio@2x.png") center center no-repeat;
    background-size: 45px;
}
.feed-screen {
    display: none;
    position: absolute;
    width: 1024px;
    height: 704px;
    z-index: 9999;
    background: url(../../images/game-over.jpg);
    background-size: cover;
}
.feed-screen .score {
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 325px;
    left: 465px;
    font-weight: bold;
    width: 100px;
    margin: auto;
    line-height: 1.30;
    display: none;
}
.play {
    position: absolute;
    top: 403px;
    left: 451px;
    display: block;
    width: 168px;
    height: 119px;
    z-index: 3000;
}
.correctAnswer {
    position: absolute;
    top: 200px;
    left: 200px;
    z-index: 9999;
    font-family: McLarenRegular;
    font-size: 34px;
}
#num1,
#num2,
#num {
    font-family: McLarenRegular;
    font-size: 34px;
}
.canvasResp{
  width: 1024px;
    height: 660px;
}
  canvas{
    position: absolute;
    /*width: 1024px;
    height: 660px;*/
  }  
#bubbles{
  background-origin: 0 0;
  z-index: 9;  
  left: 6px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
   /* top: -5px;  */
	 
}

#path{
  background-origin: 0 0;
  z-index: 8;  
  position: absolute;
  
}

#bg{
  background-origin: 0 0;
  z-index: 7;  
  position: absolute;
  width: 100%;
}

.bg{
  height: 768px;
}
#rs{
  z-index: 9; 
  position: absolute;
  pointer-events: none;
  width: 100%;
}


@media screen and (max-width: 1700px) {
	
	
    .slingshot {
        top: -40px;
    }
    .right-slide {
        top: 20px;
    }
    /*this three min 1020 */
    
    .container {
        width: 1024px;
    }
    .numbers-container {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .numbers-element:nth-child(2n) {
        margin-left: 7px;
        margin-right: 7px;
    }
    /* */
    
    .penguin2 {
        left: 500px;
    }
    .rock {
        margin-left: 42%;
    }
    .penguin3 {
        left: 500px;
    }
    .rock {
        margin-left: 42%;
    }
    .maze {
        top: -20px;
        left: 0px;
    }
}


@media screen and (max-width: 768px) {
    .slingshot {
        top: -170px;
    }
    .canvas-container {
          max-width: 768px;
        }
  .canvasResp{
    width: 768px;
        height: 511px;
	      top: 20px;
  }
    
    .barText {
        width: 100%;
    }
    .game {
        width: 768px;
        overflow: hidden;
    }

    .right-slide {
        right: 200px;
        height: 120px;
        top: 25px;
        right: -80px;
        transform: scale(.9);
    }

    #winScreen {
        width: 768px;
        height: 531px;
    }
    .play {
        top: 300px;
        left: 320px;
    }
    .feed-screen {
        width: 768px;
        height: 531px;
    }
    .penguinWalking {
        top: 600px;
        transform-origin: 50% 100%;
        -ms-transition: all 3s;
        -ms-animation: penguinWalking 10s infinite;
        -ms-transform-origin: 50% 100%;
    }
    .penguin3 {
        top: 200px;
    }
    .penguin3.walking {
        background: url(../../images/walking@2x.png) no-repeat bottom;
        background-size: contain;
        -webkit-animation: penguinWalkingF 1.3s linear;
        -webkit-transform: scale(.75);
        -ms-animation: penguinWalkingF 1.3s linear;
        -ms-transform: scale(.75);
        -moz-animation: penguinWalkingF 1.3s linear;
        -moz-transform: scale(.75);
        animation: penguinWalkingF 1.3s forwards;
    }
    @-webkit-keyframes penguinWalkingF {
        0% {
            top: 430px;
            visibility: visible;
        }
        66% {
            top: 350px;
            left: 170px;
        }
        100% {
            top: 350px;
            left: -500px;
        }
    }
    @-ms-keyframes penguinWalkingF {
        0% {
            top: 430px;
            visibility: visible;
        }
        /*edit was 200px both : */
        
        66% {
            top: 350px;
            left: 170px;
        }
        100% {
            top: 350px;
            left: -500px;
        }
    }
    .modal {
        -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
        height: 380px;
        /* top: 29.5%; */
    }
    .modal-text {
        font-size: 18px;
    }
    .D-contDifficulty {
       top: 150px;
        left: -60px;
    }
    .bear {
        top: 294px;
        left: 0px;
        height: 137px;
        width: 176px;
        background-repeat: no-repeat;
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
    }
    .cube {
        right: -57px;
        width: 121px;
        height: 93px;
        background-repeat: no-repeat;
    }
    .slingshot {
        top: -100px;
        -webkit-transform: scale(.75);
    }
    /**/
    
    .maze {
        width: 768px;
    }
    .difficulty {
        height: 576px;
        width: 760px;
    }
    .container {
        width: 768px;
    }
    .bear {
        top: 270px;
        left: 0;
        height: 137px;
        width: 176px;
    }
    .cube {
        right: -57px;
        width: 121px;
        height: 93px;
    }
    .icons {
        width: 768px;
        top: 460px;
    }
    #winScreen {
        width: 768px;
        height: 573px;
    }
    .play {
        top: 300px;
        left: 320px;
    }
    .feed-screen {
        width: 768px;
        height: 573px;
    }
    .penguinWalking {
        top: 600px;
        -webkit-transform-origin: 50% 100%;
        -moz-transform-origin: 50% 100%;
        -o-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition: all 3s;
        -moz-transition: all 3s;
        -ms-transition: all 3s;
        -o-transition: all 3s;
        transition: all 3s;
        -ms-animation: penguinWalking 10s infinite;
    }
    @keyframes penguinWalkingF {
        0% {
            top: 550px;
            visibility: visible;
        }
        66% {
            top: 300px;
            left: 180px;
        }
        100% {
            top: 300px;
            left: -500px;
        }
    }
  
  #rs {
    width: 100%;
  }
  
  #bg{
    height: 630px;
  }
	
	


	.bubblesL{

    top: 13px;;
	 
}
	
	.bubblesP{

    top: 6px;
	 
}

  .D-C-Item{
    width: 169px;
    margin-left: 22px;
    margin-right: 22px;
    left: 121px;
    height: 126px;
    top: 31px;
  }

	
}

@media screen and (min-width: 960px){

		
		.bubblesL{

    top: -10px;
	 
}
	
	.bubblesP{

    top: -15px;
	 
}
	
.container {
    width: 960px;
    height: 768px;
  }
  .difficulty{
    width: 960px;
  }
  .icons{
    width: 960px;
  }
  .canvasResp {
    width: 980px;
    height: 690px;
  }
  
 .D-C-Item{
   width: 208px;
   margin-left: 25px;
   margin-right: 25px;
   left: 58px;
   height: 144px;
  }
}
 

@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape){
    .layer{
      height: 768px;
    }  
    
}

@media screen and (min-width: 1024px) {
		
		.bubblesL{

    top: -10px;
	 
}
	
	.bubblesP{

    top: -15px;
	 
}

  .modal{
    margin: 237px -2px;  
  }
	
  .container {
    width: 1024px;
    height: 704px;
  }
  .difficulty{
    width: 1024px;
  }
  .icons{
    width: 1024px;
  }
  .canvasResp {
    width: 1024px;
    height: 704px;
  }
  .bg{
    height: 772px;
  }
  
  .D-C-Item{
    width: 215px;
    margin-left: 32px;
    margin-right: 32px;
    left: 31px;
    height: 158px;
    top: 9px;
  }
}

#thing {
    position: absolute;
    left: 50px;
    top: 25px;
}
.icoResetMove {
    animation: reset 1s;
}
@keyframes reset {
    0% {
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: rotate(-360deg);
    }
}
.numh {
    visibility: hidden;
}
#easyMarble {
  background-image: url(../../images/penguin2x.png)
}

.canvas-container {
  position: relative;
  max-width: 1024px;
  min-width: 704px;
  margin: 0 auto;
  z-index: 9;
}
