body{
  background-color: $background;  
  font-family: 'McLaren', 'GSMT','GSI','Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
  overflow: hidden;
}
.container{    
    width: 600px;
    margin: 0 auto; 
    pointer-events: none;
}

.board{
    position: relative;
    width: 100%;
    height: 450px; 
    pointer-events: none;
}

.boardBalls {
  top: 31px;
  height: 382px;
  width: 557px;
  left: 286px;
  position: absolute;
}

.operation{
    position: relative;
    display: flex;
    justify-content: center;
    top: 5px;
    margin: auto;
    max-width: 1024px;
    width: 100%;
    height: 89px;
    background-color: #79BD50;
    .numbers-element{
      margin-top: 5px;
    }
}

.go-button{
    background: transparent url('#{$image-dir}/get@2x.png');    
    background-size: contain;
    position: absolute;
    height: 85px;
    width: 90px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    pointer-events: all;
    border: none;
  &:focus{
    outline:0;
  }
}

.arm{
     height: 450px;
    
    &-shake &-wrist{
      animation: animationFramesInitArm linear .5s;
      animation-iteration-count: 2;
      transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
      transform-origin: 30% 80%;
    }
    &-shake &-hand{
        animation: animationFramesInit linear .5s;
        animation-iteration-count: 2;
        transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transform-origin: 30% 40%;
    }

    &-throw &-wrist{
        animation: animationFramesInitArmThrow linear .2s;
        animation-iteration-count: 1;
        transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
        transform-origin: 30% 80%;
    }

    &-wrist{
        position: absolute;
        left: 76px;
        top: -223px;
        background-image: url('#{$image-dir}/arm@2x.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        width: 177px;
        height: 395px;        
    }

    &-hand{
        position: absolute;
        top: 0;
        left: 50px;
        background-image: url('#{$image-dir}/hand@2x.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        width: 177px;
        height: 395px;
        margin-top: -100px;
    }
}

#balls-thrown {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: all;
}

.operators {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-image: linear-gradient(to bottom, #3c6b1f, #3c6b1f);
  border: 1px solid #3c6b1f;
  border-radius: 15px;
  opacity: 0.8;
  color: #fff;
  font-family: "McLaren";
  text-align: center;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  font-size: 4em;
  line-height: 1.2;
  margin-top: 5px;
  list-style: none;
  cursor: pointer;
}

.numbers{
  display: flex;
  justify-content: center;
  max-width: 1024px;
  margin: 13px -6px; 
  &-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-element{
    display: inline-table;
    width: 75px;
    height: 75px; 
    background-image: linear-gradient(to bottom, #3c6b1f, #3c6b1f);    
    border: 1px solid #3c6b1f;
    border-radius: 15px;
    opacity: 0.8;
    color: #fff;
    font-family: $basefont;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-size: 4em;    
    line-height: 1.2;
    margin-top: 20px;
    list-style: none;
    ursor: pointer;
    margin-left: 0;
    margin-right: 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    }   
  &__firstNumber{
    background: $firstNumber;
    opacity: 1;
    border: none;
    float: left;
    width: 78px;
    height: 78px;
    text-shadow: none;
  }

  &__secondNumber{
    background: $secondNumber;
    opacity: 1;
    border: none;
    float: left;
    width: 78px;
    height: 78px;
    text-shadow: none;
  }

  &__resultNumber{
    background: $resultNumber;
    opacity: 1;
    border: none;
    width: 78px;
    height: 78px;
    text-shadow: none;
    float: left;
  }
  &-dropped{
    border: inherit;
    font-size: inherit;
    background: transparent;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.operationContainer {
    display: table;
    width: 500px;
    position: relative;
    left: 28px;
    overflow-y: visible;
}

.sign{
    text-align: center;
    vertical-align: middle;
    margin-top: 7px;
    color: $signColor;
    width: 100px;
    height: 90px;
    font-size: 5em;
    display: inline;    
    line-height: 1;
    float: left;
    font-family: "GSI", "Gill Sans", "GSMT", "Gill Sans MT", Calibri, sans-serif;
    font-size: 83px;
    font-weight: 500;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.audio-container {
    width: 75px;
    height: 75px;
    margin: -10px auto;
    background-image: url("#{$image-dir}/base/_instructions-sound.png"); 
    cursor: pointer;
}

.ball{
    width: 38px;
    height: 38px;
    background: $white;
    border-radius: 25px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    position: absolute;
    &-yellow{
      background: $firstNumber;
    }
    &-purple{
      background: $secondNumber;
    }    
}

.ball1 {
  animation-name: throwMarvels;
  left: 35%;
  top: 35%;
}

.ball2 {
  animation-name: throwMarvels;
  left: 40%;
  top: 40%;
}

.ball3 {
  animation-name: throwMarvels;
  left: 35%;
  top: 70%;
}

.ball4 {
  animation-name: throwMarvels;
  left: 60%;
  top: 48%;
}

.ball5 {
  animation-name: throwMarvels;
  left: 45%;
  top: 55%;
}

.ball6 {
  animation-name: throwMarvels;
  left: 45%;
  top: 67%;
}

.ball7 {
  animation-name: throwMarvels;
  left: 48%;
  top: 42%;
}

.ball8 {
  animation-name: throwMarvels;
  left: 53%;
  top: 58%;
}

.ball9 {
  animation-name: throwMarvels;
  left: 56%;
  top: 73%;
}

.ball10 {
  animation-name: throwMarvels;
  left: 53%;
  top: 16%;
}

.check{
    &-button{
        background: url("#{$image-dir}/Tick_normal.png") no-repeat;
        background-size: contain;
        width: 70px;
        height: 49px;
        margin-left: 6px;
        margin-top: 20px;
        list-style: none;
        position: absolute;
        display: inline;
        &-hide{
          visibility:hidden;
        }
    }
    &-correct{
        background: url("#{$image-dir}/Tick_right.png") no-repeat;
        background-size: contain;
    }
    &-incorrect{
        background: url("#{$image-dir}/Tick_wrong.png") no-repeat;
        background-size: contain;
    }
}


.numbers-area-disabled {
  pointer-events: none;
}

.ui-resizable, .ui-sortable, .ui-draggable, .ui-droppable {
  -ms-touch-action: none;
  touch-action: none;
}

@media (max-width: 768px) {
  .numbers-element {
    margin-left: 30px;
    margin-right: 30px;
  }
  .container {
    width: 768px;
  }
  .boardBalls {
    width: 423px;
    left: 239px;
  }
  .numbers-container, .numbers{
    width: 768px;
  }
}

@media (max-width: 960px) {
  .numbers-element {
    margin-left: 30px;
    margin-right: 30px;
  }
  .container {
    width: 768px;
  }
  .boardBalls {
    width: 423px;
    left: 239px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .container, .board {
    max-height: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .numbers-container {
    flex-wrap: nowrap;
  }
  .numbers-element {
    margin-top: 0;
    &:nth-child(2n) {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}