/*
  Example:
  <section class="icons">
      <button class="icon-info icon-information" id='infoButton'></button>
      <button class="icon-info icon-reset icon-reset-inactive" id='cleanButton'></button>
    </section>
  
  Just one icion example:
    <button class="icon-info icon-information" id='infoButton'></button>
 */

.icons{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.icon{    
    &-info{
      width: 34px;
      height: 34px;
      background-color: transparent;
      background-position: center center;
      background-size: 100%;
      margin-right: 21px;
      border: none;
      cursor: pointer;

      &:focus{
        outline:0;
      }
    }  

    &-information{
      background-image: url('#{$image-dir}/btInfoOn.png');
      opacity: 0.9;
      width: 29px;
      height: 31px;
      position: absolute;
      right: 85px;
      &-inactive{
        background-image: url('#{$image-dir}/btInfoOff.png');
      }
    }

    &-reset{
        background-image: url('#{$image-dir}/btResetOn@2x.png');
        background-position: center center;
        background-size:100%;
        position: absolute;
        right: 29px;
       
        &-inactive{            
          background-image: url('#{$image-dir}/btResetOn@2x.png');
          cursor: not-allowed;
          opacity: .27;
          margin-left: 5px;
          //animation: reset 1s;
        }

        &-scroll{
          background-image: url('#{$image-dir}/btResetOn@2x.png');
          cursor: not-allowed;
          opacity: .27;
          margin-left: 5px;
          animation: reset 1s;
        }
    }
}