@font-face {
  font-family: 'GillSansInfant';
  src: url(../../fonts/gilsbrg.ttf),
    url(../../fonts/gilsbrg.eot),
    url(../../fonts/gilsbrg.woff);
}
@font-face {
  font-family: 'GillSansInfantbold';
  src: url(../../fonts/gilsbbd.ttf),
    url(../../fonts/gilsbbd.eot),
    url(../../fonts/gilsbbd.woff);
}
 
@font-face {
  font-family: 'mclarenregular';
  src: url(../../fonts/mclarenregular.ttf),
    url(../../fonts/mclarenregular.woff),
    url(../../fonts/mclarenregular.eot);
}
 
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
 
}
 
body {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
 
html {
  content-zooming: none;
  -ms-touch-action: none;
      touch-action: none;
  user-selec: none;
}
 
* {
  background-repeat: no-repeat;
}
 
div {
  tap-highlight-color: transparent;
}
 
html, body, blocker {
  height: 100%;
}
 
body {
  font-family: GillSansInfant;
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #9EcE61;
}
 
#container {
  width: 1024px;
  background-size: 100% 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}
 
.textMuted {
  color: #7b7b7b;
  font-family: GillSansInfant;
}
 
.sunMoon {
  background-size: 100%;
  width: 180px;
  height: 183px;
  float: right;
  margin: 30px 25px;
  -webkit-animation: zoomInOut 10s infinite;
          animation: zoomInOut 10s infinite;
}
 
.sun {
  height: 180px;
  width: 183px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/bg/sun@2x.png");
  -webkit-animation: zoomInOut 10s infinite;
          animation: zoomInOut 10s infinite;
}
 
@-webkit-keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
@keyframes zoomInOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
 
.moon {
  background-image: url("../../images/bg/moon@2x.png");
}
 
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 1em;
  color: #FFF;
  height: 70%;
}
 
.clouds {
  position: relative;
}
 
.cloud1, .cloud2, .cloud3, .cloud4, .cloud5 {
  background-image: url("../../images/im-cloud.png");
  background-size: 100%;
  width: 200px;
  height: 130px;
  position: absolute;
}
 
.cloud1 {
  margin: -2em 0 0 60%;
}
 
.cloud2 {
  margin: 7em 0 0 10%;
}
 
.cloud3 {
  margin: 12em 0 0 80%;
}
 
.cloud4 {
  margin: 20em 0 0 20%;
}
 
.cloud5 {
  margin: 30em 0 0 70%;
}
 
.stackNumberCont, .stackStars {
  background: -webkit-linear-gradient(top, #ededed 0%, #FFF 80%, #ededed 90%);
  background: -moz-linear-gradient(top, #ededed 0%, #FFF 80%, #ededed 90%);
  background: -ms-linear-gradient(top, #ededed 0%, #FFF 80%, #ededed 90%);
  background: linear-gradient(top, #ededed 0%, #FFF 80%, #ededed 90%);
  width: 120px;
  height: 100%;
  float: left;
  z-index: 500;
  text-align: center;
}
 
.stackNumberCont {
  position: relative;
  box-shadow: 2px 0 30px #2A2A2A;
}
 
.stackStars {
  float: left;
  background: none;
  background-color: rgba(150, 191, 33, 0.9);
  height: 100%;
}
 
.scoreStar {
  margin-top: 20px;
}
 
.stackStars hr {
  width: 70%;
  background-color: white;
  border: solid 1px;
  color: white;
}
 
.starPoints {
  width: 35px;
  height: 35px;
  margin: 12px;
  background-size: 100%;
  float: left;
}
 
.emptyStar {
  background-image: url("../../images/scoreEmpty@2x.png");
}
 
.filledStar {
  background-image: url("../../images/star@2x.png");
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
          animation-name: tada;
  animation-duration: 1s;
}
 
.day {
  background-image: url("../../images/bg/bgday@2x.jpg");
}
 
.backgroundImage {
  top: 0;
  left: 0;
  height: 704px;
  width: 1024px;
  background-size: 100% 100%;
  position: relative;
}
 
.afternoon {
  background-image: url("../../images/bg/bgafternoon@2x.jpg");
}
 
.sunset {
  background-image: url("../../images/bg/bgsunrise2.jpg");
}
 
.dusk {
  background-image: url("../../images/bg/bgsunrise@2x.jpg");
}
 
.night {
  background-image: url("../../images/bg/nigth1@2x.jpg");
}
 
.levelDisplay {
  background-color: #ffcc01;
  font-size: 1.5em;
  font-weight: bold;
  height: 30px;
  padding-top: 5px;
}
 
.stackNumber {
  padding-bottom: 5px;
  position: relative;
}
 
.txtNumbersCont {
  margin: 35% auto;
  width: 65%;
}
 
.txtNumbersDefault {
  background: -webkit-repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.2) 4px);
  background: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0.2) 4px, rgba(0, 0, 0, 0.2) 4px);
  font-size: 1.16em;
  border-style: solid;
  border: none;
  height: 21px;
  width: 70%;
  margin: 3px auto;
  padding: 2px;
  font-family: GillSansInfant;
}
 
.txtNumbersNext {
  background: none;
  color: #a89d7d;
  background-color: #ffea8d;
}
 
.txtNumberFound {
  background: none;
  background-color: #e3e3e1;
}
 
.pausePlay {
  background-color: #78d931;
  height: 35px;
  font-size: 1.0em;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-family: GillSansInfant;
}
 
.pausePlay a, .pausePlay img {
  position: relative;
  vertical-align: middle;
  margin: auto 0;
}
 
.sky {
  position: relative;
  left: 210px;
  width: 1020px;
  height: 870px;
  overflow: hidden;
}
 
.balloon {
  position: absolute;
  top: 150%;
  width: 93px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}
 
#balloon1 {
  left: 270px;
}
 
#balloon2 {
  left: 390px;
}
 
#balloon3 {
  left: 510px;
}
 
#balloon4 {
  left: 630px;
}
 
#balloon5 {
  left: 750px;
}
 
#balloon6 {
  left: 870px;
}
 
/**************************INICIO ANIMACION NUBES****************************/
@-webkit-keyframes cloudsAnime {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes cloudsAnime {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(5%);
            transform: translate(5%);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
 
/**************************FIN ANIMACION NUBES****************************/
.opacity, .globoNoBackground {
  background-image: none;
}
 
.balloonHolder {
  font-size: 1.5em;
  z-index: 200;
  background-color: black;
  width: 100%;
}
 
.tales div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}
 
.tales div > div {
  font-size: 8px;
  position: absolute;
  top: 25px;
  left: 24px;
  width: 2px;
  height: 3em;
  border-radius: 0;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: pendulum 2s infinite;
          animation: pendulum 2s infinite;
}
 
.tales div > div > div {
  font-size: 0.95em;
  top: 3.15789em;
  left: 0;
}
 
@-webkit-keyframes pendulum {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
 
@keyframes pendulum {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
 
/*=============Esta es la animacion de el globo pop==============*/
.globo {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -35px;
  left: -153px;
}
 
.pop {
  width: 400px;
  height: 400px;
  background-position: 0 0;
  -webkit-animation: animationPop 1s steps(6);
          animation: animationPop 1s steps(6);
}
 
@-webkit-keyframes animationPop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2400px 0;
  }
}
 
@keyframes animationPop {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2400px 0;
  }
}
 
/*=============Fin animacion globo desinflar==============*/
.spanFadeOut {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: .1s linear;
          transition: .1s linear;
}
 
.fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
}
 
/* =========== Successful level Completion message ========== */
.levelModal {
  margin-left: 160px;
  background-size: 100%;
  width: 672px;
  height: 573px;
  top: 20px;
  z-index: 700;
  position: absolute;
}

.veryGoodBackground {
  background-image: url("../../images/Messages/panelVeryGood.png");
}
 
.finishBackground {
  background-image: url("../../images/Messages/panelCongratulations.png");
}
 
.scoreBackground {
  background-image: url("../../images/Messages/panelScores.png");
}
 
.resetBackground {
  background-image: url("../../images/Messages/panelRestart.png");
}
 
.hideMessageText {
  display: none;
}
 
.levelModal h2 {
  font-family: 'GillSansInfant';
  color: #364301;
  width: 70%;
  padding-left: 18%;
  padding-top: 25%;
  font-size: 1.5em;
  text-align: center;
}
 
.levelPanels {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}
 
.levelPanels h3 {
  font-family: 'GillSansInfant';
  color: #364301;
  margin: 2px;
}
 
.levelPanels h2 {
  font-family: 'GillSansInfant';
  color: #364301;
  margin: 0;
  position: relative;
  left: -4px;
  top: -70px;
}
 
#starScores {
  width: 410px;
  height: 230px;
  position: absolute;
  top: 180px;
  left: 150px;
}
 
.scoreContainer {
  width: 33%;
  height: 80px;
  text-align: center;
  border-bottom: 1px solid white;
  float: left;
}
 
.lastScore {
  width: 50%;
}
 
.lastScore h2 {
  font-family: 'GillSansInfant';
  color: #364301;
  top: -88px;
  left: -6px;
}
 
.levelAnimateIn {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation: translateUp 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: translateUp 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes translateUp {
from {-webkit-transform: translateY(150%); opacity:0; }
to{ -webkit-transform: translateY(0%); opacity:1;}
}

@-webkit-keyframes translateUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
 
@keyframes translateUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}


 
.showLevel {
  -webkit-animation: opacityIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
          animation: opacityIn 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: block;
}
 
@-webkit-keyframes opacityIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
 
@keyframes opacityIn {
  from {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
 
.borderBallons {
  position: absolute;
  background-image: url("../../images/Messages/balloonsUp@2x.png");
  background-size: 100%;
  z-index: 650;
  width: 756px;
  height: 517px;
  margin: 0 auto;
  left: 130px;
  top: 120px;
}
 
#levelMessage {
  position: absolute;
  height: 400px;
}
 
.levelChangers {
  position: absolute;
  z-index: 900;
  margin-left: 120px;
  margin-top: 500px;
}
 
.levels {
  float: left;
  height: 70px;
  width: 50px;
  font-family: GillSansInfant;
}
 
.levels h1 {
  font-family: GillSansInfant;
 font-size: 1.5em;
  text-align: center;
  width: 100%;
}
 
.levelslocked {
  background-image: url("../../images/Messages/lvlLockbtn.png");
  background-size: 100%;
}
 
.levelslocked h1 {
  color: #FFF;
  font-family: GillSansInfant;
}
 
.levelsOpen {
  background-image: url("../../images/Messages/lvlbtn.png");
  background-size: 100%;
}
 
.levelsOpen h1 {
  color: #000;
}
 
.bestScore {
  background-image: url("../../images/Messages/bestScoresbtn.png");
  background-size: 100%;
  float: left;
  height: 91px;
 width: 68px;
  margin-top: -15px;
}
 
.restartConfirmation {
  background-image: url("../../images/Messages/restartBtn.png");
  background-size: 100%;
  width: 190px;
  height: 50px;
  margin-left: 250px;
}
 
.messageButtons {
  z-index: 900;
  top: 580px;
  padding-left: 370px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
 
#resetButton {
  color: white;
  position: absolute;
  background-color: #666666;
  height: 60px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
}
 
.icoReset {
  float: left;
}
 
#resetButton img {
  width: 50%;
  height: 50%;
}
 
.icoContinue {
  background-image: url("../../images/Messages/continue@2x.png");
  background-position: center center;
  background-size: 100%;
  width: 34px;
  height: 34px;
  float: left;
}
 
#continueButton {
  color: white;
  position: absolute;
  margin-left: 150px;
  background-color: #8cd20f;
  height: 60px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
}

.balloonBlue {
  background-image: url("../../images/ballonNormal/blueBallon.png");
}
 
.balloonGreen {
  background-image: url("../../images/ballonNormal/greenBallon.png");
}
 
.balloonOrange {
  background-image: url("../../images/ballonNormal/orangeBallon.png");
}
 
.balloonRed {
  background-image: url("../../images/ballonNormal/redBallon.png");
}
 
.balloonViolet {
  background-image: url("../../images/ballonNormal/violetBallon.png");
}
 
.balloonYellow {
  background-image: url("../../images/ballonNormal/yellow-balloon.png");
}
 
@-webkit-keyframes up {
  0% {
    top: 100%;
  }
  25% {
    top: 65%;
  }
  50% {
    top: 30%;
  }
  75% {
    top: -5%;
  }
  100% {
    top: -40%;
  }
}
 
@keyframes up {
  0% {
    top: 100%;
  }
  25% {
    top: 65%;
  }
  50% {
    top: 30%;
  }
  75% {
    top: -5%;
  }
  100% {
    top: -40%;
  }
}
 
.balloonBlue .tales div > div {
  background-color: #00baf7;
}
 
.balloonGreen .tales div > div {
  background-color: #8df700;
}
 
.balloonOrange .tales div > div {
  background-color: #f77500;
}
 
.balloonRed .tales div > div {
  background-color: #f72f00;
}
 
.balloonViolet .tales div > div {
  background-color: #ff67af;
}
 
.balloonYellow .tales div > div {
  background-color: #f7d400;
}
 
/*tales animation*/
.tales {
  position: relative;
  margin-top: 65px;
  margin-left: -20px;
}
 
.invisible {
  display: none;
}
 
.tales div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
}
 
.tales div > div {
  font-size: 8px;
  position: absolute;
  top: 100%;
  left: 24px;
  width: 2px;
  height: 3em;
  border-radius: 0;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: pendulum 2s infinite;
          animation: pendulum 2s infinite;
}
 
.tales div > div > div {
  font-size: 0.95em;
  top: 100%;
  left: 0;
}
 
@keyframes pendulum {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
}
 
.balloonHead {
  position: absolute;
  text-align: center;
  left: 30%;
  top: 13%;
  z-index: 450;
}
 
.layer-hide {
  display: none;
}
 
@-webkit-keyframes deflate {
  0% {
    background-position: -5px -165px;
    width: 93px;
    top: 0;
    left: 0;
  }
  8% {
    background-position: -5px -165px;
    width: 93px;
    top: 0;
    left: 0;
  }
  9% {
    background-position: -290px -150px;
    width: 100px;
    top: -20px;
    left: 20px;
  }
  16% {
    background-position: -290px -150px;
    width: 100px;
    top: -20px;
    left: 20px;
  }
  17% {
    background-position: -600px -100px;
    width: 98px;
    top: -55px;
    left: 60px;
  }
  24% {
    background-position: -600px -100px;
    width: 98px;
    top: -55px;
    left: 60px;
  }
  25% {
    background-position: -890px -100px;
    width: 150px;
    top: -60px;
    left: 60px;
  }
  32% {
    background-position: -890px -100px;
   width: 150px;
    top: -60px;
    left: 60px;
  }
  33% {
    background-position: -1235px -100px;
    width: 140px;
    top: -55px;
    left: 120px;
  }
  40% {
    background-position: -1235px -100px;
    width: 140px;
    top: -55px;
    left: 120px;
  }
  41% {
    background-position: -1560px -110px;
    width: 100px;
    top: -55px;
    left: 160px;
  }
  48% {
    background-position: -1560px -110px;
    width: 100px;
    top: -55px;
    left: 160px;
  }
  49% {
    background-position: -1750px -110px;
    width: 75px;
    top: -55px;
    left: 110px;
  }
  56% {
    background-position: -1750px -110px;
    width: 75px;
    top: -55px;
    left: 110px;
  }
  57% {
    background-position: -2040px -110px;
    width: 90px;
    top: -55px;
    left: 130px;
  }
  64% {
    background-position: -2040px -110px;
    width: 90px;
    top: -55px;
    left: 130px;
  }
  65% {
    background-position: -2360px -55px;
    width: 90px;
    top: -110px;
    left: 180px;
  }
  72% {
    background-position: -2360px -55px;
    width: 90px;
    top: -110px;
    left: 180px;
  }
  73% {
    background-position: -2640px -30px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  80% {
    background-position: -2640px -30px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  81% {
    background-position: -2922px -15px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  88% {
    background-position: -2922px -15px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  89% {
    background-position: -3200px -5px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  99% {
    background-position: -3200px -5px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  100% {
    background-position: -3300px 0;
    width: 90px;
    top: -120px;
    left: 180px;
  }
}
 
@keyframes deflate {
  0% {
    background-position: -5px -165px;
    width: 93px;
    top: 0;
    left: 0;
  }
  8% {
    background-position: -5px -165px;
    width: 93px;
    top: 0;
    left: 0;
  }
  9% {
    background-position: -290px -150px;
    width: 100px;
    top: -20px;
    left: 20px;
  }
  16% {
    background-position: -290px -150px;
    width: 100px;
    top: -20px;
    left: 20px;
  }
  17% {
    background-position: -600px -100px;
    width: 98px;
    top: -55px;
    left: 60px;
  }
  24% {
    background-position: -600px -100px;
    width: 98px;
    top: -55px;
    left: 60px;
  }
  25% {
    background-position: -890px -100px;
    width: 150px;
    top: -60px;
    left: 60px;
  }
  32% {
    background-position: -890px -100px;
    width: 150px;
    top: -60px;
    left: 60px;
  }
  33% {
    background-position: -1235px -100px;
    width: 140px;
    top: -55px;
    left: 120px;
  }
  40% {
    background-position: -1235px -100px;
    width: 140px;
    top: -55px;
    left: 120px;
  }
  41% {
    background-position: -1560px -110px;
    width: 100px;
    top: -55px;
    left: 160px;
  }
  48% {
    background-position: -1560px -110px;
    width: 100px;
    top: -55px;
    left: 160px;
  }
  49% {
    background-position: -1750px -110px;
    width: 75px;
    top: -55px;
    left: 110px;
  }
  56% {
    background-position: -1750px -110px;
    width: 75px;
    top: -55px;
    left: 110px;
  }
  57% {
    background-position: -2040px -110px;
    width: 90px;
    top: -55px;
    left: 130px;
  }
  64% {
    background-position: -2040px -110px;
    width: 90px;
    top: -55px;
    left: 130px;
  }
  65% {
    background-position: -2360px -55px;
    width: 90px;
    top: -110px;
    left: 180px;
  }
  72% {
    background-position: -2360px -55px;
    width: 90px;
    top: -110px;
    left: 180px;
  }
  73% {
    background-position: -2640px -30px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  80% {
    background-position: -2640px -30px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  81% {
    background-position: -2922px -15px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  88% {
    background-position: -2922px -15px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  89% {
    background-position: -3200px -5px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
  99% {
    background-position: -3200px -5px;
    width: 90px;
    top: -120px;
    left: 180px;
  }
 100% {
    background-position: -3300px 0;
    width: 90px;
    top: -120px;
    left: 180px;
  }
}
 
.deflateAnimation {
  height: 93px;
  background-repeat: no-repeat;
  -webkit-animation-name: deflate;
          animation-name: deflate;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
 
.balloonRedDeflate {
  background-image: url(../../images/ballonDeflate/redDeflate.png);
}
 
.balloonBlueDeflate {
  background-image: url(../../images/ballonDeflate/blueDeflate.png);
}
 
.balloonGreenDeflate {
  background-image: url(../../images/ballonDeflate/greenDeflate.png);
}
 
.balloonOrangeDeflate {
  background-image: url(../../images/ballonDeflate/orangeDeflate.png);
}
 
.balloonYellowDeflate {
  background-image: url(../../images/ballonDeflate/spriteGloboAmarillo.png);
}
 
.balloonVioletDeflate {
  background-image: url(../../images/ballonDeflate/violetDeflate.png);
}
 
.balloonAnimation {
  -webkit-animation: up 7s linear;
          animation: up 7s linear;
}
 
@-webkit-keyframes boom {
  0% {
    background-position: -154px -128px;
    width: 93px;
    left: 0;
  }
  15.9% {
    background-position: -154px -128px;
    width: 93px;
    left: 0;
  }
  16% {
    background-position: -551px -128px;
    width: 93px;
    left: 0;
  }
  30.9% {
    background-position: -551px -128px;
    width: 93px;
    left: 0;
  }
  31% {
    background-position: -900px -70px;
    width: 210px;
    left: -69px;
  }
  45.9% {
    background-position: -900px -70px;
    width: 210px;
    left: -69px;
  }
  46% {
    background-position: -1260px -50px;
    width: 280px;
    left: -90px;
  }
  60.9% {
    background-position: -1260px -50px;
    width: 280px;
    left: -90px;
  }
  61% {
    background-position: -1600px -10px;
    width: 390px;
    left: -150px;
  }
  75.9% {
    background-position: -1600px -10px;
    width: 390px;
    left: -150px;
  }
  76% {
    background-position: -2056px -10px;
    width: 390px;
    left: -100px;
  }
  99.9% {
    background-position: -2056px -10px;
    width: 390px;
    left: -100px;
  }
  100% {
    background-position: 0 0;
    width: 93px;
    left: 0;
  }
}
 
@keyframes boom {
  0% {
    background-position: -154px -128px;
    width: 93px;
    left: 0;
  }
  15.9% {
    background-position: -154px -128px;
    width: 93px;
    left: 0;
  }
  16% {
    background-position: -551px -128px;
    width: 93px;
    left: 0;
  }
  30.9% {
    background-position: -551px -128px;
    width: 93px;
    left: 0;
  }
  31% {
    background-position: -900px -70px;
    width: 210px;
    left: -69px;
  }
  45.9% {
    background-position: -900px -70px;
    width: 210px;
    left: -69px;
  }
  46% {
    background-position: -1260px -50px;
    width: 280px;
    left: -90px;
  }
  60.9% {
    background-position: -1260px -50px;
    width: 280px;
    left: -90px;
  }
  61% {
    background-position: -1600px -10px;
    width: 390px;
    left: -150px;
  }
  75.9% {
    background-position: -1600px -10px;
    width: 390px;
    left: -150px;
  }
  76% {
    background-position: -2056px -10px;
    width: 390px;
    left: -100px;
  }
  99.9% {
    background-position: -2056px -10px;
    width: 390px;
    left: -100px;
  }
  100% {
    background-position: 0 0;
    width: 93px;
    left: 0;
  }
}
 
.explosionAnimation {
  width: 93px;
  height: 120px;
  background-repeat: no-repeat;
  -webkit-animation-name: boom;
          animation-name: boom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
 
.balloonRedExplode {
  background-image: url(../../images/ballonExplode/redExplode.png);
}
 
.balloonBlueExplode {
  background-image: url(../../images/ballonExplode/blueExplode.png);
}
 
.balloonGreenExplode {
  background-image: url(../../images/ballonExplode/greenExplode.png);
}
 
.balloonOrangeExplode {
  background-image: url(../../images/ballonExplode/orangeExplode.png);
}
 
.balloonVioletExplode {
  background-image: url(../../images/ballonExplode/violetExplode.png);
}
 
.balloonYellowExplode {
  background-image: url(../../images/ballonExplode/transGloboBoom.png);
}
 
.paused {
  pointer-events: none;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
 
.test {
  height: 230px;
  z-index: 400;
  position: relative;
  overflow: visible;
  background-position: -154px -128px;
  width: 93px;
}
 
.fadeInRight {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: black;
}
 
@-webkit-keyframes fadeIn {
  from {
    margin: 0 auto;
    margin-left: 36px;
    padding: 2px;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    margin: 0 auto;
    padding: 2px;
    margin-left: 16px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
 
@keyframes fadeIn {
  from {
    margin: 0 auto;
    margin-left: 86px;
    padding: 2px;
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  to {
    margin: 0 auto;
    padding: 2px;
    margin-left: 16px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
 
.bottomImage {
  position: absolute;
  top: 68%;
  margin: 0 auto;
  height: 400px;
  z-index: 600;
  width: 1024px;
  background-image: url(../../images/Messages/lotBalloons@2x.png);
  background-size: 100%;
}
 
.icoReset {
  background-image: url("../../images/btResetOn@2x.png");
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
}
 
.contentFeedback {
  width: 189px;
  height: 45px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3050;
  position: absolute;
  right: -0.3%;
  bottom: 3%;
}
 
.icoReset {
  background-position: center center;
  float: left;
  width: 34px;
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/btResetOn@2x.png");
  opacity: 0.5;
  filter: alpha(opacity=50);
  margin-right: 17px;
}
 
.icoInfo {
  background-image: url("../../images/btInfoOn@2x.png");
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  background-size: contain;
  opacity: 0.5;
  filter: alpha(opacity=50);
  float: left;
  margin-right: 17px;
}
 
.icoFeed {
  background-image: url("../../images/btFeedOff@2x.png");
  background-position: center center;
  width: 34px;
  height: 34px;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 17px;
}
 
#blocker {
  
  background-image: none;
  background-size: auto;
  font-family: GillSansInfant;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.blockerContainerBackground {
  background-color: rgba(0, 0, 0, 0.7);
}
.question {
  border: 2px solid #7ea0c6;
    right: 0;
    margin: auto;
    background: -webkit-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    background: -moz-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    background: -ms-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#3D5485));
    background: -ms-radial-gradient(center,circle farthest-side,#597CA5 0,#3D5485 100%);
    background: radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
    color: #fff;
    padding: 2em 2em 1em;
    text-align: left;
    z-index: 10001;
    text-shadow: 0 2px #000;
    font-size: 30px;
    left: 0px;
    line-height: 1.4em;
    width: 611px;
    height: 429px;
    position: absolute;
    top: 91px;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
 
.closeBtn {
  display: block;
  position: absolute;
  right: 21px;
  top: 11px;
  cursor: pointer;
  font-size: 46px;
  z-index: 100;
  font-family: Icons;
}
 
#instructions-button {
  position: absolute;
  left: 2%;
  top: 3.9%;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#instructionsText {
  position: relative;
  width: 646px;
  top: -6.5px;
  left: 2px;
  display: inline-block;
}
 
.backgroundCont {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 400px;
}
 
.restartCont {
  position: absolute;
  margin: auto;
  width: 80%;
  height: 768px;
}
 
@media screen and (max-width: 768px) {
  #container {
    width: 768px;
  }
  .balloon {
    position: absolute;
    top: 150%;
    width: 93px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  #balloon1 {
    left: 240px;
  }
  #balloon2 {
    left: 320px;
  }
  #balloon3 {
    left: 400px;
  }
  #balloon4 {
    left: 480px;
  }
  #balloon5 {
    left: 560px;
  }
  #balloon6 {
    left: 640px;
  }
  .backgroundImage {
    top: 0;
    left: 0;
    height: 704px;
    width: 768px;
    background-size: 100% 100%;
  }
  .bottomImage {
    height: 400px;
    width: 100%;
    top: 67 .6%;
  }
  .borderBallons {
    width: 606px;
    margin: 0 auto;
    left: 104px;
    top: 149px;
  }
  .levelModal {
    margin: 0 auto;
    left: 55px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .question {
    width: 500px;
    padding-left: 1em;
    padding-right: 1em;
    height: auto;
    top: 40px;
  }
  #instructionsText{
    width: 100%;
  }
  
  .restartCont {
    width: 100%;
    height: 1020px;
}
  
}

@media screen and (max-width: 1024px) and (min-width: 769px) {  
  .bottomImage {
    top: 67.5%;
  }
}

.speed1 {
  -webkit-animation-duration: 9.5s;
  animation-duration: 9.5s;
}

.speed2 {
  animation-duration: 9.3s;
}

.speed3 {
  animation-duration: 8.7s;
}

.speed4 {
  animation-duration: 8.3s;
}

.speed5 {
  animation-duration: 8s;
}

.speed6 {
  animation-duration: 7.2s;
}

.speed7 {
  animation-duration: 6.7s;
}

.speed8 {
  animation-duration: 6.4s;
}

#blockerBackground {
  position: fixed;
  left: -25%;
  top: -25%;
  width: 150%;
  height: 150%;
  background: rgba(0,0,0,0.5);
  z-index: 3000;
}

@media screen and (max-height: 768px) and (orientation: landscape){
  @media screen and (max-width: 1024px){
    #container{
      height: 100vh;
    }
    .txtNumbersDefault{
      height: 20px;
    }
    .pausePlay{
      height: 30px;
    }
    .starPoints{
      margin-bottom: 10px;
    }
  }
}