/* Include all sass files you need */
/* Fonts */
/* Font-size */
/* Colors*/
/* Folders */
@font-face {
  font-family: "McLaren";
  src: url("../../fonts/McLarenRegular.eot");
  src: url("../../fonts/McLarenRegular.ttf") format("truetype"), url("../../fonts/McLarenRegular.svg#McLarenRegular") format("svg");
}

@font-face {
  font-family: 'GSMT';
  src: url("../../fonts/gillsansmt.eot");
}


@font-face {
  font-family: 'GSI';
  src: url("../../fonts/gilsbrg.eot");
  src: url("../../fonts/gilsbrg.woff") format("woff"), url("../../fonts/gilsbrg.ttf") format("truetype"), url("../../fonts/gilsbrg.svg#gilsbrg") format("svg");
}