@keyframes throwBall {
    0%   {
        transform: rotate(0deg);
        //bottom: -10px;
    }
    100% {
        transform: rotate(720deg);
        top: 180px;
            //bottom: 180px;
    //    display: none;
    }
}

// @-webkit-keyframes throwBall {
//     0%   {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(720deg);
//         //top: 180px;
//         bottom: -180px;
//     }
// }

@keyframes throwShadow {
    0%   {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-720deg);
        height: 80px;
        width: 80px;
        top: 240px;
    }
}

@keyframes highlight {
    0% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,0);
    }
    30% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,1);
    }
    100% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,0);
    }
}

@keyframes reset {
    0%{
        transform: rotate(0deg);
        background-image: url('#{$image-dir}/btResetOn@2x.png');
    }
    50%{
        
        background-image: url('#{$image-dir}/btResetOff@2x.png');
        
    }
    100%{
        transform: rotate(-360deg);
        background-image: url('#{$image-dir}/btResetOff@2x.png');
    }
}

// @-webkit-keyframes throwBall {
//     0%   {
//         transform: rotate(0deg);
//     }
//     100% {
//         transform: rotate(720deg);
//         top: 180px;
//     }
// }

@-webkit-keyframes throwShadow {
    0%   {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(-720deg);
        top: 250px;
        height: 80px;
        width: 80px;
    }
}

@-webkit-keyframes highlight {
    0% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,0);
    }
    30% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,1);
    }
    100% {
        box-shadow: inset 0px 0px 50px 0px rgba(225,0,0,0);
    }
}

@-webkit-keyframes reset {
    0%{
        transform: rotate(0deg);
        background-image: url('#{$image-dir}/btResetOn@2x.png');
    }
    50%{
        
        background-image: url('#{$image-dir}/btResetOff@2x.png');
        
    }
    100%{
        transform: rotate(-360deg);
        background-image: url('#{$image-dir}/btResetOff@2x.png');
    }
}