@font-face{font-family:'GillSansInfant'; src:url(../../fonts/gilsbrg.eot),url(../../fonts/gilsbrg.ttf),url(../../fonts/lsbrg.woff)}

#blocker {
    position: fixed;
    width: 150%;
    height: 150%;
    left: -25%;
    top: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 3050;
}

*{
-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
-webkit-tap-highlight-color:rgba(0,0,0,0)
}

html{
-ms-content-zooming:none;
background: -webkit-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
	background: -ms-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
}
html,body{
background: -webkit-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
	background: -ms-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
	background: -moz-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
width: 100%;
height: 100%;
font-family: GillSansInfant;
}

body{
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
backface-visibility:hidden;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
html{
font-family:GillSansInfant;
	-moz-text-size-adjust:100%;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
}
body{
margin:0;
padding:0;
}
button,input,select,textarea{
font-family:GillSansInfant;
font-size:100%;
margin:0;
}


button,input{
line-height:normal
}

button,select{
text-transform:none
}

button,html input[type=button],input[type=reset],input[type=submit]{
-webkit-appearance:button;
	-ms-appearance:button;
	-moz-appearance:button;
cursor:pointer;
}

button[disabled],html input[disabled]{
cursor:default;
}

input[type=checkbox],input[type=radio]{
box-sizing:border-box;
padding:0;
}

input[type=search]{
-webkit-appearance:textfield;
	-ms-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
-webkit-appearance:none;
	-ms-appearance:none;
	-moz-appearance:none;
}

button::-moz-focus-inner,input::-moz-focus-inner{
border:0;
padding:0;
}

textarea{
overflow:auto;
vertical-align:top;
}

table{
border-collapse:collapse;
border-spacing:0;
}

.contentFeedback{
	width: 1024px;
	height:42px;
	position: absolute;
	bottom: 1px;
	overflow: hidden;
	margin-bottom: 0px;
}

.btFeedback,.btInfo,.btReset{
	float: right;
	width: 34px;
	height: 34px;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-background:<background>;
	
	-ms-tap-highlight-color:rgba(0,0,0,0);
	-ms-tap-highlight-background:<background>;
}

.btReset{margin-right:50px; opacity: 1;}
.icoReset{background-image: url('../../images/btResetOn@2x.png'); background-repeat: no-repeat;background-size: contain; opacity: .5; cursor: default; }

.icoResetMove{
	-webkit-animation: reset 1s;
	-ms-animation: reset 1s;
	-moz-animation: reset 1s;
}

@-webkit-keyframes reset {
	0%{
		-webkit-transform: rotate(0deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
	50%{
		
		background-image: url('../../images/btResetOff@2x.png');
		
	}
	100%{
		-webkit-transform: rotate(-360deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
}
@-moz-keyframes reset {
	0%{
		-moz-transform: rotate(0deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
	50%{
		
		background-image: url('../../images/btResetOff@2x.png');
		
	}
	100%{
		-moz-transform: rotate(-360deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
}
@-ms-keyframes reset {
	0%{
		-ms-transform: rotate(0deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
	50%{
		
		background-image: url('../../images/btResetOff@2x.png');
		
	}
	100%{
		-ms-transform: rotate(-360deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
}
.btInfo,.btFeedback{margin-right: 17px; }

.btFeedback{
	cursor: pointer;
}

.icoReset,.icoFeed{
	background-position: center center;
	background-size: contain;
	width: 34px;
	height: 34px;
	background-repeat:no-repeat;
}

.icoInfo{
	width: 34px;
	height: 34px;
	background-position: center center;
	background-size: contain;
        opacity: 0.5;
	background-repeat:no-repeat;
}

.icoInfo{background-image: url('../../images/btInfoOn@2x.png');background-repeat:no-repeat;}
.icoInfoMove{background-image: url('../../images/btInfoOn@2x.png');background-repeat:no-repeat;}

.icoFeed{background-image: url('../../images/btFeedOff@2x.png');background-repeat:no-repeat; cursor: default;}
.icoFeedMove{background-image: url('../../images/btFeedOn@2x.png');background-repeat:no-repeat; }

.score{
	float: right;
	height: 34px;
	width: 130px;
	border-radius: 20px;
	background-color: rgba(27,27,27,0.2);
	overflow: hidden;
	margin-right: 12px;
	display: none;
}

#contCorrect,#contIncorrect{
	width: 49%;
	height: 100%;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-family: GillSansInfant;
	font-size: 18px;
	padding-top: 7px;
}

#contCorrect{
	border-right: 1px solid rgba(0,0,0,0.3);
        color: #33ff00;
        }
#contIncorrect{
	color: #ffcbcb;
}

#contCorrect img{
	width: 17px;
	height: 18px;
}
#contIncorrect img{
	width: 15px;
	height: 17px;
}

.score div img{
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -5px;
}

#interactive-container {
    position: absolute;
    width: 1024px;
    height: 704px;
    left:0px;
    right: 0px;
    margin:auto;
    overflow: hidden;
}
#page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 704px;
    overflow: hidden;
}
.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 1024px;
    height: 704px
}
#menu-container {
    display:block;
    position: absolute;
    top: 604px;
    left: 0;
    opacity: 0.6;
    -ms-filter: alpha(Opacity=60);
    filter: alpha(opacity=60);
    text-shadow: 0 1px 0 rgba(255,255,255,.3);
}
#blocker{
    position: fixed;
   width: 150%;
height: 150%;
    left: -25%;
    top: 0px;
    background: rgba(0,0,0,0.5);
    z-index: 3050;
}
.question {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 228px;
    height: 120px;
    border: 2px solid rgb(126, 160, 198);
    left: 0px;
    right: 0px;
    margin: auto;
    background: -moz-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
	background: -ms-radial-gradient(center,circle farthest-side,rgb(89, 124, 165) 0,rgb(61, 84, 133) 100%);
    background: -webkit-radial-gradient(center,circle farthest-side,rgb(89, 124, 165) 0,rgb(61, 84, 133) 100%);
	 background: -ms-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    color: rgb(255, 255, 255);
    padding: 20px 35px 35px;
    font-size: 23px;
    text-align: left;
    z-index: 4029;
    text-shadow: 0px 2px rgb(0, 0, 0);
}
.icoClose {
    display: block;
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
    font-size: 25px;
    z-index: 100;
    font-family: Icons;
}
#activity_area
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 650px;
}

.contentLeftBtn {
	display: none;
	position: absolute;
	height: 270px;
	width: 190px;
	left: 50px;
	top: 0px;
}
.contentLeftBtn>.hand{
	background-image:url('../../images/hand@2x.png');
	background-size: contain;
	width:177px;
	height: 395px;
	margin-top:-100px;
	position:absolute;
}

.contentLeftBtn>.arm{
	position:absolute;
	width:175px;
	height: 300px;
	background-image:url('../../images/arm@2x.png');
	background-size: contain;
	margin-top:-220px;
	margin-left:26px;
}


#gameboard
{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 374px;
    height: 374px;
    background: url('../../images/gameboard.png');
    background-size: 100% 100%;
}

table
{
    position: relative;
    top: 400px;
    left: 60px;
    right: 0px;
    margin: auto;
    width: 750px;
    height: 200px;
    border-collapse:collapse;
    border-spacing:0
}



td{
    width: 75px;
    font-family:GillSansInfant;
    font-size: 20px;
    border: 2px solid #063A21;
    background:#FFFFFF;
}


tr:first-child > td{
    font-family:GillSansInfant;
    color: #000;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
}

tr:first-child > td:nth-child(2){
    background: rgba(179,200,212,1);
	background: -moz-rgba(179,200,212,1);
}
tr:first-child > td:nth-child(3){
    background: rgba(210,227,194,1);
	background: -moz-rgba(210,227,194,1);
}
tr:first-child > td:nth-child(4){
    background: rgba(239,190,179,1);
	background: -moz-rgba(239,190,179,1);
}
tr:first-child > td:nth-child(5){
    background: rgba(246,226,184,1);
	background: -moz-rgba(246,226,184,1);
}


tr:first-child > td:first-child
{
    text-align: left;
}
td:first-child{
    padding-left: 10px;
    padding-right: 10px;
    font-family:GillSansInfant;
    color: #000;
    width:225px;
    height:60px;
    text-align: left;
    font-size: 22px;
    line-height: 50px;
   
}
tr:first-child > td:first-child{
    background: #e0e0e0;
}

tr:nth-child(2) > td:first-child{
    background: #d0d0d0;
}


tr:nth-child(3) > td:first-child{
    background: #c0c0c0;
}

tr:last-child > td:first-child{
    background: #b0b0b0;
}


tr:last-child > td:last-child
{
    width: 100px;
    vertical-align: top;
    font-size: 16px;
    text-align: center;
}

.coin{
    position: absolute;
    top: 220px;
    left: 205px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid black;
    background: rgba(205,155,135,1);
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}
.numTxt{
    width:100%;
    height:100%;
    font-family:GillSansInfant;
    text-align: center;
    font-size: 20px;
    border-radius: 0px;
    line-height:55px;
}

.Txt1
{
    height: 70%;
    line-height:20px;
}
.vkBtn{vertical-align:middle; text-align:center; display:table-cell; top:100px; }
#vkeyCont{position: absolute;top: 10px; left: 15px; width: 1000px; height:615px;}


.row2{
    height: 50px !important;   
}
.keypadContainer{
   top:345px;
   left:818px;
}
.icoResetMove{
	-ms-animation: reset 1s;
}

@-ms-keyframes reset {
	0%{
		-ms-transform: rotate(0deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
	50%{
		
		background-image: url('../../images/btResetOff@2x.png');
		
	}
	100%{
		-ms-transform: rotate(-360deg);
		background-image: url('../../images/btResetOn@2x.png');
	}
}

@media screen and (max-width: 770px) {
   .page {
           left: -196px;
    }
	#page-container{
		height: 780px;
		
	}
	.keypadContainer {
    top: 382px;
    left: 722px;
}
	table{
	    width: 611px;
    height: 310px;
		    left: -5px;
}
	.contentFeedback {
		    left: -12px;
		
	}
	
}
