.layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: $backgroundLayer;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    &-hide{
        display: none;
    }
    .icon-information{
        position: absolute;
        left: 10px;
        top: 10px;
    }

}


.modal{
    position: relative;
    top: 70px;
    width: 620px;
    height: 410px;
    max-width: 630px;
    word-wrap: break-word;
    border: 2px solid #7ea0c6;
    background: #3D5485;
    background: -ms-radial-gradient(center,circle farthest-side,#597ca5 0,#3d5485 100%);
    background: -moz-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-radial-gradient(center,circle farthest-side,#597CA5 0,#3D5485 100%);
    &-closeButton{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 16px;
        height: 20px;
        background: transparent;
        border: none;
        padding-right: 15px;
        color: white;
        font-weight: normal;
        font-size: 27px;
        text-align: center;
        cursor: pointer;
        font-family:'Gill Sans MT';
        line-height: 0;
        &:focus{
            outline:0;
        }
    }

    &-text{
        padding: 20px 48px;
        color: #fff;
        font-family: GSI, 'Gill Sans', GSMT;
        font-weight: 100;
        font-size: 30px;
        line-height: 30px;
        text-shadow: 0 1px 0 rgba(0,0,0,.7);
        margin-bottom: 0;
    }
}