@font-face{
    font-family:'McLarenRegular'; 
    src:url('../../fonts/mclarenregular-webfont.eot');
    src:url('../../fonts/mclarenregular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/mclarenregular-webfont.woff') format('woff'),
        url('../../fonts/mclarenregular-webfont.ttf') format('ttf'),
        url('../../fonts/mclarenregular-webfont.svg#mclarenregular') format('svg');    
        font-weight: normal; 
        font-style: normal;     
} 
@font-face {
    font-family: 'gillsans';
    src: url('../../fonts/gillsans.ttf');
}
@font-face {
    font-family:'GillSansInfantRegural';
    src:url('../fonts/font/gilsbrg.eot');
    src:url('../fonts/font/gilsbrg.eot') format('embedded-opentype'),
    url('../fonts/font/gilsbrg.woff') format('woff'),
    url('../fonts/font/gilsbrg.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:'GillSansInfantStd';
    src:url('../../fonts/gilsbrg.eot');
    src:url('../../fonts/gilsbrg.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/gilsbrg.woff') format("woff"),
        url('../../fonts/gilsbrg.ttf') format('ttf');
    font-weight: normal;
    font-style: normal  
}

@keyframes rotate {
    0% {
        transform: rotate(2deg);       
  }
  100% {
      transform: rotate(0deg);      
  }
}

.fondoShake {
    animation: rotate 0.2s linear infinite;
    -webkit-animation: rotate 0.2s linear infinite;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%) !important;
    background-image: -ms-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%) !important;
    background-image: -moz-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%) !important;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*background-color: #A9CB00;*/
    overflow: hidden;
    -webkit-user-select: none;
    font-family: 'McLarenRegular';
}
#mainHolder {
  width: 1024px;
    height: 704px;
    overflow: hidden;
    margin: auto auto;
    position: relative;
    background: url(../../images/fondo.jpg) no-repeat;
    background-size: 100% 100%;
}
#contentHolder section {
    height: auto;
    width: auto;
}

#audio {
    display: none;
}
.show {
    display: block;
    transition: opacity 2s ease-out;
}
.inbisible {
    display: none !important;
}
/****************** Message **************************/
#_black {
    display: none;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.Center_iModal {
    position: relative;
    margin: auto auto;
    width: 100%;
    height: 100%;
   
    
}
._iModalHeader {
    height: 50px;
    width: 101%;
    position: absolute;
    z-index: 300;
}
.AbsoluteCenter_iModal {
    position: absolute;
    width: 49.6%;
    border: 2px solid #7ea0c6;
    left:25%;
    top:25.2%;
    background: -webkit-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
    background: -ms-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
    background: -moz-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
    text-shadow: 0px 2px #000;
}
._iModalHeader .icoInfo {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    float: left;
}
#icoClose {
    font-size: 30px;
    float: right;
    font-weight: normal;
    width: 16px;
    height: 20px;
    text-align: center;
    padding-right: 28px;
    padding-top: 5px;
    color: white;
    padding-bottom: 10px;
    cursor: pointer;
}
._iModalBody {
    padding:40px 48px 20px;
    font-weight: 100;
    color: #fff;
    font-size: 24px;
    line-height: 1.6em;
    font-family: 'GillSansInfantStd' , 'Calibri', 'sans-serif';

}
._iModalBody.imth2 {
    font-family: 'gilsansRegular';
    font-size: 22px;
    line-height: 1em;
}
._iModalBody.imth2 >img {
    display: none;
}
.icoClose.imth2 {
    display: block;
    position: absolute;
    right: 13px;
    top: 5px;
    cursor: pointer;
    font-size: 25px;
    z-index: 100;
}
._iModalBody>p {
    margin: 6px 0px;
    font-family: GillSansInfantStd;
    font-size: 30px;
    line-height: 1.4em;
}
._iModalBody img {
    display: block;
    margin: 10px auto;
    border: none;
    cursor: pointer;
}

/************************** end ***********************/

/******************* style for congratulations message - start ********/
.congratFeedback-hide{
    transform: scale(0.6);
    opacity: 0;
    pointer-events: none;
    z-index: 50 !important;
}

#congratFeedback{
	  z-index:3000;
    background-color:#FBB908;
    border:2px solid #D67D00;
    border-radius:10px;
    text-align:center;
    font-size:30px;
    font-weight:900;
    position:absolute;
    width:240px;
    /*left:50%;*/
    margin-left:44%;
    top:120px;
    color:#AE6408;
    padding-bottom:10px;
    cursor:pointer;
    -webkit-transition:1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition:1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition:1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition:1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


#congratFeedback .scoreFeedback{
	margin-bottom:20px;
	font-family:GillSansInfantStd;
}

#congratFeedback .playAgain{
	background:url('../../images/again.png');
	width:72px;
	height:68px;
	/*-webkit-background-size:contain !important;
	background-size:contain !important;*/
	margin:0 auto 20px;
}

#congratFeedback .playAgainTxt{
	color:#FFF;
	font-size:18px;
	font-family:GillSansInfantStd;
}

/******************* style for congratulations message - end **********/


/************************** cloud *********************/

.fondoBg {
    z-index: 0;
    top: 0;
    left: 0;
}
.cloudsAll {
    position: absolute;
    width: 100%;
    height: 300px;
    margin-top: -30px;
}
.clouds {
    position: relative;
    width: 100%;
}
#cloudOne,
#cloudTwo,
#cloudThree {
    background-size: 50%;
    background-repeat: no-repeat;
}
#cloudOne {
    background-image: url('../../images/nubes-1.png');
    width: 272px;
    height: 204px;
    position: absolute;
    margin-top: 20px;
    animation: cloudOne 150s infinite;
    -webkit-animation: cloudOne 150s infinite;
    transform-origin: 300px 0;
    -webkit-transition: all 30s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
#cloudTwo {
    background-image: url('../../images/nubes-2.png');
    width: 282px;
    height: 220px;
    position: absolute;
    margin-top: 100px;
    animation: cloudTwo 200s infinite;
    -webkit-animation: cloudTwo 200s infinite;
    transform-origin: 80px;
    -webkit-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
#cloudThree {
    background-image: url('../../images/nubes-3.png');
    width: 374px;
    height: 256px;
    position: absolute;
    margin-top: 50px;
    animation: cloudThree 300s infinite;
    -webkit-animation: cloudThree 300s infinite;
    transform-origin: -30% 50%;
    -webkit-transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
/*=====================================================*/

@keyframes cloudOne {
    from {
        transform: translate(65em);
    }
    to {
        transform: translate(-120px);
    }
}
@keyframes cloudTwo {
    from {
        transform: translate(-250px);
    }
    to {
        transform: translate(66em);
    }
}
@keyframes cloudThree {
    from {
        transform: translate(-550px);
    }
    to {
        transform: translate(67em);
    }
}
/*===========================================================*/

.barTop {
    position: absolute;
    width: 100%;
    z-index: 2000;
}

.score-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    display: none;
}
.customized-progress {
    margin-top: 25px;
    position: absolute;
    height: 71px;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}
.progress-bar {
    width: 1024px;
}
.customized-progress > .progress {
    background-image: linear-gradient(to bottom, #fef6e5 0%, #feefd1 100%);
    border-radius: 0px;
}
.timer {
    height: 60px;
    width: 130px;
    background-color: #E24446;
    border-radius: 8px;
    text-align: center;
    /*display:inline-block;*/
    
    margin-top: -3px;
    float: left;
    margin-right: 12px;
    visibility: hidden;
}
.timer:after {
    content: " ";
    display: block;
    background: #CD2225;
    height: 12px;
    width: 130px;
    position: absolute;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}
.timer span {
    height: 44px;
    width: 110px;
    margin: 0px;
    margin-top: 5px;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #25A4D3;
    font-size: 34px;
    color: #353535;
}
.go#startGame{
    right: 15.7%;
    position: absolute;
    cursor: pointer;
}
.go#scoreTag{
  width: 114px;
  height:41px;
  margin-left: 0.2%;
  margin-top: .2%;
  cursor: default;
}
.go {
   width: 100px; 
    background: #FBB908;
    text-align: center;
    border-radius: 10px;
    border: solid 2px #D67D00;
    font-weight: 900;
    font-size: 30px;
    color: #AE6408;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}  

.go p {
    font-family:'GillSansInfantStd';
    margin: 0;
    padding: 0;
/*    margin-top: 12px;*/
    text-align: center;
    font-size: 25px;
    color: #B47311;
    line-height: 1.4em
}
.go#scoreTag p {
  margin-top: 5%;
}
.go-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 160px;
    display: none;
}
#typeOfGame .go p{
    font-size: 28px
}

.bigger{
   transform:scale(1.1);
}

/*-----------------------------ARBOLES ANIMADOS---------------------------*/

.treeYellow,
.treesmall1,
.treesmall2,
.treesmall3,
.treeOrangeBig,
.treeYellowBig,
.treeCafeBig,
.treeMoradoBig {
    position: absolute;
}
#log {
    background-image: url('../../images/arboles/amarillo-arbol-back.png');
    width: 178px;
    height: 228px;
    position: absolute;
    animation: rotation 3s infinite;
    -webkit-animation: rotation 3s infinite;
    transform-origin: 50% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#up {
    background-image: url('../../images/arboles/amarillo-arbol-front.png');
    width: 178px;
    height: 127px;
    position: absolute;
    z-index: 1000;
    animation: tree 2s infinite;
    -webkit-animation: tree 2s infinite;
    transform-origin: 20% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treePurple {
    background-image: url('../../images/arboles/morado-small-arbol-tronco.png');
    width: 32px;
    height: 44px;
    position: absolute;
    z-index: 500;
    animation: rotationSmall 2.5s infinite;
    -webkit-animation: rotationSmall 2.5s infinite;
    transform-origin: 60% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treePurpleDark {
    background-image: url('../../images/arboles/morado-dark-small-arbol-tronco.png');
    width: 32px;
    height: 44px;
    position: absolute;
    z-index: 500;
    animation: rotationSmall 2s infinite;
    -webkit-animation: rotationSmall 2s infinite;
    transform-origin: 40% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeOrangeBackSmall {
    background-image: url('../../images/arboles/naranja-small-arbol-tronco.png');
    width: 32px;
    height: 44px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotationSmall 3s infinite;
    -webkit-animation: rotationSmall 3s infinite;
    transform-origin: 40% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeOrangeUp2 {
    background-image: url('../../images/arboles/naranja-small-arbol-front.png');
    width: 32px;
    height: 30px;
    position: absolute;
    z-index: 500;
    animation: treeOrange 1.5s infinite;
    -webkit-animation: treeOrange 1.5s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeOrangeBack {
    background-image: url('../../images/arboles/naranja-big-arbol-tronco.png');
    width: 51.5px;
    height: 70.5px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotationSmall 3s infinite;
    -webkit-animation: rotationSmall 3s infinite;
    transform-origin: 80% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeOrangeUp {
    background-image: url('../../images/arboles/naranja-big-arbol-front.png');
    width: 51.5px;
    height: 46px;
    position: absolute;
    z-index: 500;
    animation: treeOrange 3.5s infinite;
    -webkit-animation: treeOrange 3.5s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeYellowBack {
    background-image: url('../../images/arboles/amarillo-big-arbol-tronco.png');
    width: 51.5px;
    height: 67px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotationSmall 2500ms infinite;
    -webkit-animation: rotationSmall 2500ms infinite;
    transform-origin: 30% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeYellowUp {
    background-image: url('../../images/arboles/amarillo-big-arbol-front.png');
    width: 51.5px;
    height: 37.5px;
    position: absolute;
    z-index: 500;
    animation: rotation 3.8s infinite;
    -webkit-animation: rotation 3.8s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeCafeBack {
    background-image: url('../../images/arboles/cafe-big-arbol-back.png');
    margin-top: 90px;
    width: 129px;
    height: 50.5px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotation 3000ms infinite;
    -webkit-animation: rotation 3000ms infinite;
    transform-origin: 70% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeCafeMiddle {
    background-image: url('../../images/arboles/cafe-big-arbol-tronco.png');
    width: 129px;
    height: 193px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotationSmall 2500ms infinite;
    -webkit-animation: rotationSmall 2500ms infinite;
    transform-origin: 30% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeCafeUp {
    background-image: url('../../images/arboles/cafe-big-arbol-front.png');
    width: 129px;
    height: 125.5px;
    position: absolute;
    z-index: 500;
    animation: rotation 3.8s infinite;
    -webkit-animation: rotation 3.8s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeMoradoBack {
    background-image: url('../../images/arboles/morado-dark-big-arbol-tronco.png');
    width: 107.5px;
    height: 150.5px;
    position: absolute;
    /*z-index: 500;*/
    
    animation: rotationBig 3s infinite;
    -webkit-animation: rotationBig 3s infinite;
    transform-origin: 30% 100%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
#treeMoradoUp {
    background-image: url('../../images/arboles/morado-dark-big-arbol-front.png');
    width: 107px;
    height: 85px;
    position: absolute;
    z-index: 100;
    margin-top: 10px;
    animation: rotation 4s infinite;
    -webkit-animation: rotation 4s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 0.580, 1.000);
}
.amarilloBig,
.moradoSmall,
.moradoDarkSmall,
.naranjaDarkSmall,
.orangeDarkBig,
.YellowBig,
.cafeBig,
.moradoBig {
    position: relative;
}
.amarilloBig {
       float: right;
    margin-left: 992px;
    margin-top: -85px;
}
.moradoSmall {
    margin-left: 428px;
    margin-top: 15px;
}
.moradoDarkSmall {
    margin-left: 895px;
    margin-top: -59px;
}
.naranjaDarkSmall {
    margin-left: 724px;
    margin-top: 16px;
}
.orangeDarkBig {
    margin-left: 57px;
    margin-top: -10px;
}
.YellowBig {
    margin-left: 591px;
    margin-top: 7px;
}
.cafeBig {
    margin-left: 456px;
    margin-top: -98px;
}
.moradoBig {
    margin-left: 800px;
    margin-top: -70px
}
.Trees {
    /*margin-top: 330px;*/
    
    bottom: 28%;
    z-index: 0;
    position: absolute;

    width: 95%;
    height: 30%;
}
/********************************************animation tree ********************************/

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rotationSmall {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes rotationBig {
    from {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(3deg);
    }
}
@keyframes tree {
    from {
        transform: translate(0);
    }
    50% {
        transform: translate(1%);
    }
    to {
        transform: translate(0);
    }
}
@keyframes treeOrange {
    from {
        transform: translate(0);
    }
    50% {
        transform: translate(2%);
    }
    to {
        transform: translate(0);
    }
}
/*---------------FIN DE ARBOLES ANIMADOS---------------------*/
/* ==========================================================================
monster
========================================================================== */

.MonsterHolder {
    position: absolute;
    left: 420px;
    bottom: 37%;
}
.tinyMonster {
    position: relative;
    width: 235px;
    height: 307px;
    top: 0.5em;

}
#head {
    background-image: url('../../images/mostrete/monstrete05.png');
    width: 157px;
    height: 236px;
    animation: head_animation 3s infinite;
    -webkit-animation: head_animation 3s infinite;
    transform-origin: 25% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

 #lh {
    background-image: url('../../images/mostrete/monstrete10.png');
    left: 15px;
    width: 34px;
    height: 54px;
}
#rh {
    background-image: url('../../images/mostrete/monstrete16.png');
    left: 107px;
    width: 27px;
    height: 37px;
}
#lh,
#rh {
    top: 27px;
}
#ra {
    background-image: url('../../images/mostrete/monstrete03.png');
    width: 86px;
    height: 167px;
    top: 78px;
    left: -43px;
    animation: ra_animation 2s infinite;
    -webkit-animation: ra_animation 2s infinite;
    transform-origin: 0% 0%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
#la {
   background-image: url('../../images/mostrete/monstrete03a-reflect.png');
    width: 118px;
    height: 117px;
    top: 99px;
    left: 114px;
    animation: la_animation 5s infinite;
    -webkit-animation: la_animation 5s infinite;
    transform-origin: 1% 0%;
    transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transform: rotate(-10deg);
}
.face {
    width: 56px;
    height: 115px;
    top: 40px;
    left: 54px;
}
#cavity {
    width: 86px;
    height: 68px;
}
#eyeLeft {
    background-image: url('../../images/mostrete/monstrete15.png');
    width: 17px;
    height: 21px;
    top: 15px;
    left: 4px;
}
#eyeLeft.bored {
    background-image: url('../../images/mostrete/boring2.png');
}
#eyeRight {
    background-image: url('../../images/mostrete/monstrete14.png');
    width: 17px;
    height: 21px;
    top: 15px;
    right: 5px;
}
#eyeRight.bored {
    background-image: url('../../images/mostrete/boring1.png');
}
#eyeLeftEating {
    background-image: url('../../images/mostrete/comer04.png');
    width: 45px;
    height: 35px;
    top: 15px;
    left: 4px;
}
#chickLeft {
    top: 6px;
    right: 0;
    background-image: url('../../images/mostrete/comer03.png');
    width: 30px;
    height: 45px;
    animation: chickLeft .5s 2;
    -webkit-animation: chickLeft .5s 2;
    transform-origin: 100% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
#chickRight {
    top: 8px;
    left: -30px;
    background-image: url('../../images/mostrete/comer01.png');
    width: 29px;
    height: 56px;
    animation: chickRight .5s 2;
    -webkit-animation: chickRight .5s 2;
    transform-origin: 100% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
#tooth {
    background-image: url('../../images/mostrete/monstrete07.png');
    width: 19px;
    height: 16px;
}
#baba {
    background-image: url('../../images/mostrete/monstrete11.png');
    width: 93px;
    height: 85px;
    left: -10px;
    bottom: 0px;
}
.mouthM {
    top: 75px;
    left: 48px;
}
.mouthEww {
    background-image: url('../../images/mostrete/eww02.png');
    width: 69px;
    height: 15px;
    animation: mouthEw 1s;
    -webkit-animation: mouthEw 1s;
    transform-origin: 50% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.mouthEating {
    animation: mouth .5s 2;
    -webkit-animation: mouth .5s 2;
    width: 90px;
    height: 80px;
    transform-origin: 25% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
.mouthNormal {
    animation: mouth 3.01s infinite;
    -webkit-animation: mouth 3.01s infinite;
    width: 75px;
    height: 80px;
    transform-origin: 25% 50%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
#cavityEating {
    background-image: url('../../images/mostrete/comer02.png');
    top: -10px;
    width: 63px;
    height: 70px;
    background-position: center bottom;
    animation: cavityEating .6s 2;
    -webkit-animation: cavityEating .6s 2;
    transform-origin: 50% 0%;
    -webkit-transition: all cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
#red {
    background-image: url('../../images/mostrete/monstrete09.png');
    width: 75px;
    height: 42px;
}
#black {
    background-image: url('../../images/mostrete/monstrete08.png');
    width: 71px;
    height: 71px;
}
#eyebrowLeft {
    background-image: url('../../images/mostrete/monstrete12.png');
    width: 19px;
    height: 14px;
}
#eyebrowLeft.hard {
    transform: rotate(20deg);
    top: 4px;
    left: 3px;
}
#eyebrowRight {
    background-image: url('../../images/mostrete/monstrete13.png');
    width: 22px;
    height: 17px;
    right: 0;
}
#eyebrowRight.hard {
    transform: rotate(16deg);
    top: -6px;
}
#head.hard {
    background-image: url('../../images/mostrete/monstrete05-hard.png') !important;
}

#eyebrowLeftEating,
#eyebrowLeftWrong {
    background-image: url('../../images/mostrete/comer06.png');
    width: 21px;
    height: 29px;
}
#eyebrowLeftWrong {
    right: 0px;
    transform: rotate(-260deg);
}
#eyeLeftWrong {
    background-image: url('../../images/mostrete/eww03.png');
    width: 21px;
    height: 15px;
    right: 0;
    top: 20px;
}
#eyeRightWrong {
    background-image: url('../../images/mostrete/eww01.png');
    width: 21px;
    height: 18px;
    left: 0;
    top: 20px;
}
#eyebrowLeftEating {
    top: 0px;
    transform: rotate(-94deg);
}
#eyebrowRightEating,
#eyebrowRightWrong {
    background-image: url('../../images/mostrete/comer05.png');
    width: 24px;
    height: 25px;
}
#eyebrowRightEating {
    right: 0;
    top: 8px;
    transform: rotate(80deg);
}
#eyebrowRightWrong {
    transform: rotate(-94deg);
}
#hand {
    background-image: url('../../images/mostrete/monstrete06.png');
    width: 50px;
    height: 54px;
    bottom: 10px;
    right: 0;
}
.belly {
    background-image: url('../../images/mostrete/monstrete04.png');
    width: 178px;
    height: 178px;
    top: 112px;
    animation: belly 4s infinite;
    -webkit-animation: belly 4s infinite;
    transform-origin: 50% 50%;
    -webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
#bellyButton {
    background-image: url('../../images/mostrete/monstrete18.png');
    width: 128px;
    height: 119px;
    left: 24px;
    top: 34px;
}
#sign {
    -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0;
    background-image: url('../../images/mostrete/bubble.png');
    text-align: center;
    vertical-align: 50%;
    width: 184px;
    height: 177px;    
    color: #ffffff;
    position: absolute;
    left: 103px;
    top: -76px;
}
#oparation{
    margin-top: 40%;
    
}

#sign.signAppear {
    -webkit-filter: blur(0px);
	filter:blur(0px);
    opacity: 1;
}
#sign.correctF {
    transform: scale(1.2, 1.2);
    -webkit-transition: scale cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
}
#sign #oparation h2 {
    color: #212121;
    font-size: 34px;
    margin-top: 23%;
    margin-left: 3%;
    font-weight: normal;
}
.boring {
    background-image: url('../../images/z.png');
    width: 41px;
    height: 43px;
    position: absolute;
}
.boring:nth-child(1) {
    top: -50px;
    animation: boringAnimation2 6s infinite;
    -webkit-animation: boringAnimation2 6s infinite;
    transform: scale(.8);
}
.boring:nth-child(2) {
    top: -20px;
    animation: boringAnimation2 8s infinite;
    -webkit-animation: boringAnimation2 8s infinite;
    transform: scale(.7, .7);
    left: -5px;
}
.boring:nth-child(3) {
    top: 0px;
    left: 10px;
    animation: boringAnimation2 4s infinite;
    -webkit-animation: boringAnimation2 4s infinite;
    transform: scale(.5, .5);
}
@keyframes boringAnimation2 {
    50% {
        transform:scale(.7,.7) rotate(-50deg);
    }
}
#rf {
    width: 91px;
    height: 93px;
    background-image: url('../../images/mostrete/monstrete02.png');
    left: -53px;
    animation: rf_animation 4s infinite;
    -webkit-animation: rf_animation 4s infinite;
    transform-origin: 100% 100%;
    transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
#lf {
    width: 91px;
    height: 93px;
    background-image: url('../../images/mostrete/monstrete01.png');
    left: 138px;
    animation: lf_animation 4s infinite;
    -webkit-animation: lf_animation 4s infinite;
    transform-origin: 0% 0%;
    transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
}
#lf,
#rf {
    top: 198px;
}
.tinyMonster img {
    width: 50%;
    height: 50%;
}
.tinyMonster div {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}
.normal {
    display: inline-block;
}
.eating {
    display: none;
}
.wrong {
    display: none;
}
/********************************************animations Monster ********************************/

@keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}
@keyframes ra_animation {
    from {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-2deg);
    }
}
@keyframes la_animation {
    from {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(-12deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

@keyframes belly {
    from {
        transform: scale(1);
    }
    30% {
        transform: scale(1.04, 1.02);
    }
    to {
        transform: scale(1);
    }
}
@keyframes head_animation {
    from {
        transform: scale(1);
    }
    30% {
        transform: scale(1, 1.02);
    }
    to {
        transform: scale(1);
    }
}
@keyframes rf_animation {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-4deg);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes lf_animation {
    from {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(0deg);
        transform: translate(5px);
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes mouth {
    from {
        transform: scale(.99);
    }
    30% {
        transform: scale(1, 1.04);
    }
    to {
        transform: scale(.99);
    }
}
@keyframes cavityEating {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-15deg)
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes chickLeft {
    from {
        transform: translate(0px);
    }
    50% {
        transform: translate(-3px);
    }
    to {
        transform: translate(0px);
    }
}
@keyframes chickRight {
    from {
        transform: translate(0px);
    }
    40% {
        transform: translate(3px);
    }
    to {
        transform: translate(0px);
    }
}
@keyframes mouthEw {
    from {
        transform: scale(1);
    }
    40% {
        transform: scale(1.1, .99);
    }
    to {
        transform: scale(1);
    }
}
/*=====================FIN ANIMACION MONSTRUO========================*/
/* ==========================================================================
frutas and animation
========================================================================== */

.zeroFruit {
	background-position: 0px 0px !important;
}

.fondoBg {
	z-index: 0;
	top:0;
	left:0;
}

.top{
    margin-top:5.2%;
    width:auto;
    vertical-align: top;
    padding: 0 3em;  
}
#easyLevel{
	margin-left:112px;
}
.timer{
	height:60px;
	width:130px;
	background-color:#E24446;
	border-radius:8px;
	text-align:center;
	/*display:inline-block;*/
	margin-top:-3px;
	float:left;
	margin-right:12px;
	visibility:hidden;
}

.timer:after{
	content: " ";
    display: block;
    background: #CD2225;
    height: 12px;
    width: 130px;
    position: absolute;
    border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.timer span{
	height: 44px;
	width: 110px;
	margin: 0px;
	margin-top: 5px;
	background-color: white;
	border-radius: 6px;
	border: 3px solid #25A4D3;
	font-size: 34px;
	color:#353535;
}


.go p {
	margin: 0;
	padding: 0;
	margin-top: 6px;
	text-align: center;
	font-size: 25px;
	color: #B47311;
}
.score-button span {
	font-family: McLarenRegular;
margin: 0;
font-size: 24px;
}
.mouth{
	width:100px;
	height:100px;
	position:absolute;
	top:80px;
	left:40px;
}

.dsp {
	position:relative;	    
	width: 99.5% !important;
    height: 31%;
    margin-top: 42%;
    
}

  /*@import "normalize";*/
  /* my sass */
  /* line 6, ../../sass/screen.scss */
  .img {
	  float: left;
	  color: white;
	  text-align: center;
	  margin-bottom: 10px;
	  height: 70px;
	  width: 70px;
}
/* line 14, ../../sass/screen.scss */
.g {
	width: 100%;
	height: 100%;
	position: absolute;
}

.bubble {
    border-radius: 50%;
    background-color: #25A9FA;
    position: absolute;
    text-align: center;
    right: -29px;
    min-height: 25px;
    padding: 3px;
    color: white;
    font-size: 22px;
    top: -21px;
}
.box {
	position: absolute;
	width: 100px;
	height: 100px;	
	top: 0px;
	z-index: 1000;	    
}

.hide{
    left: 101%;
    display: none;
}

.hormigasCont {
	width: 100px;
	height: 30px;
	margin-top: 48px;
	position: absolute;
	z-index: 3000;
}

/* line 36, ../../sass/screen.scss */
.ant {
	width: 17%;
	height: 80%;
	margin: 2px;
	background: black;
	position: relative;
	float: left;
	background: url("../../images/mostrete/ant.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container {
	position: absolute;
	width: 70px;
	height: 70px;
}

/***
**** STYLE FOR FRUITS - START 
***/

.banana {
	background: url("../../images/things/banana.png");
	background-repeat: no-repeat;
	height: 103px;
	width: 110px;
}

/* line 130, ../../sass/ants.scss */
.carrots {
	background: url("../../images/things/carrots.png");
	height: 69px;
	width: 129px;
	background-repeat: no-repeat;
}

/* line 176, ../../sass/ants.scss */
.cheese {
	background: url("../../images/things/cheese.png");
	height: 107px;
	width: 129px;
	background-repeat: no-repeat;
	float: left;
}

/* line 224, ../../sass/ants.scss */
.cherries {
	background: url("../../images/things/cherries.png");
	height: 107px;
	background-repeat: no-repeat;
	float: left;
	width: 133px;
}

/* line 304, ../../sass/ants.scss */
.grapes {
	background: url("../../images/things/grapes.png");
	height: 86px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}

/* line 312, ../../sass/ants.scss */
.kiwis {
	background: url("../../images/things/kiwis.png");
	height: 86px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}

/* line 321, ../../sass/ants.scss */
.meats {
	background: url("../../images/things/meats.png");
	height: 86px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}

/* line 366, ../../sass/ants.scss */
.milks {
	background: url("../../images/things/milks.png");
	background-repeat: no-repeat;
	float: left;
	height: 100px;
	width: 108px;
}

/* line 393, ../../sass/ants.scss */
.oranges {
	background: url("../../images/things/oranges.png");
	height: 110px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
	margin-left: -20px;
	margin-top: -46px;
}

/* line 441, ../../sass/ants.scss */
.strawberries {
	background: url("../../images/things/strawberries.png");
	height: 106px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}

/* line 484, ../../sass/ants.scss */
.tires {
	background: url("../../images/things/tires.png");
	height: 92px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}

/* line 505, ../../sass/ants.scss */
.tomatoes {
	background: url("../../images/things/tomatoes.png");
	height: 93px;
	background-repeat: no-repeat;
	float: left;
	width: 132px;
}


/* line 518, ../../sass/ants.scss */
.watermelons {
	background: url("../../images/things/watermelons.png");
	height: 55px;
	background-repeat: no-repeat;
	float: left;
	width: 130px;
	left:-20px;
}

/** 
*** QUANTITY: 0
**/
.fondo[class*='-0']{
	top: 6px;
	left: 20px;
	background: none;
	width: 80px;
	height: 80px;
	border: 4px dashed white;
	border-radius: 40px;
}

/** 
*** QUANTITY: 1 
**/
.banana-1,
.carrots-1,
.cheese-1,
.cherries-1,
.grapes-1,
.kiwis-1,
.milks-1,
.oranges-1,
.strawberries-1,
.tires-1,
.tomatoes-1,
.watermelons-1,
.meats-1 {
	background-position: 0px 0px;
}
.cherries-1 {
	width: 73px;
}
.grapes-1,
.kiwis-1,
.tomatoes-1,
.meats-1  {
	width: 88px;
}
.meats-1 {
	width: 100px;
}
.milks-1 {
	width: 58px;
}

.oranges-1 {
	width: 112px;
}

.strawberries-1 {
	width: 94px;
}

.tires-1 {
	width: 96px;
}

.watermelons-1 {
	width: 115px;
}



/** 
*** QUANTITY: 2 
**/
.banana-2,
.carrots-2,
.cheese-2 {
	background-position: -134px 0px;
}
.cherries-2 {
	background-position: -114px 0px;
	width: 112px;
}
.grapes-2,
.kiwis-2,
.tomatoes-2 {
	background-position: -133px 0px;
	width: 95px;   
}
.meats-2 {
	background-position: -121px 0px;
	width: 120px;
}

.milks-2 {
	background-position: -104px 0px;
	width: 110px;
}

.oranges-2 {
	background-position: -130px 0px;
	width: 116px;
}

.strawberries-2 {
	background-position: -122px 0px;
	width: 112px;
}

.tires-2 {
	background-position: -123px 0px;
	width: 115px;
}

.watermelons-2 {
	background-position: -122px 0px;
	width: 134px;
}

/**
*** QUANTITY: 3 
**/

.banana-3,
.carrots-3,
.cheese-3 {
	background-position: -268px 0px;
}

.banana-3 {
	width: 115px;
}

.cherries-3 {
	background-position: -249px 0px;
}
.milks-3,
.grapes-3,
.kiwis-3,
.meats-3,
.tires-3 {
	background-position: -249px 0px;
	width: 130px;
}

.milks-3 {
	width: 100px;
}

.oranges-3 {
	width: 125px;
	background-position: -260px 0px;
}

.strawberries-3 {
	width: 125px;
	background-position: -254px 0px;
}

.tomatoes-3 {
	background-position: -244px 0px;
}

.watermelons-3 {
	width: 134px;
	background-position: -261px 0px;
}

/**
*** QUANTITY: 4
**/
.banana-4 {
	width: 104px;
	background-position: -389px 0px;
}

.carrots-4 {
	background-position: -389px 0px;
}

.cheese-4 {
	background-position: -400px 0px;
}
.cherries-4 {
	background-position: -382px 0px;
}
.milks-4,
.grapes-4,
.kiwis-4,
.meats-4,
.tires-4,
.tomatoes-4 {
	background-position: -382px 0px;
	width: 133px;
}

.milks-4 {
	width: 108px;
}

.oranges-4 {
	background-position: -389px 0px;
	width: 138px;
}

.strawberries-4 {
	background-position: -380px 0px;
	width: 138px;
}

.watermelons-4 {
	background-position: -392px 0px;
	width: 138px;
}



/**
*** QUANTITY: 5 
**/
.banana-5 {
	width: 104px;
	background-position: -527px 0px;
}
.carrots-5 {
	background-position: -527px 0px;
}
.cheese-5 {
	background-position: -533px 0px;
}
.cherries-5 {
	background-position: -517px 0px;
}
.milks-5,
.grapes-5,
.kiwis-5,
.meats-5,
.tires-5,
.tomatoes-5{
	width: 130px;
	background-position: -517px 0px;
}

.milks-5 {
	width: 130px;
}

.oranges-5 {
	background-position: -528px 0px;
}

.strawberries-5 {
	background-position: -520px 0px;
}

.tires-5 {
	width: 134px;
}

.watermelons-5 {
	background-position: -520px 0px;
	width: 143px;
}


/**
*** QUANTITY: 6 
**/
.banana-6,
.carrots-6,
.cheese-6 {
	width: 126px;
	background-position: -667px 0px;
}
.carrots-6,
.cheese-6 {
	width: 134px;
}

.cherries-6,
.grapes-6,
.kiwis-6,
.meats-6,
.milks-6,
.tires-6,
.tomatoes-6{
	background-position: -652px 0px;
}

.oranges-6 {
	background-position: -662px 0px;
}

.strawberries-6 {
	background-position: -660px 0px;
}

.watermelons-6 {
	background-position: -666px 0px;
}

/**
*** QUANTITY: 7 
**/
.banana-7,
.carrots-7,
.cheese-7 {
	width: 126px;
	background-position: -799px 0px;
}
.carrots-7,
.cheese-7 {
	width: 134px;
}

.cherries-7,
.grapes-7,
.kiwis-7,
.meats-7,
.milks-7,
.tires-7,
.tomatoes-7 {
	background-position: -785px 0px;
}

.oranges-7 {
	background-position: -796px 0px;
}

.strawberries-7 {
	background-position: -790px 0px;
}

.watermelons-7 {
	background-position: -800px 0px;
}

/**
*** QUANTITY: 8 
**/
.banana-8,
.carrots-8,
.cheese-8{
	width: 128px;
	background-position: -935px 0px;
}
.carrots-8 {
	width: 134px;
}
.cheese-8 {
	width: 134px;
}
.cherries-8,
.grapes-8,
.kiwis-8,
.meats-8,
.milks-8,
.tires-8,
.tomatoes-8{
	background-position: -925px 0px;
}

.oranges-8 {
	background-position: -932px 0px;
}

.strawberries-8 {
	background-position: -928px 0px;
}

.watermelons-8 {
	background-position: -936px 0px;
}

/**
*** QUANTITY: 9 
**/
.banana-9,
.carrots-9,
.cheese-9 {
	width: 135px;
	background-position: -1067px 0px;
}

.cheese-9 {
	background-position: -1072px 0px;
}
.cherries-9,
.grapes-9,
.kiwis-9,
.meats-9,
.milks-9,
.strawberries-9,
.tires-9,
.tomatoes-9{
	background-position: -1060px 0px;
}
.oranges-9 {
	background-position: -1067px 0px;
}

.watermelons-9 {
	background-position: -1070px 0px;
}

/**
*** QUANTITY: 10
**/
.banana-10,
.carrots-10, 
.cheese-10{
	background-position: -1204px 0px;
}
.banana-10{
	width: 127px;
}

.carrots-10 {
	width: 134px;
}
.cheese-10 {
	width: 134px;
}
.cherries-10,
.grapes-10,
.kiwis-10,
.meats-10,
.milks-10,
.tires-10,
.tomatoes-10{
	background-position: -1194px 0px;
}

.oranges-10 {
	background-position: -1200px 0px;
}

.strawberries-10 {
	background-position: -1196px 0px;
}

.watermelons-10 {
	background-position: -1206px 0px;
}

/***
**** STYLE FOR FRUITS - END 
***/


/* line 573, ../../sass/ants.scss */
.fruitHolder,
.fruitHolder-strawberries,
.fruitHolder-kiwi {
	transform: scale(0.92, 0.92);
}

.fruitHolder-banana {
	transform: scale(0.7, 0.7);
	margin-top: -35px;
}

.fruitHolder-strawberries {
	margin-top: -40px;
	margin-left: -25px;
}

.fruitHolder-milks {
	margin-top: -39px;
	margin-left: -2px;
}

.fruitHolder-kiwi {
	margin-top: -18px;
	margin-left: -20px;
}

.fruitHolder-cheese {
	transform: scale(0.92, 0.92) rotate(-11deg);
	transform-origin: 50% 50%;
	margin: -26px 0 0 -41px;
}

.fruitHolder-tomatoes,
.fruitHolder-cherries,
.fruitHolder-meats,
.fruitHolder-carrots,
.fruitHolder-kiwis,
.fruitHolder-tires,
.fruitHolder-grapes {
	transform: scale(0.9, 0.9);
	margin-top: -22px;
	margin-left: -22px;
}

.fruitHolder-tomatoes {
	margin-top: -30px;
	margin-left: -12px;
}

.fruitHolder-carrots{
	margin-top: -15px;
}


/**  MODIFY THE STYLE (SCALE) FOR FRUITS - START */
.fruitHolder-cheese-1, .fruitHolder-cheese-2{
	transform: scale(0.6) rotate(-11deg);
	margin-top: 0px;
}

.fruitHolder-cherries-1, .fruitHolder-cherries-2, .fruitHolder-cherries-3,
.fruitHolder-grapes-1, .fruitHolder-grapes-1, .fruitHolder-grapes-3,
.fruitHolder-kiwis-1, .fruitHolder-kiwis-2, .fruitHolder-kiwis-3,
.fruitHolder-meats-1, .fruitHolder-meats-2, .fruitHolder-meats-3,
.fruitHolder-oranges-1, .fruitHolder-oranges-2, .fruitHolder-oranges-3,
.fruitHolder-strawberries-1, .fruitHolder-strawberries-2, .fruitHolder-strawberries-3,
.fruitHolder-tomatoes-1, .fruitHolder-tomatoes-2, .fruitHolder-tomatoes-3,
.fruitHolder-watermelons-1, .fruitHolder-watermelons-2, .fruitHolder-watermelons-3{
	transform: scale(0.6);
	margin-top: 0px;
}

.fruitHolder-oranges-1, .fruitHolder-oranges-2, .fruitHolder-oranges-3{
	margin-top: 15px;
}

.fruitHolder-strawberries-1, .fruitHolder-strawberries-2, .fruitHolder-strawberries-3{
	margin-top: -5px;
}

.fruitHolder-watermelons-1, .fruitHolder-watermelons-2, .fruitHolder-watermelons-3{
	margin-top:20px;
}

/**  MODIFY THE STYLE (SCALE) FOR FRUITS - END */

/**  MODIFY THE STYLE (SCALE) FOR FRUITS - START */
.fruitHolder.cheese-1, .fruitHolder.cheese-2{
	transform: scale(0.6) rotate(-11deg);
	margin-top: 0px;
}

.fruitHolder.cherries-1, .fruitHolder.cherries-2, .fruitHolder.cherries-3,
.fruitHolder.grapes-1, .fruitHolder.grapes-1, .fruitHolder.grapes-3,
.fruitHolder.kiwis-1, .fruitHolder.kiwis-2, .fruitHolder.kiwis-3,
.fruitHolder.meats-1, .fruitHolder.meats-2, .fruitHolder.meats-3,
.fruitHolder.oranges-1, .fruitHolder.oranges-2, .fruitHolder.oranges-3,
.fruitHolder.strawberries-1, .fruitHolder.strawberries-2, .fruitHolder.strawberries-3,
.fruitHolder.tomatoes-1, .fruitHolder.tomatoes-2, .fruitHolder.tomatoes-3,
.fruitHolder.watermelons-1, .fruitHolder.watermelons-2, .fruitHolder.watermelons-3{
	transform: scale(0.6);
	margin-top: 0px;
}

.fruitHolder.oranges-1, .fruitHolder.oranges-2, .fruitHolder.oranges-3{
	margin-top: 20px;
}

.fruitHolder.strawberries-1, .fruitHolder.strawberries-2, .fruitHolder.strawberries-3{
	margin-top: -5px;
}

.fruitHolder.watermelons-1, .fruitHolder.watermelons-2, .fruitHolder.watermelons-3{
	margin-top:20px;
}

/**  MODIFY THE STYLE (SCALE) FOR FRUITS - END */

/**  fruit Move */

.fruitMuve1{
    animation: cloudTres 300s;
    -webkit-animation: cloudTres 300s;
    transform-origin: -30% 50%;
    transition: all cubic-bezier(0.250, 0.250, 0.750, 0.750);
}
/*=====================================================*/

.box{
    animation: 1 linear forwards;
    -webkit-animation: 1 linear forwards;
    left:1050px;
}

.first{
}

.second{
    top:30px;
}

.third{
    top:60px;
}

.fourth{
    top:90px;
}

.fifth{
   top:110px; 
}

.sixth{
    top:130px;
}

.move1{
    left:1050px;
    position: absolute;
}
.move2{
    left:1100px;
    position: absolute;
}

.move3{
    left:1150px;
    position: absolute;
}

.move4{
   left:1200px; 
   position: absolute;
}
.move5{
    left:1250px;
    position: absolute;
}
.move6{
   left: 1300px;
   position: absolute;
}

.withoutDelay{
 animation-delay:1s;
 -webkit-animation-delay:1s;
}
@keyframes fruitMove{
  from { left: 1050px; }
  to { left: -200px;  }
}

@keyframes fruitMove1{
  from { left: 1050px; }
  to { left: -400px;  }
}

@keyframes fruitMove2{
  from { left: 1150px }
  to {  left: -300px;  }
}

@keyframes fruitMove3{
  from { left: 1250px; }
  to { left: -200px; }
}

@keyframes fruitMove4{
  from { left: 1450px; }
  to { left: 0px;  }
}

@keyframes fruitMove5{
  from { left: 950px; }
  to { left: -500px;  }
}

@keyframes fruitMove6{
  from { left: 1350px; }
  to { left: 100px;  }
}




/****************** ContentFeedback *******************/
.contentFeedback{
    position: absolute;
    width: 340px;
    height: 40px;
    bottom: 0.9%;
    right: 2.9%;
    overflow: hidden;
}

.icoReset{
    opacity: 0.9;
    background-image: url('../../images/base/btResetOn@2x.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 34px;
    height: 34px;

}

.btReset,.btInfo{
    float: right;
    width: 34px;
    height: 34px;
    cursor: pointer;
}



.icoResetMove{
    animation: reset 1s;
    -webkit-animation: reset 1s;
}
@keyframes reset {
    0%{
        transform: rotate(0deg);
    }
    50%{
        opacity: 0.4;
    }
    100%{
        transform: rotate(-360deg);
    }
}
.disable{
    opacity: 0.4;
    pointer-events: none;
    cursor:default;
}
.btInfo{margin-right: 17px;}

.icoInfo{
    width: 29px;
    height: 31px;
    background-position: center center;
    background-size: 100%;
}

.icoInfo{background-image: url('../../images/base/btInfoOff@2x.png');}
.icoInfoMove{background-image: url('../../images/base/btInfoOn@2x.png');}

.icoFeed{background-image: url('../../images/base/btFeedOff@2x.png');}
.icoFeedMove{background-image: url('../../images/base/btFeedOn@2x.png');}

/**********************************Progess Bar*******************************/
/****************************************************************************/
.timeActive{
    animation: timer_animation linear;
    -webkit-animation: timer_animation linear;
}

@keyframes timer_animation {
    from{width:0%}
    to{width:100%}
}

/******/

.meter {
    height: 20px;  
    position: relative;
    background-image: linear-gradient(to bottom, #fef6e5 0%, #feefd1 100%);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    margin-top: 25px;


}
.meter > span {
  width: 0%;
  display: block;
  height: 100%;
  background-color:#f0ad4e;
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}



.meter > span:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
    background-image:linear-gradient(
    45deg,
    rgba(255,255,255,0.15) 25%,
    transparent 25%, transparent 50%,
    rgba(255,255,255,0.15) 50%,
    rgba(255,255,255,0.15) 75%,
    transparent 75%,
    transparent
    );
  z-index: 1;
  background-size: 50px 50px;
  overflow: hidden;
}


/*************************************3levels**************************/

#typeOfGame{
    margin-left: 25.3%;
    margin-top: 15.5%;
    font-family: 'GillSansInfantStd';
    width: 73%;
}

.B-T-Type{
    transform: scale(0.9);
    width: 220px;
    height: 176px;
    border: solid 2px #FFFFFF;
    display: block;
    float: left;
}

#numbers{
    background: url(../../images/num-type.jpg);
    background-size: contain;
}

#expressions{
    background: url(../../images/oper-type.jpg);
    background-size: contain;
}

#someOfEach{
    background: url(../../images/mix-type.jpg);
    background-size: contain;
}

.btnTxt{
    line-height: 35.7143px;
    width: 15%; 
    margin-left: 1%;
    cursor:pointer;
}

/****************/

.dragDropHidden{
    visibility: hidden;
}

.dragDropVisible{
    visibility: visible;
}
/* ******************   Responsive design    *****************************/
@media (max-width: 1025px ) and (orientation: landscape) {
 #mainHolder{
   width: 100vw;
   height: 95vh;
  }

  .AbsoluteCenter_iModal{
    top:20%;
    left: 7%;
    width: 85%
  }
  ._iModalBody {
    font-size: 24px;
  }

  ._iModalBody img {
    transform: scale(1);
  }

  .contentFeedback {
    transform: scale(1.2);
    bottom: 3%;
    right: 5%;
}
}
@media (max-width: 961px ) and (orientation: portrait) {
  .bigger{
    transform:scale(1.1);
   }
  #mainHolder{
    transform: scale(.91);
    top: -3%;
    position: absolute;
    left: -3.2%
  }
 .bubble{
    transform: scale(1.2);
  }
  .AbsoluteCenter_iModal{
    top: 12%;
    width: 83%;
    left: 8%;
  }
  ._iModalBody {
    font-size: 24px;
  }
  .btnTxt {
    width: 15%;
    padding: 72px;
    display: inline-block;
    margin-bottom: 2%;
}
.contentFeedback {
  transform: scale(1.6);
  right: 15%;
  bottom: 1%;
}
#typeOfGame {
    margin-top: 16%;
    margin-left: 0%;
    width: auto;
}
#startGame{
    padding: 39px;
    left: 72%;
}
#scoreTag {
    position: absolute;
    padding: 38px;
    left: 5%;
}
.go#scoreTag p{
  font-size: 30px;
}
.box{
    transform:scale(1.1);
}
}

@media (max-width: 769px ){
  #mainHolder{
    transform: scale(.73);
    top: -10.5%;
    position: absolute;
    left:-16.5%;
  }
 .bubble{
    transform: scale(1.4);
  }
  .AbsoluteCenter_iModal{
    top: 10%;
    width: 88%;
    left: 6%;

  }
  ._iModalBody {
    font-size: 20px;
  }
  .btnTxt {
    width: 15%;
    padding: 74px;
    display: inline-block;
    margin-bottom: 2%;
    }
    .contentFeedback {
      transform: scale(1.6);
      right: 17%;
      bottom: 0.5%;
    }
    #typeOfGame {
       margin-top: 16%;
       margin-left: 0%;
    }
    #startGame{
        padding: 39px;
        left: 72%;
        font-size: 35px;
    }

    #scoreTag {
        position: absolute;
        padding: 39px;
        left: 8%;
    }
    .go#scoreTag p{
      line-height: 0em;   
      left: 19%;
      margin-top: 12%;
      position: absolute;
      font-size: 33px;
    }

    #congratFeedback{
        right: 35%;
        top:5%;
    }
    .box{
      transform: scale(1.1);
    }
}

/*************** Fruist on screen **********/
.noneFruits{
    display: none;
}
/******************/
.ui-draggable{
cursor: move;
}
/****************    Touch for IE10 ****************************************/
.ui-resizable,
.ui-sortable,
.ui-draggable, 
.ui-droppable {
    -ms-touch-action: none;
    touch-action: none;
}
