  * {
    background-repeat: no-repeat;
}

body {
	padding: 0;
    background-color: #bbfd00;
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    font-size: 16px;
    margin: 0;
}

@font-face {
	font-family:'GillSansInfant'; 
	src: url("../../fonts/gilsbrg.woff");
}

@font-face {
 	font-family:'McLarenRegular';
 	src:url("../../fonts/McLarenRegular.ttf")
}
 
#overlay {
	position: absolute;
	margin: 0;
	padding: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.overlayBlack {
	background-color: rgba(0,0,0,0.7);
	z-index: 150;
}

.overlayWhite {
	background-color: rgba(255,255,255,0.2);
	z-index: 150;
}

.card.match .front {
     z-index: 10;
    -webkit-transform: rotateY(180deg) scale(2);
    -moz-transform: rotateY(180deg) scale(2);
    animation-delay: 3.0s;
}

.card.match .back {
    z-index: 11;
    -webkit-transform: rotateX(0deg) rotateY(0deg) scale(2);
    -moz-transform: rotateX(0deg) rotateY(0deg) scale(2);
    animation-delay: 3.0s;
	opacity: 0;
}

#showCard {
    width: 440px;
    height: 100px;
    position: relative;
    top: 250px;
    left: 0;
    margin: auto;
    z-index: 1;
    text-align: center;
}

#showCard > div {
	display: inline-block;
}

#pinkMatch {
	position: absolute;
	top: 5px;
	left: 275px;
}

#yellowMatch {
	position: absolute;
	top: 5px;
	left: 25px;
}

#instructions {
	display: none;
    position: absolute;
    width: 835px;
    height: 323px;
    border: 2px solid #7ea0c6;
    margin: auto;
    background: -moz-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-radial-gradient(center,circle farthest-side,#597CA5 0,#3D5485 100%);
    background: -ms-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    background: -ms-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    color: #fff;
    font-size: 22px;
    text-align: left;
    z-index: 1000;
    line-height: 1.4em;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.icoClose {
    font-size: 35px;
    float: right;
    padding-right: 10px;
    font-weight: normal;
    width: 16px;
    height: 20px;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 0px 17px 0px 0px;
}

#stage .icoInfo.info {
	position: absolute;
	top: 660px;
	left: 910px;
	z-index: 20;
}

#stage .icoReset.reset {
	position: absolute;
	top: 657px;
	left: 960px;
	z-index: 20;
}

.icoInfo {
    width: 29px;
    height: 31px;
    background-position: center center;
    background-image: url("../../images/btInfoOn.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
}

.icoReset {
    width: 33px;
    height: 34px;
    background-position: center center;
    background-size: 100%;
    background-image: url("../../images/btResetOn@2x.png");
    background-repeat: no-repeat;
    display: inline-block;
}

#instructions .icoInfo {
	background-image: url("../../images/btInfoOff@2x.png");
	margin: 10px 0 0 10px;
    float: left;
}

#instructions .content{
    width: 740px;
    height: 200px;
    float: left;
    padding: 0 10px;
    margin: 20px 0 30px 0;
}

#instructions .content p{
	margin: 6px 0;
	padding: 0;
}

.audioBtn {
    width: 50px;
    height: 50px;
    margin: 0px auto 10px;
    background: url("../../images/audio-xl.png");
    display: block;
    position: relative;
    top: 250px;
    background-position: center center;
    cursor: pointer;
    background-size: 100%;
    background-repeat: none;
}

#OnePlayer {
    top: 63px;
}

#TwoPlayer {
    top: 90px;
}

.playerSelect {
	background-color: #fff9c5;
    margin: 0 auto;
    position: relative;
    display: block;
    width: 300px;
    height: 200px;
    display: block;
}

#stage {
    background-image: url("../../images/background.jpg");
    height: 704px;
    margin: 0 auto;
    width: 1024px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.player1 {
	background-color: #fff;
	height: 67px;
	left: 0;
	right: 0;
	position: absolute;
	top: 139px;
	width: 378px;
	z-index: 10;
	margin: 0 auto;
	color: #85B818;
	display: none;
	text-align: center;
}

.appear{
	-webkit-animation: personajes 0.9s;
	animation: personajes 0.9s;
    z-index: 15;
}

@-webkit-keyframes personajes {
	from {-webkit-transform: scale(0);}
	80% { -webkit-transform: scale(.95);}
	to   {-webkit-transform: scale(1);}
}

@keyframes personajes {
	from {transform: scale(0);}
	80% { transform: scale(.95);}
	to   {transform: scale(1);}
}

.disappearCard{
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity .6s linear;
	transition: transform .8s cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity .6s linear;
	-webkit-transform:scale(2);
	transform:scale(2);
	opacity:0;
	pointer-events:none;
}

.card-match {
	animation-name: card-match;
	animation-duration: 2.0s;
	animation-direction: forward;
	animation-iteration-count: 1;
	opacity: 0;
}

@-webkit-keyframes card-match {
	from {-webkit-transform: scale(0.7); opacity: 0;}
	50%  {-webkit-transform: scale(1.5); opacity: 1;}
	to {-webkit-transform: scale(0.7); opacity: 0;}
}

@keyframes card-match {
	from {transform: scale(0.7); opacity: 0;}
	50%  {transform: scale(1.5); opacity: 1;}
	to {transform: scale(0.7); opacity: 0;}
}

@-webkit-keyframes selectedCard {
	0% {-webkit-transform: scale(1);}
	25%{-webkit-transform:translate(0,-2px)}
	50% {-webkit-transform: scale(1.05);-webkit-transform:translate(0,-4px)}
	75%{-webkit-transform:translate(0,-2px)}
	100%   {-webkit-transform: scale(1);}
}

@keyframes selectedCard {
	0% {transform: scale(1);}
	25%{transform:translate(0,-2px)}
	50% {transform: scale(1.05);transform:translate(0,-4px)}
	75%{transform:translate(0,-2px)}
	100%   {transform: scale(1);}
}

.selected {
	animation-name: selectedCard;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

.white-overlay {
	background-color: #fff;
	z-index: 150;
	animation-name: white-overlay;
	animation-duration: 3.0s;
	animation-direction: forward;
	animation-iteration-count: 1;
	opacity: 0;
}

@-webkit-keyframes white-overlay {
	from {opacity: 0;}
	20%  {opacity: 0.3;}
	to {opacity: 0;}
}

@keyframes white-overlay {
	from {opacity: 0;}
	20%  {opacity: 0.3;}
	to {opacity: 0;}
}

table {
    margin: 0 auto;
    position: absolute;
    top: 360px;
    width: 750px;
    z-index: 20;
    left: 0;
    right: 0;
}

table td {
	width: 176px;
	height: 98px;
	text-align: center;
}

#sunFaceEyeL, #sunFaceEyeR{
	background-size: 100%;
	-webkit-animation: ojosFaceNube 3.5s infinite;
	animation: ojosFaceNube 3.5s infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	position: absolute;
}

#sunFaceEyeL{
	background-image: url('../../images/sunfaceEyeL.png');
	width: 9px;
	height: 15px;
	margin: 4px 0 0 2px;
}

#sunFaceEyeR{
	background-image: url('../../images/sunfaceEyeR.png');
	width: 8px;
	height: 14px;
	margin: 2px 0 0 14px;
}

@-webkit-keyframes ojosFaceNube {
	from {-webkit-transform: scale(1);}
	50% { -webkit-transform: scale(1);}
	51% { -webkit-transform: scale(1.0);}
	60% { -webkit-transform: scale(1);}
	to   {-webkit-transform: scale(1);}
}

@keyframes ojosFaceNube {
	from {transform: scale(1);}
	50% { transform: scale(1);}
	51% { transform: scale(1.0);}
	60% { transform: scale(1);}
	to   {transform: scale(1);}
}

.nubes{
	width: 1024px;
	position: relative;
	top: 30px;
	left: 0;
	z-index: 10;
}

.sol{
	background-image: url('../../images/sunAll.png');
	background-size: 100%;
	width: 84px;
	height: 200px;
	position: absolute;
	z-index: 100;
	left: 768px;
	top: 0;
}

.nubeUno{
	margin-left: 5%;
}

.nubeDos{
	margin-left: 63%;
}

.nubeTres{
	margin-left: 83%;
}

.nubeUno, .nubeDos, .nubeTres{
	background-image: url('../../images/nube-grande.png');
	background-size: 100%;
	width: 170px;
	height: 150px;
	display: inline-block;
	position: absolute;
}

.smilleFaceOne{
	background-image: url('../../images/smilleFaceL.png');
	background-size: 100%;
	width: 32px;
	height: 40px;
	margin: 40px 0 0 87px;
	position: relative;
}

#faceEyeOneLeft{
	background-image: url('../../images/smilleFaceL-EyeL.png');
	margin: 6px 0 0 4px;
}

#faceEyeOneRight{
	background-image: url('../../images/smilleFaceL-EyeR.png');
	margin: 6px 0 0 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	width: 10px;
	height: 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	-webkit-animation: ojosFaceNube 2s infinite;
	animation: ojosFaceNube 2s infinite;
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-animation: ojosFaceNube 3s infinite;
	animation: ojosFaceNube 3s infinite;
}

#faceEyeOneLeft, #faceEyeOneRight, #faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	background-position: center center;
	background-size: 100%;
	position: absolute;
	display: inline-block;
}
.smilleFaceTwo{
	background-image: url('../../images/smilleFaceR.png');
	background-size: 100%;
	width: 32px;
	height: 40px;
	margin: 50px 0 0 40px;
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	width: 8px;
	height: 14px;
}

#faceEyeTwoLeft{
	background-image: url('../../images/smilleFaceR-EyeL.png');
	margin: 4px 0 0 6px;
}

#faceEyeTwoRight{
	background-image: url('../../images/smilleFaceR-EyeR.png');
	margin: 4px 0 0 16px;
}

.sunFace{
	background-image: url('../../images/faceSun.png');
	background-size: 100%;
	width: 28px;
	height: 38px;
	position: absolute;
	margin: 35px 0 0 28px;
}

#sunFaceEyeL, #sunFaceEyeR{
	background-size: 100%;
	-webkit-animation: ojosFaceNube 3.5s infinite;
	animation: ojosFaceNube 3.5s infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	position: absolute;
}

#sunFaceEyeL{
	background-image: url('../../images/sunfaceEyeL.png');
	width: 9px;
	height: 15px;
	margin: 4px 0 0 2px;
}

#sunFaceEyeR{
	background-image: url('../../images/sunfaceEyeR.png');
	width: 8px;
	height: 14px;
	margin: 2px 0 0 14px;
}

#Player1 {
	float: left;
	color: #A6A6A6;
	margin-left: 40px;
	background-image: url('../../images/player1@2x.png');
	background-position: 245px 0;
	background-size: 25%;
}

#Player2 {
	float: right;
	color: #F29400;
	margin-right: 40px;
	text-align: right;
	background-image: url('../../images/player2@2x.png');
	background-position: 0 0;
	background-size: 25%;
}

.player2 {
	background-color: #fff;
	position: relative;
	z-index: 70;
	width: 305px;
	height: 64px;
	top: 135px;
	padding: 10px;
	display: none;
	-webkit-transform: scale(1);
}

.player2 h1 {
	font-size: 24px;
	margin: 5px 0;
}

.player2 h2 {
	font-size: 16px;
	margin: 5px 0;
}

@-webkit-keyframes selectedPlayer {
	from {-webkit-transform: scale(1);}
	to   {-webkit-transform: scale(1.25);}
}

@keyframes selectedPlayer {
	from {transform: scale(1);}
	to   {transform: scale(1.25);}
}

.turn {
 	animation-name: selectedPlayer;
 	animation-duration: 1s;
 	animation-fill-mode: forwards;
 	background-color: #fff9c5;
}

#Player1.turn {
    left: 40px;
}

#Player2.turn {
    right: 40px;
}

.playerText {
    width: 300px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 36px;
    font-family: 'GillSansInfant';
    color: #a6a6a6;
}

.playerChoice {
    width: 300px;
    height: 120px;
    text-align: center;
}

.dot {
	background-color: #fff;
    border-radius: 50%;
    float: left;
    height: 15px;
    margin-top: 18px;
    margin-left: 13px;
    width: 15px;
}

.card {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 160px;
}

.panel {
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.yellow .panel {
	border: 3px solid #c6a900;
	background-color: #FBD600; 
	font-size: 40px;
    line-height: 84px;
    color: #6b5b00;
	width: 156px;
	height: 84px;
	text-align: center;
	display: inline-block;
}

#showCard #yellowMatch .panel {
	border: 3px solid #c6a900;
	background-color: #FBD600; 
	font-size: 40px;
    line-height: 84px;
    color: #6b5b00;
	width: 156px;
	height: 84px;
	text-align: center;
	display: inline-block;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.yellow .front {
	position: absolute;
	top: 0;
	z-index: 100;  
    -webkit-transform: rotateX(0deg) rotateY(0deg) scale(1.0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg) scale(1.0);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -webkit-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.pink .panel {
	border: 3px solid #ff89bd;
	background-color: #dc003d;
	width: 156px;
	height: 84px;
}

.orange .panel {
	border: 3px solid #F19815;
	background-color: #EA5F2B;
	width: 156px;
	height: 84px;
}

#makeCard {
    width: 400px;
    position: absolute;
    z-index: 20;
    top: 250px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
}

#makeCard div {
	display: inline-block;
}

#makeCard h1 {
	font-size: 18px;
	color: #fff;
	font-family: "McLarenRegular";
}

#showCard #pinkMatch .panel {
	border: 3px solid #ff89bd;
	background-color: #dc003d;
	font-size: 40px;
    line-height: 84px;
    color: #6b5b00;
	width: 156px;
	height: 84px;
	text-align: center;
	display: inline-block;
	border-radius: 15px;
	-moz-border-radius: 15px;
}

.yellow .back {
	position: relative;
	top: 0;
	z-index: 90;
    -webkit-transform: rotateY(-180deg) scale(1.0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg) scale(1.0);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -webkit-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.pink .front {
	position: absolute;
	top: 0;
	z-index: 100;
    -webkit-transform: rotateX(0deg) rotateY(0deg) scale(1.0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg) scale(1.0);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -webkit-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.pink .back {
	position: relative;
	top: 0;
	z-index: 90;
    -webkit-transform: rotateY(-180deg) scale(1.0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg) scale(1.0);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -o-transition: all 1.0s ease-in-out;
    -ms-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -webkit-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
}

.pink.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.yellow.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.pink.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.yellow.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.results {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 750px;
    height: 490px;
}

.results li {
    border-top: 1px #ccc solid;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    width: 280px;
}

.results li div {
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
}

.results .panel {
	width: 77px;
	height: 38px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.results .dot {
	background-color: #fff;
    border-radius: 50%;
    float: left;
    height: 5px;
    margin-top: 10px;
    margin-left: 9px;
    width: 5px;
}

.results .yellow .panel {
	line-height: 40px;
	font-size: 20px;
	border: 1px solid #c6a900;
}

.results .pink .panel {
	border: 1px solid #ff89bd;
}

.player-results {
	float: left;
    width: 300px;
    height: 494px;
    background-color: #fff;
	display: none;	
}

.player-results ul {
	margin: 0px;
	padding: 0px;
}

.results #playAgain {
	width: 105px;
    height: 96px;
    border: 2px solid #267496;
    color: #339AC7;
    float: left;
    margin: 20px;
    transform: translateY(75%);
    border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #fff;
	background-image: url('../../images/again_blue.png');
	background-position: 23px 10px;
	text-align: center;
}

#playAgain span {
    font-size: 18px;
    position: relative;
    font-weight: bold;
    top: 70px;
    font-family: 'GillSansInfant';
}

.recap {
    overflow-y: scroll;
    width: 100%;
    height: 320px;
}

.results #Player1 {
    float: left;
    color: #85b818;
    margin-left: 0px;
    background-image: url('../../images/player1@2x.png');
    background-position: 20px 0px;
    background-size: 20%;
    text-align: right;
}

.results #Player2 {
	float: right;
	color: #F29400;
	margin-right: 0px;
	text-align: right;
	background-image: url('../../images/player2@2x.png');
	background-position: 20px 0px;
	background-size: 20%;
}

.scores {
    width: 260px;
    margin: 25px 40px 55px 0;
}

.scores h1 {
	font-size: 16px;
}

.scores h2 {
	font-size: 12px;
}
