.icons{
    display: flex;
    justify-content: flex-end;
    width: 1011px;
    pointer-events: all;
    width: 100%;
}

.icon{
    &-info{
      width: 34px;
      height: 36px;
      background-color: transparent;
      background-position: center center;
      background-size: 100%;
      margin-top: -1px;
      margin-right: 17px;
      border: none;
      cursor: pointer;

      &:focus{
        outline:0;
      }

    }  

    &-information{
        background-image: url('#{$image-dir}/base/btInfoOn@2x.png');      
    }

    &-reset{
          background-image: url('#{$image-dir}/base/btResetOn@2x.png');

          &-inactive{
              background-image: url('#{$image-dir}/base/btResetOff@2x.png');            
          }
    }
}

.icoResetMove {
  animation: reset 1s;
}