.check{
    &-button{
        background: url("#{$image-dir}/submit.png") no-repeat;
        background-size: 100% 100%;
        width: 90px;
        height: 66px;
        margin-left: 18px;
        margin-top: 11px;
        list-style: none;
        position: absolute;
        &-disabled{
            opacity: 0.5;
        }
        &-hide{
          visibility:hidden;
        }
    }
    &-correct{
        background: url("#{$image-dir}/tick.png") no-repeat;
        background-size: contain;
    }
    &-incorrect{
        background: url("#{$image-dir}/wrong.png") no-repeat;
        background-size: contain;
    }
}

.go-button{
    height: 50px;
    width: 74px;
    margin-top: 15px;
    margin-left: 152px;
    margin-right: 58px;
    border-radius: 10px;
    border: 4px solid rgba(20, 100, 45, 1);
    background: -webkit-linear-gradient(top,rgba(122,226,3,1),rgba(23,168,23,1));
    background: -ms-linear-gradient(top,rgba(122,226,3,1),rgba(23,168,23,1));
    background: -moz-linear-gradient(top,rgba(122,226,3,1),rgba(23,168,23,1));
    color: #fff;
    font-family: GillSansReg;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    &-correct,&-incorrect{
        font-size: 0;
        width: 149px;
        border: none;
    }
    
    &-correct{
        background:url(#{$image-dir}/playagain.png) no-repeat;
    }

    &-incorrect{
        background: url(#{$image-dir}/tryagain.png) no-repeat;
    }

    &-hide{
        display: none;
    }
}