/*
  Example:
  <section class="icons">
      <button class="icon-info icon-information" id='infoButton'></button>
      <button class="icon-info icon-reset icon-reset-inactive" id='cleanButton'></button>
    </section>
  
  Just one icion example:
    <button class="icon-info icon-information" id='infoButton'></button>
 */

.icons{
    display: flex;
    justify-content: flex-end;
    width: 100%;    
    padding-top: 14px;
    position: relative;
}

.icon{
    &-info{
      width: 34px;
      height: 36px;
      background-color: transparent;
      background-position: center center;
      background-size: 100%;
      margin-top: -1px;
      margin-right: 17px;
      border: none;
      cursor: pointer;

      &:focus{
        outline:0;
      }

    }  

    &-information{
      background-image: url('#{$image-dir}/btInfoOn@2x.png');      
      background-size:cover;
      opacity: 0.9;
      width: 29px;
      height: 31px;
      position: absolute;
      right: 88px;
      &-inactive{
        background-image: url('#{$image-dir}/btInfoOff.png');
      }
    }

    &-reset{
      background-image: url('#{$image-dir}/btResetOn@2x.png');
      background-position: center center;
      background-size:contain;
      position: absolute;
      width: 34px;
      height: 33px;
      right: 33px;
      &-active{
        background-image: url('#{$image-dir}/btResetOn@2x.png');
        background-position: center center;
        background-size: contain;    
      }
      &-inactive{
        background-image: url('#{$image-dir}/btResetOn@2x.png');
        background-position: center center;
        background-size: contain;
        opacity: .2;
      }
      &-scroll{
        animation: reset 1s;
      }
    }
}