/*
    Example: Opeeration

    <section class="operation" id="results">
        <button  class='arrow arrow-prev arrow-hide'> </button>
        <li class="numbers-element numbers__firstNumber" id="valueOne">9</li>
        <li class="sign sign_plus">-</li>
        <li class="numbers-element numbers__secondNumber" id="valueTwo">0</li>
        <li class="sign sign_equal">=</li>
        <li class="numbers-element numbers__resultNumber" id="valueThree"></li>
        <li class="check-button check-button-hide" id="checkBtn"></li>
        <button class='arrow arrow-next'> </button>
    </section>

    Example: Numbers
    <section class="numbers">
        <ul class="numbers-container" id="numbers">
            <li class="numbers-element" id="num0" draggable="true">0</li>
            <li class="numbers-element" id="num1" draggable="true">1</li>
            <li class="numbers-element" id="num2" draggable="true">2</li>
            <li class="numbers-element" id="num3" draggable="true">3</li>
            <li class="numbers-element" id="num4" draggable="true">4</li>
            <li class="numbers-element" id="num5" draggable="true">5</li>
            <li class="numbers-element" id="num6" draggable="true">6</li>
            <li class="numbers-element" id="num7" draggable="true">7</li>
            <li class="numbers-element" id="num8" draggable="true">8</li>
            <li class="numbers-element" id="num9" draggable="true">9</li>
        </ul>
      </section>

 */


.equation{
    position: relative;
    display: inline-flex;    
    justify-content: flex-start;
    
    margin: auto;
    padding-top: 7px;
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    height: 100px;
    background-color: $backgroundOperation;
    color: white;
    .sign{
        display: inline-block;
        width: 60px;
        height: 60px; 
        margin-top: 12px;
        margin-right: 20px;
        text-shadow: 2px 2px 0 #d37c00;
        background: rgba(254, 141, 49, 1);
        border-radius: 8px;
        border: 2px solid #fff;
        box-shadow: 0 2px 2px rgba(0,0,0,.4);
        color: #fff;
        font-size: 50px;
        font-family: mclarenregular;
        text-align: center;
        text-decoration: none;
        line-height: 1.2;
        list-style: none;
    }
}

.numbers{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    height: 203px;
    margin: auto;
    background: -webkit-linear-gradient(top,#007369,#008c72);
    background: -ms-linear-gradient(top,#007369,#008c72);
    background: -moz-linear-gradient(top,#007369,#008c72);
    background: linear-gradient(top,#007369,#008c72);
    border-top: 2px solid #ffffff;
    border-bottom: 3px solid #ffffff;
  &-container{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &-element {
    display: inline-block;
    width: 60px;
    height: 60px; 
    margin-top: 12px;
    margin-right: 15px;
    margin-left: 15px;
    text-shadow: 2px 2px 0 #d37c00;
    background: rgba(254, 141, 49, 1);
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    color: #fff;
    font-size: 50px;
    font-family: mclarenregular;
    text-align: center;
    text-decoration: none;
    line-height: 1.2;
    list-style: none;
    &:nth-child(2n){
        margin-left: 20px;
        margin-right: 20px;
    }
    &-dragged{
        margin-top: -1px;
        margin-left: -1px !important;
    }
  }
  &-empty{
    background: white;
    border: 1px dashed #1B4F1B;
    width: 62px;
    height: 62px;
  }
  &__firstNumber{
    opacity: 1;    
    text-shadow: none;
  }

  &__secondNumber{    
    opacity: 1;    
    text-shadow: none;
  }

  &__resultNumber{    
    opacity: 1;
    text-shadow: none;
  }
  &-wrong{
    background: rgba(255,70,0,1);
  }
}