*{
	background-repeat: no-repeat;
}
@font-face{
	font-family:'Salsa-Regular';
	src: url('../fonts/Salsa-Regular.ttf');
}
body{
	background-color:#BBFD00;
	font-family: 'Salsa-Regular';
	font-size: 16px;
	margin: 0;
}

.contentPlayers{
	position: absolute;
	z-index: 2000;
	/*background:rgba(0,0,0,0.2);*/
	width: 100%;
	/*	height: 100%;*/
	text-align: center;
	display:none;
}
.appear{
	display:block;
	-webkit-animation: personajes 1s;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all 30s cubic-bezier(0.250, 0.250, 0.750, 0.750);
}

.dissappearCard{
	-webkit-transition: all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-webkit-transform:scale(1.2);
	-webkit-filter:blur(5px);
	opacity:0;
	pointer-events:none;
}


.textPerson{
	color: #fff;
	font-family: 'Helvetica';
}

.contentPlayers img{
	/*width: 10%;*/
}

.personajes{
	cursor: pointer;
	border: 0.4em solid rgba(8,94,114,0.0);
	width: 300px;
	height: 200px;
	margin: 20px auto;
	font-size: 2em;
	line-height: 2.5em;
	color: #a6a6a6;
}
/*.personajes:hover {
	border: 0.4em solid rgba(8,94,114,0.8);
	border-radius: 15px;
	color: #1cbdbb;
}*/

.personajeUno, .personajeDos{
	background-color: #fff9ca;
	height: 200px;
}


@-webkit-keyframes personajes {

	from {-webkit-transform: scale(0);}
	80% { -webkit-transform: scale(.95);}
	to   {-webkit-transform: scale(1);}
}



.contenedor{
	position: absolute;
	width: 100%;
	z-index:20;
	/*height: 100%;*/
	/*background: url('../images/background.jpg');*/
	/*background-size: 100% 100%;*/
}

.nubes{
	width: 100%;
	position: absolute;
	height: 768px;
	top: 0;
	left:0;
	z-index:10;
	pointer-events:none;
	/*background-color: #eee;*/
}

.sol{
	background-image: url('../images/sunface.png');
	background-size: 100%;
	width: 8%;
	height: 768px;
	position: absolute;
	z-index: 100;
	margin: 1% 0 0 77%;
}

#textHint{
	position: absolute;
	color: #feae01;
	right: 0;
	margin: 40px 90px 0 0;
	font-size: 18px;
}

.nubeUno{
	margin-left: 5%;
}

.nubeUno img{
	margin-left: 60%;
	margin-top: 25%;
}

.nubeDos{
	margin-left: 63%;
}

.nubeDos img{
	margin-left: 20%;
	margin-top: 25%;
}

.nubeTres{
	margin-left: 83%;
}

.nubeUno, .nubeDos, .nubeTres{
	background-image: url('../images/nube-grande.png');
	background-size: 100%;
	width: 15%;
	height: 768px;
	display: inline-block;
	position: absolute;
}

.players{
	position: absolute;
	width: 100%;
}

.playerBox{
	position: relative;
	width: 100%;
	margin: 8% 0 0 0;
}
.playerHolder {
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
}
.cardTrans{
	-webkit-transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
}
.playerBoxOne, .playerBoxTwo{
	background: #fff9c5;
	width: 25%;
	padding: 0.8em 1em 0.8em 1em;
	display: inline-block;
	position: absolute;
}
.playerBoxOne, .player1ScoreBoard{
	color: #85b818;
}
.playerBoxOneOff{
	color: #a6a6a6 !important;
	background-color:#fffdef !important;
	-webkit-transform: scale(.8);

}

.playerBoxTwo, .player2ScoreBoard{
	color: #f29400;
}
.playerBoxTwoOff{
	color: #0da1ff;
}


.playerBoxOne{margin: 0 70% 0 5%; float: left;}
.playerBoxTwo{margin: 0 20% 0 67%; float: right;}

.playerBoxOne p, .playerBoxTwo p {
	font-size: 2.5em;
	margin : 0;
	padding: 0;
}

.playerBoxTwo p, .playerBoxTwo h1 {
	text-align:right;

}
.playerBoxOne h1, .playerBoxTwo h1{
	font-size: 1em;
}
.playerOneTittle,  .playerBoxTwo >.playerOneText{/*color: #f00d7d;*/}
.playerTwoTittle, .playerBoxTwo >.playerTwoText{/*color: #0da1ff;*/ text-align: right;}

.singlePlayer{
	margin: 0 70% 0 38%;
}

/* entire container, keeps perspective */
.cards{width: 895px; margin: 198px auto; /*display: none;*/ z-index: 500;}
div {-webkit-tap-highlight-color: rgba(0,0,0,0);}
.flip-containerOrange, .flip-containerBlue{
	-webkit-perspective: 1000;
	perspective: 1000;
	margin-top: 15px;
	/*margin-left: 100px;*/
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	/*margin-top: 20px;*/
	position: relative;
}
.cardHolder{
	position: absolute;
	width:100%;
	z-index:300;
}

/*.flip-containerOrange.flipped .flipper,.flip-containerBlue.flipped .flipper, .flip-containerOrange.hover .flipper, .flip-containerBlue.hover .flipper, #flip-toggle.flip .flipper {*/


.flip-containerOrange.flipped .flipper,.flip-containerBlue.flipped .flipper, .flip-containerOrange.hover .flipper, .flip-containerBlue.hover .flipper, #flip-toggle.flip .flipper {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(90deg);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flip-containerOrange, .flip-containerBlue, .front, .back {
	width: 159px;
	height: 88px;
	border-radius: 15px;
	text-align: center;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
	width:159px;
	height: 88px;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 3px solid ;
	position: relative;
	top: 0;
	left: 0;
	width:159px;
	height: 88px;



	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.flip-containerOrange .front {
	background: url('../images/bg-card-One.jpg');
	z-index: 2;
	border-color:#ff89bd;
}

.flip-containerBlue .front {
	background: url('../images/bg-card-Two.png');
	z-index: 2;
	border-color:#41cbca;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
	font-size: 2.3em;
	line-height: 2.3em;
	margin-top: -95px;
}

.flip-containerOrange .back{
	background-color: #fff;
	color: #fff;
	background-color:#DC003D;
	border-color:#ff89bd;
}
.colorPlayer1{
	border: 3px solid #E90067 ;
}
.colorPlayer2{
	border: 3px solid #005dca;
}
.flip-containerBlue .back{
	background-color: #0096ff;
	color: #fff;
	border-color:#41cbca;
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
}



/***************************RESPONSIVE*****************************/
@media only screen and ( min-width: 1024px ) {
	.nubes{width: 100%}
	.nube{background-size: 100% 100%;}
	.contenedor{background-size: 100% 100%;}
}

.loserCards{
	opacity: .2;
}
/*@media only screen and ( min-width: 768px ) {
.nubes{width: 50%}
.nube{background-size: 50%;}
.contenedor{background-size: 50% 100%; height: 1024px}
}
 */
	/************************* nubes animation *****************************/



	.smilleFaceOne{
		background-image: url('../images/smilleFaceL.png');
		background-size: 100%;
		width: 32px;
		height: 40px;
		margin: 47px 0 0 105px;
		position: relative;
}

#faceEyeOneLeft{
	background-image: url('../images/smilleFaceL-EyeL.png');
	margin: 6px 0 0 4px;
}

#faceEyeOneRight{
	background-image: url('../images/smilleFaceL-EyeR.png');
	margin: 6px 0 0 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	width: 10px;
	height: 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	-webkit-animation: ojosFaceNube 2s infinite;
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-animation: ojosFaceNube 3s infinite;
}

#faceEyeOneLeft, #faceEyeOneRight, #faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	background-position: center center;
	background-size: 100%;
	position: absolute;
	display: inline-block;
}
.smilleFaceTwo{
	background-image: url('../images/smilleFaceR.png');
	background-size: 100%;
	width: 32px;
	height: 40px;
	margin: 50px 0 0 40px;
	/*position: relative;*/
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	width: 8px;
	height: 14px;
}

#faceEyeTwoLeft{
	background-image: url('../images/smilleFaceR-EyeL.png');
	margin: 4px 0 0 6px;
}

#faceEyeTwoRight{
	background-image: url('../images/smilleFaceR-EyeR.png');
	margin: 4px 0 0 16px;
}
.sol{
	background-image: url('../images/sunAll.png');
	background-size: 100%;
	width: 8%;
	height: 768px;
	position: absolute;
	z-index: 100;
	margin: 1% 0 0 76%;
}

.sunFace{
	background-image: url('../images/faceSun.png');
	background-size: 100%;
	width: 28px;
	height: 38px;
	position: absolute;
	margin: 35px 0 0 28px;
}

#sunFaceEyeL, #sunFaceEyeR{
	background-size: 100%;
	-webkit-animation: ojosFaceNube 3.5s infinite;
	-webkit-transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	position: absolute;
}

#sunFaceEyeL{
	background-image: url('../images/sunfaceEyeL.png');
	width: 9px;
	height: 15px;
	margin: 4px 0 0 2px;
}

#sunFaceEyeR{
	background-image: url('../images/sunfaceEyeR.png');
	width: 8px;
	height: 14px;
	margin: 2px 0 0 14px;
}
.mainContainer{

	background: url('../images/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

	padding-top:30px;
	width:1024px;
	height:674px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
}


/************************INICIO ANIMACIONES CARAS***************************/

@-webkit-keyframes ojosFaceNube {
	from {-webkit-transform: scale(1);}
	50% { -webkit-transform: scale(1);}
	51% { -webkit-transform: scale(1,0);}
	60% { -webkit-transform: scale(1);}
	to   {-webkit-transform: scale(1);}
}


/*.playerStat{
	width:200px;
	padding:0 40px;
	background-color:#fff;
	height:30px;
}*/
.playerStat .playerBoxOne, .playerStat .playerBoxTwo{
	width:169px;
	right:20px;
	margin:0;
	padding:0;
	background-color:transparent;

}
.playerStat .avatar{
	float:left;
	position:relative;
	-webkit-transform:scale(.6,.6);
	top:0;
	left:0;
	margin-left:-10px;
}
.playerStat .playerBox{
	overflow:hidden;
}
.player1 .scoreBoard{

}
.scoreBoard{
	width:100%;
	max-height:300px;
	overflow-y:auto;
}
.scoreBoard ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.scoreBoard li{
	text-decoration:none;
	height:30px;
	padding-top:10px;
	width:100%;
	text-align:center;
	border-top:1px #DADBDC solid;
	font-size:20px;
}
.scoreBoard li:last-child {

	border-bottom:1px #DADBDC solid;
}
.scoreBoardSpan{
	font-size:24px;
}

.stats2Players{
	width:645px;
	height:494px;
	margin:78px auto;
}

.stats1Player{
	width:300px;
	height:200px;
	margin:100px auto;
}


.stats2Players .playerStat, .stats1Player .playerStat{
	width:300px;
	height:100%;
	background-color:#fff;
}
.stats2Players .player1{
	float:left;
}

.stats2Players .player2{
	float:right;
}
.avatar{
	-webkit-transform: scale(.8,0.8);
	position:absolute;
}

.avatar-player-1{
	float:right;
	right:-20px;
	top:-12px;
}

.avatar-player-2{
	float:left;
	position:absolute;
	top:-12px;
	left:-20px;
}
