<div class="dsp">
    <div class="box" style="animation: zeroAnimation 10000ms linear; left: 1048px; top: 0px;">
        <div class="container">
            <div class="img ui-draggable" style="position: relative;" id="_food13">
                <div class="fruitHolder fruitHolder-grapes">
                    <div class=" fondo grapes grapes-8 "></div>
                </div>
                <div class="bubble">8</div>
            </div>
            <div class="hormigasCont">
                <div class="g">
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" style="animation: zeroAnimation 10000ms linear; left: 1048px; top: 80px;">
        <div class="container">
            <div class="img ui-draggable" style="position: relative;" id="_food14">
                <div class="fruitHolder fruitHolder-banana">
                    <div class=" fondo banana banana-9 "></div>
                </div>
                <div class="bubble">9</div>
            </div>
            <div class="hormigasCont">
                <div class="g">
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="box" style="animation: zeroAnimation 10000ms linear; left: 1048px; top: 0px;">
        <div class="container">
            <div class="img ui-draggable" style="position: relative;" id="_food15">
                <div class="fruitHolder fruitHolder-banana">
                    <div class=" fondo banana banana-10 "></div>
                </div>
                <div class="bubble">10</div>
            </div>
            <div class="hormigasCont">
                <div class="g">
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                    <div class="ant"></div>
                </div>
            </div>
        </div>
    </div>
</div>