/* Include all sass files you need */
/* Fonts */
/* Font-size */
/* Colors*/
/* Folders */
@font-face {
  font-family: 'GillSansInfant';
  src: url(../../../fonts/gilsbbd.eot); }

@font-face {
  font-family: 'GillSansInfant';
  src: url(../../../fonts/gilsbbd.ttf); }

@font-face {
  font-family: 'GillSansReg';
  src: url(../../../fonts/gilsbrg.eot); }

@font-face {
  font-family: 'GillSansReg';
  src: url(../../../fonts/gilsbrg.ttf); }

@font-face {
  font-family: 'mclarenregular';
  src: url(../../../fonts/McLarenRegular.eot); }

@font-face {
  font-family: 'mclarenregular';
  src: url(../../../fonts/McLarenRegular.ttf); }

/*------------------------------------*    $RESET
\*------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, main, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

@keyframes animObjNormal {
  0% {
    transform-origin: 0% 100%;
    transform: rotate(-5deg);
    background-position: -100% 0%; }
  50% {
    transform-origin: 100% 100%;
    transform: rotate(5deg);
    background-position: -100% 0%; }
  100% {
    transform-origin: 100% 100%;
    transform: rotate(0deg);
    background-position: -100% 0%; } }

@keyframes animObjEnd {
  0% {
    transform-origin: 30% 100%;
    transform: rotate(0deg);
    background-position: -100% 0%; }
  100% {
    transform-origin: 30% 100%;
    transform: rotate(-60deg);
    background-position: -100% 0%; } }

@keyframes reset {
  0% {
    transform: rotate(0deg);
    background-image: url("../images/btResetOn@2x.png"); }
  50% {
    background-image: url("../images/btResetOff@2x.png"); }
  100% {
    transform: rotate(-360deg);
    background-image: url("../../../images/btResetOff@2x.png"); } }

/*
  Example:
  <section class="icons">
      <button class="icon-info icon-information" id='infoButton'></button>
      <button class="icon-info icon-reset icon-reset-inactive" id='cleanButton'></button>
    </section>
  
  Just one icion example:
    <button class="icon-info icon-information" id='infoButton'></button>
 */
.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.icon-info {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-position: center center;
  background-size: 100%;
  margin-right: 21px;
  border: none;
  cursor: pointer; }
  .icon-info:focus {
    outline: 0; }

.icon-information {
  background-image: url("../../../images/btInfoOn.png");
  opacity: 0.9;
  width: 29px;
  height: 31px;
  position: absolute;
  right: 85px; }
  .icon-information-inactive {
    background-image: url("../../../images/btInfoOff.png"); }

.icon-reset {
  background-image: url("../../../images/btResetOn@2x.png");
  background-position: center center;
  background-size: 100%;
  position: absolute;
  right: 29px; }
  .icon-reset-inactive {
    background-image: url("../../../images/btResetOn@2x.png");
    cursor: not-allowed;
    opacity: .27;
    margin-left: 5px;
    animation: reset 1s; }
  .icon-reset-scroll {
    animation: reset 1s; }

/*
    Example:

    <section id="instructionsText" class="layer">      
      <section class="modal">          
            <button class="icon-info icon-information icon-information-inactive"></button>
            <button id="closeButton" class="modal-closeButton">x</button>            
            <p class="modal-text">

                Read the equation below the monsters.<br>Tap monsters to knock them down and show the subtraction.<br>If you knock down too many monsters, tap the reset button.<br>Drag a number tile to the orange box to complete the equation.<br>Tap the arrows to move to another problem.</span>
            </p>

            <div class="audio-container"  id='audioButton'>
                <audio src="./audio/imth-1-0-whatsinbag.mp3" id="audio" autopla></audio>
            </div>            
      </section>

 */
.layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center; }
  .layer-hide {
    display: none; }
  .layer .icon-information {
    position: absolute;
    left: 10px;
    top: 10px; }

.modal {
  position: relative;
  top: 108px;
  width: 674px;
  height: 489px;
  word-wrap: break-word;
  border: 2px solid #7ea0c6;
  padding: 20px 35px 35px;
  background: #3D5485;
  background: -ms-radial-gradient(center, circle farthest-side, #597ca5 0, #3d5485 100%);
  background: -moz-radial-gradient(center, circle farthest-side, #597CA5 0, #45638D 100%);
  background: -webkit-radial-gradient(center, circle farthest-side, #597CA5 0, #3D5485 100%);
  box-sizing: border-box; }
  .modal .icon-information {
    top: 4%;
    left: 2%;
    width: 32px;
    height: 32px;
    background-image: url("../../../images/btInfoOn.png");
    background-size: 100% 100%;
    opacity: .6; }
  .modal-closeButton {
    color: white;
    font-size: 55px;
    opacity: .6;
    display: block;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
    font-family: 'Icons';
    text-shadow: 0px 2px #000; }
    .modal-closeButton:focus {
      outline: 0; }
  .modal-text {
    color: #fff;
    text-align: left;
    font-family: GillSansReg;
    line-height: 1.4em;
    width: 565px;
    height: 336px;
    font-size: 30px;
    padding-top: 40px;
    padding-left: 15px;
    text-shadow: 0px 2px #000;
    background-size: 100% 100%; }

.audio-container {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-image: url("../../../images/audioICON.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 44.2%; }

/*
    Example: Opeeration

    <section class="operation" id="results">
        <button  class='arrow arrow-prev arrow-hide'> </button>
        <li class="numbers-element numbers__firstNumber" id="valueOne">9</li>
        <li class="sign sign_plus">-</li>
        <li class="numbers-element numbers__secondNumber" id="valueTwo">0</li>
        <li class="sign sign_equal">=</li>
        <li class="numbers-element numbers__resultNumber" id="valueThree"></li>
        <li class="check-button check-button-hide" id="checkBtn"></li>
        <button class='arrow arrow-next'> </button>
    </section>

    Example: Numbers
    <section class="numbers">
        <ul class="numbers-container" id="numbers">
            <li class="numbers-element" id="num0" draggable="true">0</li>
            <li class="numbers-element" id="num1" draggable="true">1</li>
            <li class="numbers-element" id="num2" draggable="true">2</li>
            <li class="numbers-element" id="num3" draggable="true">3</li>
            <li class="numbers-element" id="num4" draggable="true">4</li>
            <li class="numbers-element" id="num5" draggable="true">5</li>
            <li class="numbers-element" id="num6" draggable="true">6</li>
            <li class="numbers-element" id="num7" draggable="true">7</li>
            <li class="numbers-element" id="num8" draggable="true">8</li>
            <li class="numbers-element" id="num9" draggable="true">9</li>
        </ul>
      </section>

 */
.equation {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1024px;
  width: 100%;
  height: 100px;
  background-color: #daf7b5; }
  .equation .numbers-element {
    color: black; }

.dragged {
  color: white;
  border: 2px solid #3c6b1f;
  margin-top: -1px;
  margin-left: -1px; }

.numbers {
  display: flex;
  justify-content: center;
  max-width: 1024px;
  height: 203px;
  margin: auto;
  background: -webkit-linear-gradient(top, #1B4F1B, #5C9548 100%);
  background: -ms-linear-gradient(top, #1B4F1B, #5C9548 100%);
  background: -moz-linear-gradient(top, #1B4F1B, #5C9548 100%);
  background: linear-gradient(top, #1B4F1B, #5C9548 100%);
  border-bottom: solid 3px #daf7b5; }
  .numbers-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .numbers-element {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: 2px 2px 0 #d37c00;
    background: -webkit-linear-gradient(top, #fff260 0, #FFAA02 100%);
    background: -ms-linear-gradient(top, #fff260 0, #FFAA02 100%);
    background: -moz-linear-gradient(top, #fff260 0, #FFAA02 100%);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: mclarenregular;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 0 #d37c00;
    font-size: 60px;
    list-style: none;
    line-height: 70px; }
    .numbers-element:nth-child(2n) {
      margin-left: 20px;
      margin-right: 20px; }
    .numbers-element-dragged {
      color: white !important;
      border: 3px solid #3c6b1f;
      margin-top: -1px !important;
      margin-left: -1px; }
  .numbers__firstNumber {
    background: transparent;
    opacity: 1;
    border: none;
    text-shadow: none; }
  .numbers__secondNumber {
    background: transparent;
    opacity: 1;
    border: none;
    text-shadow: none; }
  .numbers__resultNumber {
    background: #ffc150;
    opacity: 1;
    border: 1px dashed #3a8f84;
    text-shadow: none;
    margin-top: 14px;
    box-shadow: none; }

/*
    Example:
    <ul class="slides">
       <li class="slide slide-active"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
       <li class="slide"></li>
    </ul>
 */
.slides {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  padding-top: 12px;
  margin-left: 20.7%; }

.slide {
  list-style: none;
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #003700;
  border-radius: 50%;
  margin-right: 11px; }
  .slide-visited {
    background: #497324;
    border: 2px solid #497324; }
  .slide-active {
    background: #213605; }

html {
  -ms-content-zooming: none; }

html, body {
  background-image: -webkit-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: -moz-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: -ms-radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  background-image: radial-gradient(center, circle farthest-side, #9ECE61 0, #669D40 100%);
  font-family: 'GillSansInfant','GillSansReg','mclarenregular',Calibri,sans-serif;
  overflow: hidden; }

footer {
  display: flex;
  justify-content: center; }

.container {
  width: 600px;
  margin: 0 auto; }

.board {
  position: relative;
  width: 100%;
  height: 420px;
  background: #daf7b5; }

.monsters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: 0 auto 0 14.3%;
  width: 75%;
  height: 100%; }
  .monsters-hide {
    display: none; }
  .monsters .monster:nth-child(5) ~ .monster {
    margin-top: -40px; }
  .monsters .monster:nth-child(6) {
    margin-left: -26px; }
  .monsters:nth-child(2) {
    padding-top: 100px;
    width: 92%;
    margin-left: 6.8%;
    justify-content: flex-start; }
    .monsters:nth-child(2) .monster {
      margin-right: 24px; }
      .monsters:nth-child(2) .monster:first-child {
        margin-left: 10px; }
      .monsters:nth-child(2) .monster:nth-child(2), .monsters:nth-child(2) .monster:nth-child(3), .monsters:nth-child(2) .monster:nth-child(4), .monsters:nth-child(2) .monster:nth-child(5) {
        margin-left: 1px; }
      .monsters:nth-child(2) .monster:nth-child(6) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 1px; }
      .monsters:nth-child(2) .monster:nth-child(6n) ~ .monster {
        display: none; }
  .monsters:nth-child(3) {
    padding-top: 100px;
    width: 88%;
    margin-left: 6.5%; }
    .monsters:nth-child(3) .monster:nth-child(5) {
      margin-right: 0; }
    .monsters:nth-child(3) .monster:nth-child(5n) ~ .monster {
      display: none; }
  .monsters:nth-child(4) {
    width: 75%;
    margin-left: 15.7%; }
    .monsters:nth-child(4) .monster:nth-child(4) ~ .monster {
      margin-top: -40px; }
    .monsters:nth-child(4) .monster:nth-child(5) {
      margin-right: 80px;
      margin-left: -24px; }
    .monsters:nth-child(4) .monster:nth-child(6) {
      margin-left: -55px; }
    .monsters:nth-child(4) .monster:nth-child(7) {
      margin-right: 0; }
    .monsters:nth-child(4) .monster:nth-child(7n) ~ .monster {
      display: none; }
  .monsters:nth-child(5) {
    padding-top: 100px;
    width: 86%;
    margin-left: 9%; }
    .monsters:nth-child(5) .monster:nth-child(4) {
      margin-right: 0; }
    .monsters:nth-child(5) .monster:nth-child(4n) ~ .monster {
      display: none; }
  .monsters:nth-child(6) {
    width: 59%;
    margin-left: 22.5%; }
    .monsters:nth-child(6) .monster:nth-child(4) ~ .monster {
      margin-top: -40px; }
    .monsters:nth-child(6) .monster:nth-child(5) {
      margin-right: 22px; }
    .monsters:nth-child(6) .monster:nth-child(6) {
      margin-left: 3px; }
    .monsters:nth-child(6) .monster:nth-child(4), .monsters:nth-child(6) .monster:nth-child(8) {
      margin-right: 0; }
    .monsters:nth-child(6) .monster:nth-child(8n) ~ .monster {
      display: none; }

.monster {
  width: 125px;
  height: 125px;
  margin-right: 25px;
  background-image: url("../../../images/char1.png");
  background-size: 200% 100%; }
  .monster:nth-child(2) {
    background-image: url("../../../images/char2.png"); }
  .monster:nth-child(3) {
    background-image: url("../../../images/char3.png"); }
  .monster:nth-child(4) {
    background-image: url("../../../images/char4.png"); }
  .monster:nth-child(5) {
    background-image: url("../../../images/char5.png"); }
  .monster:nth-child(6) {
    background-image: url("../../../images/char6.png"); }
  .monster:nth-child(7) {
    background-image: url("../../../images/char7.png"); }
  .monster:nth-child(8) {
    background-image: url("../../../images/char8.png"); }
  .monster:nth-child(9) {
    background-image: url("../../../images/char9.png");
    margin-right: 0; }
  .monster-shake {
    transform-origin: 0% 100%;
    animation: animObjNormal 0.4s;
    animation-timing-function: linear; }
  .monster-down {
    transform-origin: 0% 100%;
    animation: animObjEnd 0.2s;
    animation-timing-function: ease-out;
    animation-timing-function: linear; }
  .monster-laying {
    transform-origin: 30% 100%;
    transform: rotate(-70deg);
    background-position: -100% 0%; }

.static-equation {
  height: 100%;
  font-size: 70px;
  font-family: mclarenregular;
  color: #000;
  text-align: right;
  line-height: 100px;
  margin-left: -45px; }
  .static-equation-hide {
    display: none; }
  .static-equation-text {
    display: inline-block;
    vertical-align: top; }

.arrow {
  margin: auto;
  background: grey;
  width: 90px;
  height: 65px;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px; }
  .arrow:focus {
    outline: none; }
  .arrow-prev {
    background: url("../../../images/prev.png") no-repeat;
    background-size: 100% 100%;
    left: 50px; }
  .arrow-next {
    background: url("../../../images/next.png") no-repeat;
    background-size: 100% 100%;
    right: 50px; }
  .arrow-hide {
    visibility: hidden; }

.sign {
  text-align: center;
  vertical-align: middle;
  margin-top: 0px;
  color: #000;
  width: 100px;
  height: 90px;
  font-size: 5em;
  display: block;
  line-height: 1; }

.icons {
  padding-right: 30px;
  padding-top: 10px;
  width: 25%;
  position: relative; }

.check-button {
  background: url("../../../images/submit.png") no-repeat;
  background-size: contain;
  width: 70px;
  height: 49px;
  margin-left: 27px;
  margin-top: 20px; }
  .check-button-hide {
    visibility: hidden; }

.check-correct {
  background: url("../../../images/Tick_right.png") no-repeat;
  background-size: contain; }

.check-incorrect {
  background: url("../../../images/Tick_wrong.png") no-repeat;
  background-size: contain; }

.numbers-area-disabled {
  pointer-events: none; }

@media (min-width: 800px) {
  .container {
    width: 800px; }
  .numbers {
    height: 203px; } }

@media (min-width: 1024px) {
  .container {
    width: 1024px; }
  .numbers {
    height: 100px; }
    .numbers-container {
      flex-wrap: nowrap; }
    .numbers-element:nth-child(2n) {
      margin-left: 15px;
      margin-right: 0; }
    .numbers-element.numbers__resultNumber {
      margin-left: 8px; } }
