<!DOCTYPE html>
<html ng-app="concentrationGameAdd">
	<head >
		<title>Cards</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="stylesheet/styles.css">
		<link rel="stylesheet" href="stylesheet/feedback.css">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" >
	</head>

	<body ng-controller="mainController" ng-style="disableApp" click-body>
		<!--	<span id="consoleLog" class="consoleLog"></span>
		<span id="timeStamp" class="consoleLog timestamp">Thu Apr 17 21:50:15 COT 2014</span>-->
		<div class="mainContainer no-display" ng-style="bodyShow">
			<div class="contenedor">
				<!--	<div class="nubes">
					<div class="nubeUno"><img src="images/smilleFaceL.png" width="20%"></div>
					<div class="nubeDos"><img src="images/smilleFaceR.png" width="25%"></div>
					<div class="nubeTres"></div>
					<div class="sol">

					</div>
				</div> -->
				<div class="nubes">
					<div class="nubeUno"><!-- <img src="images/smilleFaceL.png" width="20%"> -->
						<div class="smilleFaceOne">
							<div id="faceEyeOneLeft"></div>
							<div id="faceEyeOneRight"></div>
						</div>
					</div>
					<div class="nubeDos"><!-- <img src="images/smilleFaceR.png" width="25%"> -->
						<div class="smilleFaceTwo">
							<div id="faceEyeTwoLeft"></div>
							<div id="faceEyeTwoRight"></div>
						</div>
					</div>
					<div class="nubeTres"></div>
					<div class="sol">
						<div class="sunFace">
							<!-- <div>v3</div> -->
							<div id="sunFaceEyeL"></div>
							<div id="sunFaceEyeR"></div>
						</div>
						<div id="textHint">
						</div>
					</div>
				</div>

				<div ng-show="menuItem && start && !gameDone" class="menuItem flip-containerBlue twoPlayers makeItem"
					ng-class="players.length==1 && 'makeItemSolo' || ''">
					<span>Make</span>
					<div class="back">
						<div class="pointsHolder">
							<div ng-class="menuItem.template" ng-repeat="point in getPoints(menuItem.value) track by $index" >
							</div>
						</div>
					</div>
				</div>
				<div appear class="contentPlayers" ng-show="!start && !menu" >
					<div class="personajes">
						<div class="personajeUno" ng-click="startGameWith(1)" >
							<div>1 <span class="gsFont">Player</span> </div>
							<div><img src="../images/personaje-1.png" width="40%"></div>
						</div>
					</div>
					<div class="personajes">
						<div class="personajeDos" ng-click="startGameWith(2)">
							<div>2 <span class="gsFont">Players</span></div>
							<div><img src="../images/personaje-2.png" width="70%"></div>
						</div>
					</div>
				</div>
				<div class="makeEnnunciated" ng-show="engineOptions.title!=null && start && !menu">
					<span class="gsFont">{{engineOptions.title}}</span>
				</div>
				<div class="menu" ng-class="'menu'+menu.template" ng-show="!engineOptions.preset">
					<div class="ennunciated">
						<span class="gsFont">{{menu.ennunciated}}</span>
					</div>
					<div class="menuItemHolder">
						<div ng-repeat="menuItem in menu.menuItems" class=" startMenu menuItem flip-containerBlue " menu-item="{{menuItem}}">
							<div class="back">
								<div class="pointsHolder">
									<div ng-class="menuItem.template" ng-repeat="point in getPoints(menuItem.value) track by $index" ></div>
								</div>
								<!--<div class="label">{{menuItem.label}}</div>-->
							</div>
						</div>
					</div>
				</div>
				<div class="players" ng-show="start && !gameDone" ng-switch on="players.length">

					<div class="playerBox" ng-switch-when="2">
						<div   ng-init="id=player.data.id" class="playerHolder multiPlayer leftText{{player.data.id}}" ng-repeat="player in players"
							ng-class="[id==0 && 'playerBoxOne' || 'playerBoxTwo', turn!=player.data.id && 'playerBoxOneOff' || '' ]  ">
							<p><span class="gsFont">{{player.data.nombre}}</span></p>
							<h1><span class="gsFont">Matches:</span> {{player.data.score.correct}}  <span class="gsFont">Tries:</span> {{player.data.score.tries}} </h1>
							<div class="avatar" ng-class="'avatar-player-'+(id+1)">


								<!-- <img ng-src="images/player{{id+1}}@2x.png"/> -->
							</div>
						</div>

					</div>
					<div class="playerBox" ng-switch-when="1">
						<div  class="playerHolder playerBoxOne rigth" ng-class="[!menu && 'playerBoxnoMenu' || '' , engineOptions.template=='points' && 'pointsPlayerBox' || '' ]" >
							<!--<p>{{players[0].data.nombre}}</p>-->
							<p><span class="gsFont">Matches:</span> {{players[0].data.score.correct}}  <span class="gsFont">Tries:</span> {{players[0].data.score.tries}} </p>
						</div>
						<div ng-show="menu" class="menuItem flip-containerBlue ">
							<div class="back">
								<div class="pointsHolder">
									<div ng-class="menuItem.template" ng-repeat="point in getPoints(menuItem.value) track by $index" >
									</div>
								</div>
								<div class="label">{{menuItem.label}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--  -->
			<div class="cardHolder" ng-show='!menu' ng-class="[cardHolderblur && 'blured' || ''] " ng-show="!gameDone" >
				<div class="cards" ng-show="start && !gameDone" ng-init="flippedCards=0"  ng-style="{width:gridWidth}">
					<div ng-repeat="card in cards"
						ng-class="[
						engineOptions.engine,
						card.type=='result' && 'flip-containerOrange' || 'flip-containerBlue',
						flipped && 'flipped' || '',
						(winner && winner.id!= belongTo ) && 'loserCards',
						stay && 'dissappearCard' || '',
						selected && 'selected' || '',
						card.visible==false && 'dissappearCard' || ''
						]"
						flipping-card
						value='card'
						class="cardTrans"
						>
						{{__debugging?card.value:'';}}
						<div class="flipper">
							<div class="front">
							</div>
							<div class="back" ng-class="[stay && 'colorPlayer'+(belongTo+1),selected && 'selected' || '']" ng-class="" ng-switch="card.template">
								<div ng-class="card.template+'Holder'" ng-switch-when="points" >
									<div ng-class="card.template" ng-repeat="point in getPoints(card.value) track by $index" ></div>
								</div>
								<div ng-switch-default ng-class="hideforbit">
									{{card.value}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--

			-->
			<div ng-switch on="players.length"  ng-show="gameDone || __debugging" >
				<div class="scoreHolder stats1Player" ng-switch-when="1" >

					<div class="player1 playerStat">
						<div class="playerBox " >
							<div class="avatar" ng-class="avatar-player-1">
								<img src="../images/player1@2x.png" >
							</div>
							<div class="playerHolder playerBoxOne" >
								<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
								<h1>
									<span class="scoreBoardSpan"><span class="gsFont">Tries:</span> {{players[0].data.score.tries}}</span>
								</h1>
							</div>
						</div>
						<div class="scoreBoard player1ScoreBoard"
							ng-init="eng=engineOptions.template">
							<ul class="scoreBoardUl">
								<li class="scoreBoardLi" ng-repeat="item in players[0].data.list" ng-switch='eng'>
								<span ng-switch-when="pointsAndNumbers">
									<span style="display:inline-block;" >
										<span class="playerStats operation" >
											{{item.operation}}
										</span>
										<ul class="playerStats pointsAndNumbers" >
											<li ng-repeat="point in getPoints(item.result) track by $index"></li>
										</ul>
									</span>
								</span>
								<div ng-switch-when="points">
									<span ng-repeat="(key, value) in item" style="display:inline-block;">
										<ul class="playerStats resultStat" ng-class="key">
											<li ng-repeat="point in getPoints(value) track by $index"></li>
										</ul>
									</span>
								</div>
								<!--
									{{engineOptions.feedBack =='operation' ? item.operation+'='+item.result:item.result}}
									-->
								<span ng-switch-default>

									<span style="display:inline-block;" >
										<span class="playerStats operation" >
												{{item.operation}}
										</span>

										<span class="playerStats" >
												{{item.result}}
										</span>
									</span>
								</span>
								</li>

							</ul>
						</div>

					</div>

					<div class="playAgain" play-again>
						<img src="../images/again.png" />
						<span class="gsFont">Play Again</span>
					</div>

				</div>

				<div class="scoreHolder stats2Players"  ng-switch-when="2">
					<div ng-repeat="player in players"  ng-class="'player'+{{$index+1}}" class="playerStat">
						<div class="playerBox" >
							<div class="avatar" ng-class="'avatar-player-'+{{$index+1}}">
								<img ng-src="images/player{{$index+1}}@2x.png" />
							</div>
							<div class="playerHolder rigth{{$index+1}}" ng-class="[$index==0 && 'playerBoxOne' || '',$index==1 && 'playerBoxTwo' || '']" >
								<p><span class="gsFont">{{player.data.nombre}}</span></p>
								<h1><span class="gsFont">Matches:</span>
									<span class="scoreBoardSpan">{{player.data.score.correct}}</span>
									<span class="gsFont">Tries:</span> {{player.data.score.tries}}
								</h1>
							</div>
						</div>
						<div class="scoreBoard " ng-class="[$index==0 && 'player1ScoreBoard' || '',
							$index==1 && 'player2ScoreBoard' || '']"
							ng-init="eng=engineOptions.template">
							<ul class="scoreBoardUl">
								<li class="scoreBoardLi" ng-repeat="item in player.data.list" ng-switch='eng'>
								<span ng-switch-when="pointsAndNumbers">
									<span style="display:inline-block;" >
										<span class="playerStats operation" >
											{{item.operation}}
										</span>
										<ul class="playerStats pointsNumber" >
											<li ng-repeat="point in getPoints(item.result) track by $index"></li>
										</ul>
									</span>
								</span>
								<div ng-switch-when="points">
									<span ng-repeat="(key, value) in item" style="display:inline-block;">
										<ul class="playerStats resultStat" ng-class="key">
											<li ng-repeat="point in getPoints(value) track by $index"></li>
										</ul>
									</span>
								</div>
								<!--<span ng-switch-default>
									{{engineOptions.check!='sameValue'?item.operation+'='+item.result:item.result}}
								</span>-->
								<span ng-switch-default>
									<span style="display:inline-block;" >
										<span class="playerStats operation" >
												{{item.operation}}
										</span>

										<span class="playerStats" >
												{{item.result}}
										</span>
									</span>
								</span>
								</li>

							</ul>
						</div>
					</div>
					<div class="playAgain" play-again>
						<img src="../images/again.png" />
						<span class="gsFont">Play Again</span>
					</div>
				</div>

			</div>
			<div class="cardMatch cardMatchCorrrect" ng-class="[cardMatchCorrrect && 'cardMatch-appear' || '']">
				<div class="menuItem flip-containerBlue twoPlayers"  ng-init="template='points'">
					<div class="back" ng-switch="(cardMatched | filter:{type:'operation'})[0].template" >
						<div ng-class="template+'Holder'" ng-switch-when="points" class="cardMatchCorrect">
							<div ng-class="template" ng-repeat="point in getPoints((cardMatched | filter:{type:'operation'})[0].value) track by $index" ></div>
						</div>
						<div ng-switch-default>
							{{ (cardMatched | filter:{type:'operation'})[0].value}}
						</div>
					</div>
				</div>

				<div class="menuItem flip-containerOrange twoPlayers" >
					<div class="back" ng-switch="(cardMatched | filter:{type:'result'})[0].template">
						<div ng-class="(cardMatched | filter:{type:'result'})[0].template+'Holder'" ng-switch-when="points" class="cardMatchCorrect" >
							<div ng-class="(cardMatched | filter:{type:'result'})[0].template"
								ng-repeat="point in getPoints((cardMatched | filter:{type:'result'})[0].value) track by $index" ></div>
						</div>
						<div ng-switch-default>
							{{ (cardMatched | filter:{type:'result'})[0].value}}

						</div>
					</div>
				</div>
			</div>
			<div class="blurF" ng-class="[cardHolderblur &amp;&amp; 'blured' || ''] "></div>
			<div class="contentFeedback">
				<div class="btReset">
					<div class="icoReset" reset-state></div>
				</div>
				<div class="btInfo" onclick="iModal()">
					<div class="icoInfo icoInfoMove"></div>
				</div>
				<div class="btFeedback inactive">
					<div class="icoFeed"></div>
				</div>
				<div class="score">
					<div id="contCorrect">0 <img src="../images/base/IconCorrect.png"></div>
					<div id="contIncorrect">0 <img src="../images/base/IconIncorrect.png"></div>
				</div>
				<div id="instructions-audio" class="jp-jplayer"></div>
				<div id="fx-audio" class="jp-jplayer" audio-controller ></div>
			</div>
		</div>
		<script src="libs/angular.js"></script>
		<script src="vendors/scripts/vendor-nojquery-min.js"></script>
		<script src="libs/jquery-1.10.2.min.js"></script>
		<script src="libs/underscore.js"></script>
		<script src="libs/hammer.min.js"></script>
		<script src="vendors/scripts/jquery.jplayer.min.js"></script>
		<script src="js/app_event.js"></script>
		<script src="js/options.js"></script>
		<script src="js/concentration.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/factory.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/feedback.js"></script>
		<!-- ATTENTION! THIS FEEDBACK MUST ONLY BE IN imth-k-3-concentration-game-ICON-4!-->
		<!--<script src="js/feedbackDouble.js"></script>-->
	<!-- // <script src="vendors/scripts/test-harness.js"></script> -->
		<script type="text/javascript">
			// $(document).bind('touchmove',function(e) {e.preventDefault();});
			</script>
		</body>
	</html>
