@font-face{font-family:'GillSansInfant'; src:url(#{$font-dir}gilsbbd.eot)}
@font-face{font-family:'GillSansInfant'; src:url(#{$font-dir}gilsbbd.ttf)}
@font-face{font-family:'GillSansReg'; src:url(#{$font-dir}gilsbrg.eot)}
@font-face{font-family:'GillSansReg'; src:url(#{$font-dir}gilsbrg.ttf)}
@font-face{font-family:'mclarenregular'; src:url(#{$font-dir}McLarenRegular.eot)}
@font-face{font-family:'mclarenregular'; src:url(#{$font-dir}McLarenRegular.ttf)}
