/* Fonts */
$basefont : "McLaren";
$altFont: 'Gill Sans', 'GSMT';

/* Font-size */
$basefontsize   :   16;

/* Colors*/

$white: #fff;

$firstNumber: transparent;

$secondNumber: transparent;

$resultNumber: #ffc150;;

$signColor: #000;

$background:#558E35;

$operationBackground: #79BD50; 

$backgroundLayer:  rgba(#000,0.5);

$backgroundBoard:  #daf7b5;

$slide: #003700;

$slideVisited:#497324;

$slideActive: #213605; 
/* Folders */
$image-dir: '../../../images';

$font-dir: '../../../fonts/';