html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html{-ms-content-zooming:none}
body, html {
	-ms-touch-action: none;
	-ms-user-select: none;
	overflow:hidden;
}
.leftText0 p,.leftText0 h1 {
    float: left;
    display: table;
    width: 100%;
    text-align: left;
}
.rigth1 {
  text-align: right !important;
}
*{
	background-repeat: no-repeat;
	 -webkit-user-select: none;
	-ms-user-select: none;
	/*-webkit-user-select: auto;
	-ms-touch-action: none;
	-ms-user-selec: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-background: <background>;
	-moz-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-background: <background>;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
}
@font-face{
/*	font-family:'Salsa-Regular';
	src: url('../fonts/Salsa-Regular.ttf');*/
/*	'Gill Sans', 'Gill Sans MT', Calibri, sans-serif*/
	font-family:'gilsansRegular';
	src:url('../../fonts/GilSandsRegular.ttf');
}
@font-face{
	font-family: 'gilsansInfant';
	src: url(../../fonts/gilsbrg.woff);
}
@font-face{
	font-family: 'gilsansInfantBold';
	src: url(../../fonts/gilsbbd.woff);
}

.gsFont{
	font-family:"gilsansInfant";
	font-weight: bold;
}
body{
	background-color:#BBFD00;
/*	font-family: 'Salsa-Regular';*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	font-size: 16px;
	margin: 0;
}

.contentPlayers{
	position: absolute;
	z-index: 2000;
	/*background:rgba(0,0,0,0.2);*/
	width: 100%;
	/*	height: 100%;*/
	text-align: center;
	display:none;
}
.appear{
	display: block;
	-webkit-animation: personajes .9s;
	animation: personajes .9s;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.dissappearCard{
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity .6s linear;
	transition: transform .8s cubic-bezier(0.250, 0.250, 0.750, 0.750), opacity .6s linear;
	-webkit-transform:scale(2);
	transform:scale(2);
	opacity:0;
	pointer-events:none;
}


.textPerson{
	color: #fff;
	font-family: 'Helvetica';
}

.contentPlayers img{
	/*width: 10%;*/
}

.personajes{
	cursor: pointer;
	border: 0.4em solid rgba(8,94,114,0.0);
	width: 300px;
	height: 200px;
	margin: 20px auto;
	font-size: 2em;
	line-height: 2.5em;
	color: #a6a6a6;
	font-family:'McLarenRegular';
}
/*.personajes:hover {
	border: 0.4em solid rgba(8,94,114,0.8);
	border-radius: 15px;
	color: #1cbdbb;
}*/

.personajeUno, .personajeDos{
	background-color: #fff9ca;
	height: 200px;
}


@-webkit-keyframes personajes {

	from {-webkit-transform: scale(0);}
	80% { -webkit-transform: scale(.95);}
	to   {-webkit-transform: scale(1);}
}


@keyframes personajes {

	from {transform: scale(0);}
	80% { transform: scale(.95);}
	to   {transform: scale(1);}
}


.contenedor{
	position: absolute;
	width: 100%;
	z-index:20;
	/*height: 100%;*/
	/*background: url('../images/background.jpg');*/
	/*background-size: 100% 100%;*/
}

.nubes{
	width: 100%;
	position: absolute;
	height: 768px;
	top: 0;
	left:0;
	z-index:10;
	pointer-events:none;
	/*background-color: #eee;*/
}

.sol{
	background-image: url('../../images/sunface.png');
	background-size: 100%;
	width: 8%;
	height: 768px;
	position: absolute;
	z-index: 100;
	margin: 1% 0 0 77%;
}

#textHint{
	position: absolute;
	color: #feae01;
	right: 0;
	margin: 40px 90px 0 0;
	font-size: 18px;
}

.nubeUno{
	margin-left: 5%;
}

.nubeUno img{
	margin-left: 60%;
	margin-top: 25%;
}

.nubeDos{
	margin-left: 63%;
}

.nubeDos img{
	margin-left: 20%;
	margin-top: 25%;
}

.nubeTres{
	margin-left: 83%;
}

.nubeUno, .nubeDos, .nubeTres{
	background-image: url('../../images/nube-grande.png');
	background-size: 100%;
	width: 15%;
	height: 768px;
	display: inline-block;
	position: absolute;
}

.players{
	position: absolute;
	width: 100%;
	font-family:'McLarenRegular';
}

.playerBox{

	position: relative;
	width: 100%;
	margin: 10% 0 0 0;
	-webkit-transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
	transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
	-ms-transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
}
.playerHolder {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}
.cardTrans{
}
.playerBoxOne, .playerBoxTwo{
	background: #fff9c5;
	width: 34%;
	padding: 0.8em 1em 0.8em 1em;
	display: inline-block;
	position: absolute;
	text-align:center;
}
.playerBoxOne, .player1ScoreBoard{
	color: #85b818;
}
.playerBoxOneOff{
	color: #a6a6a6 !important;
	background-color:#fffdef !important;
	-webkit-transform: scale(.8);
	transform: scale(.8);

}

.playerBoxTwo, .player2ScoreBoard{
	color: #f29400;
}
.playerBoxTwoOff{
	color: #0da1ff;
}


.playerBoxOne{margin: 0 70% 0 20%; float: left;}
.playerBoxOne.multiPlayer{margin: 0 70% 0 11%; float: left;}
.playerBoxTwo{margin: 0 20% 0 58%; float: right;}
.playerBoxTwo.multiPlayer{margin: 0 20% 0 60%; float: right;}

.playerBoxOne p, .playerBoxTwo p {
	font-size: 1.6em;
	margin : 0;
	padding: 0;
}
/*.playerBoxOne,.playerBoxTwo{
	-webkit-transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
	transition: all .5s cubic-bezier(0.560, -0.600, 0.490, 1.645);
}*/

.playerBoxTwo p, .playerBoxTwo h1 {
	text-align:right;

}
.playerBoxOne h1, .playerBoxTwo h1{
	font-size: .9em;
}
.playerBoxnoMenu{margin: 0 70% 0 33%;}
.playerOneTittle,  .playerBoxTwo >.playerOneText{/*color: #f00d7d;*/}
.playerTwoTittle, .playerBoxTwo >.playerTwoText{/*color: #0da1ff;*/ text-align: right;}

.singlePlayer{
	margin: 0 70% 0 25%;
}

/* entire container, keeps perspective */
.cards{width: 895px; margin: 208px auto; /*display: none;*/ z-index: 500;}
div {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}
.flip-containerOrange, .flip-containerBlue{
	-webkit-perspective: 1000;
	perspective: 1000px;
	margin-top: 15px;
	/*margin-left: 100px;*/
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	/*margin-top: 20px;*/
	position: relative;
}

 @font-face{font-family:'McLarenRegular'; src:url("../fonts/McLarenRegular.ttf")}
.cardHolder{
	position: absolute;
	width:100%;
	z-index:300;
	font-family: 'McLarenRegular';
	-webkit-transition:.5 filter;
	transition:.5 filter;
}
.num{
	font-family: 'McLarenRegular';
}

/*.flip-containerOrange.flipped .flipper,.flip-containerBlue.flipped .flipper, .flip-containerOrange.hover .flipper, .flip-containerBlue.hover .flipper, #flip-toggle.flip .flipper {*/


.flip-containerOrange.flipped .flipper,.flip-containerBlue.flipped .flipper, .flip-containerOrange.hover .flipper, .flip-containerBlue.hover .flipper, #flip-toggle.flip .flipper {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	/*transform: rotateY(90deg);*/
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flip-containerOrange, .flip-containerBlue, .front, .back {
	width: 159px;
	height: 88px;
	border-radius: 15px;
	text-align: center;
}


.flipper {
	-webkit-transition: 0.5s;
	-webkit-transform-style: preserve-3d;
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
	width:159px;
	height: 88px;
}
.flipped .front{
	z-index:0
}
.flipped .back{
	z-index:999;
}

.flippedBack{
	z-index:999;
}


.flip-containerOrange .front,.resultStat {
	/*background: url('../images/bg-card-One.jpg');*/
	z-index: 2;
	border-color:#ff89bd;
	background-color:#ed215f;
}

.flip-containerBlue .front ,ul.operationStat{
/*	background: url('../images/bg-card-Two.png');*/
	z-index: 2;
	border-color:#c6a900 !important;
	background-color:#FBD600 !important;
}

.back {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	font-size: 2.3em;
	line-height: 2.3em;
	/* margin-top: -95px; */
}

.flip-containerOrange .back{
	background-color: #fff;
	color: #fff;
	background-color:#DC003D;
	border-color:#ff89bd;
}
.colorPlayer1{
	border: 3px solid #E90067 ;
}
.colorPlayer2{
	border: 3px solid #005dca;
}
.flip-containerBlue .back{
	/*background-color: #0096ff;*/
	color:#6b5b00;
	/*border-color:#41cbca;*/
	border-color:#c6a900;
	background-color:#FBD600;
}
.front{
	transform: rotateY(0deg);
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
}



/***************************RESPONSIVE*****************************/
@media only screen and ( min-width: 1024px ) {
	.nubes{width: 100%}
	.nube{background-size: 100% 100%;}
	.contenedor{background-size: 100% 100%;}
}

.loserCards{
	opacity: .2;
}
/*@media only screen and ( min-width: 768px ) {
.nubes{width: 50%}
.nube{background-size: 50%;}
.contenedor{background-size: 50% 100%; height: 1024px}
}
 */
	/************************* nubes animation *****************************/



	.smilleFaceOne{
		background-image: url('../../images/smilleFaceL.png');
		background-size: 100%;
		width: 32px;
		height: 40px;
		margin: 40px 0 0 87px;
		position: relative;
}

#faceEyeOneLeft{
	background-image: url('../../images/smilleFaceL-EyeL.png');
	margin: 6px 0 0 4px;
}

#faceEyeOneRight{
	background-image: url('../../images/smilleFaceL-EyeR.png');
	margin: 6px 0 0 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	width: 10px;
	height: 16px;
}

#faceEyeOneLeft, #faceEyeOneRight{
	-webkit-animation: ojosFaceNube 2s infinite;
	animation: ojosFaceNube 2s infinite;
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-animation: ojosFaceNube 3s infinite;
	animation: ojosFaceNube 3s infinite;
}

#faceEyeOneLeft, #faceEyeOneRight, #faceEyeTwoLeft, #faceEyeTwoRight{
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	background-position: center center;
	background-size: 100%;
	position: absolute;
	display: inline-block;
}
.smilleFaceTwo{
	background-image: url('../../images/smilleFaceR.png');
	background-size: 100%;
	width: 32px;
	height: 40px;
	margin: 50px 0 0 40px;
	/*position: relative;*/
}

#faceEyeTwoLeft, #faceEyeTwoRight{
	width: 8px;
	height: 14px;
}

#faceEyeTwoLeft{
	background-image: url('../../images/smilleFaceR-EyeL.png');
	margin: 4px 0 0 6px;
}

#faceEyeTwoRight{
	background-image: url('../../images/smilleFaceR-EyeR.png');
	margin: 4px 0 0 16px;
}
.sol{
	background-image: url('../../images/sunAll.png');
	background-size: 100%;
	width: 8%;
	height: 768px;
	position: absolute;
	z-index: 100;
	margin: 1% 0 0 76%;
}

.sunFace{
	background-image: url('../../images/faceSun.png');
	background-size: 100%;
	width: 28px;
	height: 38px;
	position: absolute;
	margin: 35px 0 0 28px;
}

#sunFaceEyeL, #sunFaceEyeR{
	background-size: 100%;
	-webkit-animation: ojosFaceNube 3.5s infinite;
	animation: ojosFaceNube 3.5s infinite;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	transition: all cubic-bezier(0.420, 0.000, 1.000, 1.000);
	position: absolute;
}

#sunFaceEyeL{
	background-image: url('../../images/sunfaceEyeL.png');
	width: 9px;
	height: 15px;
	margin: 4px 0 0 2px;
}

#sunFaceEyeR{
	background-image: url('../../images/sunfaceEyeR.png');
	width: 8px;
	height: 14px;
	margin: 2px 0 0 14px;
}
.mainContainer{

	background: url('../../images/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

	padding-top:30px;
	width:1024px;
	height:674px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
}


.hidebit{
	opacity:0;
}

/************************INICIO ANIMACIONES CARAS***************************/

@-webkit-keyframes ojosFaceNube {
	from {-webkit-transform: scale(1);}
	50% { -webkit-transform: scale(1);}
	51% { -webkit-transform: scale(1,0);}
	60% { -webkit-transform: scale(1);}
	to   {-webkit-transform: scale(1);}
}

@keyframes ojosFaceNube {
	from {transform: scale(1);}
	50% { transform: scale(1);}
	51% { transform: scale(1,0);}
	60% { transform: scale(1);}
	to   {transform: scale(1);}
}

/*.playerStat{
	width:200px;
	padding:0 40px;
	background-color:#fff;
	height:30px;
}*/
.playerStat .playerBoxOne, .playerStat .playerBoxTwo{
	width:169px;
	right:20px;
	margin:0;
	padding:0;
	background-color:transparent;

}
.playerStat .avatar{
	float:left;
	position:relative;
	-webkit-transform:scale(.4,.4);
	transform:scale(.4,.4);
	top:0;
	left:0;
	margin-left:-10px;
}
.playerStat .playerBox{
	overflow:hidden;
}
.playerBox>.menuItem{
	float:right;
	right:25%;
}

.playerBox>.menuItem.twoPlayers{
	float:right;
	right:42%;
}
.player1 .scoreBoard{

}

.scoreBoard{
	width:100%;
	height:300px;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}
.scoreHolder{
	font-family:'McLarenRegular';
}
.scoreBoardUl{
	list-style-type: none;
	margin:0;
	padding:0;
	display:block;
}
.scoreBoardLi{
	text-decoration:none;
	height:46px;
	padding-top:10px;
	width:100%;
	text-align:center;
	border-top:1px #DADBDC solid;
	font-size:15px;
	line-height: 28px;
	overflow:hidden;
}
li.scoreBoardli:last-child {

	border-bottom:1px #DADBDC solid;
}
.scoreBoardSpan{
	font-size:24px;
}
.stats1Player .playerStat{
	float:left;
	margin-left:171px;

}

.stats1Player,.stats2Players{
	width:760px;
	height:494px;
	margin:78px auto;
}
.playAgain{
	float: left;
	width: 105px;
	height: 96px;
	background-color: white;
	text-align: center;
	color: #339AC7;
	font-size: 18px;
	padding: 7px;
	margin-left: 20px;
	margin-top:125px;
	border-radius:14px;
	border:2px solid #267496;
	font-family: gilsansInfant;
}
.playAgain img{
	display:block;
	width: 58px;
	height: 54px;
	margin: 8px auto;
}

.stats1Player{
	width:614px;
}


.playerStat, .stats2Players .playerStat, .stats1Player .playerStat{
	width:300px;
	height:100%;
	background-color:#fff;
	z-index: 10000;
}
.stats2Players .player1{
	float:left;
}

.stats2Players .player2{
	float:right;
}
.avatar{
	-webkit-transform: scale(.8,0.8);
	transform: scale(.8,0.8);
	position:absolute;
}

.avatar-player-1{
	float:right;
	right:-20px;
	top:-12px;
	background-size:100%;
	width:140px;
	height:125px;
	background-image: url('../../images/player1@2x.png');
}

.avatar-player-2{
	float:left;
	position:absolute;
	top:-12px;
	left:-20px;
	background-size:100%;
	width:140px;
	height:125px;
	background-image: url('../../images/player2@2x.png');
}
.points{
	border-radius:50%;
	background-color:white;
	width:14px;
	height:14px;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
}
.cardMatchCorrect.pointsHolder{
	width:185px;
	margin:23px auto;
}
.cardMatchCorrect>.points{
	width:24px;
	height:24px;

}
.pointsHolder{
	overflow:hidden;

	width:130px;
	margin:23px auto;
}
.pointsHolder>div:nth-child(5), .pointsHolder>div:nth-child(10) {
	margin-right:0;
}
.pointsHolder>div:nth-child(n+5){
	margin-bottom:0;
}
/* SELECTED ITEMS IN SEVERAL ENGINES */
.flip-containerBlue.tenEnginePointsReverse.selected, .flip-containerOrange.tenEnginePointsReverse.selected{
	-webkit-transition: all .1s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all .1s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-webkit-animation: selectedCard .5s infinite;
	animation: selectedCard .5s infinite;
	/*pointer-events:none;*/

}

@-webkit-keyframes selectedCard {
	0% {-webkit-transform: scale(1);}
	25%{-webkit-transform:translate(0,-2px)}
	50% {-webkit-transform: scale(1.05);-webkit-transform:translate(0,-4px)}
	75%{-webkit-transform:translate(0,-2px)}
	100%   {-webkit-transform: scale(1);}
}

@keyframes selectedCard {
	0% {transform: scale(1);}
	25%{transform:translate(0,-2px)}
	50% {transform: scale(1.05);transform:translate(0,-4px)}
	75%{transform:translate(0,-2px)}
	100%   {transform: scale(1);}
}

.flip-containerBlue.tenEnginePointsReverse .back.selected{
	border-color:#227c95
}

.tenEnginePoints.dissappearCard,
.addEngine.dissappearCard,
.decadeEngine.dissappearCard,
{
	-webkit-transition: all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-filter:blur(5px);
	filter:blur(5px);
	opacity:0;
	pointer-events:none;
}
.tenEnginePointsReverse.dissappearCard{
	pointer-events:none;
}

.flip-containerOrange.tenEnginePointsReverse .back.selected{
	border-color:#f8c3d9;

}
.menupoints{
	width:400px;
	margin:110px auto;

}
.menupoints >.menuItem{
	float:left;
	width:170px;
}
.menuItem>.back>.label{
	position:absolute;
	bottom:-30px;
	right:6px;
	font-size:15px;

}
.menuItem>.back{
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	margin-top:0px;
}
.startMenu>.back{
	background-color: #EA5F2B;
	border-color: #F19815;
}
.ennunciated{
	text-align:center;
	color:white;
	font-size:22px;
}

.menuItemHolder{
	position:relative;
	margin-left:20px;
}

.consoleLog{
	position:absolute;
	top:30px;
	color:white;
	z-index:99999;
	font-size:8px;
}
.timestamp{
	right:0;

}
span.playerStats,ul.playerStats{
	display: inline-block;
	width: 70px;
	margin: 0px;
	padding: 4px;
	text-decoration: none;
	border: solid 1px;
	background-color: #DC003D;
	border-color: #ff89bd;
	border-radius: 5px;
	height: 28px;
	color:white;
padding-left: 6px;
width: 65px;
}
span.operation,ul.operation{
	background-color:#FBD600;
	border-color:#c6a900;
	margin-right: 18px;
	text-align:center;
}
span.operation{
	float: left;
	color:#6b5b00;
}

ul.playerStats li{display:block;width:8px;height:8px;border-radius:50%;background-color:white;margin:1px;padding:0px;float:left;margin-bottom:4px;
	margin-bottom: 6px;
	margin-right: 4px;
}

.playerstatsSpan{
	display:block;
	float:left;
	margin-right:8px;
	margin-top:6px;
}
.makeItem{
/*	margin-left:424px;
	margin-top:12px;
	font-size:22px;
	width: 257px;*/
	margin-left: 392px;
	margin-top: -8px;
	font-size: 22px;
	width: 257px;
	-webkit-transform: scale(.8,.8);
	transform: scale(.8,.8);
}
.makeItem>span {
	color: white;
	display: block;
	float: left;
	margin-right: 14px;
	font-size: 25px;
	margin-top: 23px;
	font-family: 'McLarenRegular';
}
.makeItem.flip-containerBlue>.back{
	background-color: #EA5F2B;
	border-color: #F19815;
	float: right;
	  right: 0 !important;
	  left: inherit;
}
.makeItemSolo{
	margin-left: 380px;
	margin-top: 117px;
	font-size: 20px;
	width:313px;
}
.makeItemSolo >span{
	font-size: 30px;
	text-align: center;
	font-family: 'McLarenRegular';
}
.pointsPlayerBox{
	margin: -48px 64% 0 31%;
	/*margin: 0 70% 0 20%;*/
	float: left;
}

.cardMatch{
	position:absolute;
	-webkit-transition: all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	transition: all .3s cubic-bezier(0.250, 0.250, 0.750, 0.750);
	pointer-events:none;
	-webkit-transform:scale(.7,.7);
	transform:scale(.7,.7);
	opacity:0;
	top: 249px;
	left: 227px;
	z-index:600;
	font-family:'McLarenRegular';


}
.cardMatch>.flip-containerBlue,.cardMatch>.flip-containerOrange{
	width:250px;
	height:117px;
}
.cardMatch>.menuItem>.back{
	width:250px;
	height:117px;
	font-size: 3.7em;
	line-height: 2em;

}
.cardMatch-appear{
	opacity:1;
	-webkit-transform:scale(1,1);
	transform:scale(1,1);
}

.blured{
	/*-webkit-filter: blur(4px);
	filter: blur(4px);*/
	display:block !important;
}
.blurF {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(255, 255, 255, 0.23);
  z-index: 599;
}
.makeEnnunciated{
	width: 100%;
	height: 42px;
	position: absolute;
	margin-top: 32px;
	font-size: 30px;
	text-align: center;
	color: white;
	font-family: 'McLarenRegular';
	background-color: rgba(38,123,139,.5);
}
.no-display{
	display:none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	  display: none !important;
 }

.qvh{
	-ms-backface-visibility:hidden;
}
/*.back{
	display:none;
}*/
.front, .back {

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	/* backface-visibility: hidden; */
	border: 3px solid ;
	position: absolute;
	top: 0;
	left: 0;
	width:159px;
	height: 88px;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
