@font-face{
	font-family:'gilsansRegular';
	src:url('../../fonts/GilSandsRegular.ttf');
}
.contentFeedback{
	position: absolute;
	width: 291px;
	height: 40px;
	bottom: 5px;
	right: 0px;
	overflow: hidden;
}

.btReset,.btInfo,.btFeedback{
	float: right;
	width: 34px;
	height: 34px;
	cursor: pointer;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.btReset{margin-right: 50px;}
.icoReset{background-image: url('../../images/base/btResetOn@2x.png');}

.icoResetMove{
	-webkit-animation: reset 1s;
	-moz-animation: reset 1s;
	-ms-animation: reset 1s;
}

@-webkit-keyframes reset {
	0%{
		-webkit-transform: rotate(0deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
	50%{

		background-image: url('../../images/base/btResetOff@2x.png');

	}
	100%{
		-webkit-transform: rotate(-360deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
}
@-ms-keyframes reset {
	0%{
		-ms-transform: rotate(0deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
	50%{

		background-image: url('../../images/base/btResetOff@2x.png');

	}
	100%{
		-ms-transform: rotate(-360deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
}
@-moz-keyframes reset {
	0%{
		-moz-transform: rotate(0deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
	50%{

		background-image: url('../../images/base/btResetOff@2x.png');

	}
	100%{
		-moz-transform: rotate(-360deg);
		background-image: url('../../images/base/btResetOn@2x.png');
	}
}

.btInfo,.btFeedback{margin-right: 17px;}

.btFeedback{
	cursor: pointer;
	display:none;
}

.icoReset,.icoFeed{
	background-position: center center;
	background-size: 100%;
	width: 34px;
	height: 34px;
}

.icoInfo{
	width: 29px;
	height: 31px;
	background-position: center center;
	background-size: 100%;
}

.icoInfo{background-image: url('../../images/base/btInfoOff@2x.png');}
.icoInfoMove{background-image: url('../../images/base/btInfoOn@2x.png');}

.icoFeed{background-image: url('../../images/base/btFeedOff@2x.png');}
.icoFeedMove{background-image: url('../../images/base/btFeedOn@2x.png');}

.score{
	float: right;
	height: 34px;
	width: 130px;
	border-radius: 20px;
	background-color: rgba(27,27,27,0.2);
	overflow: hidden;
	margin-right: 12px;
	display: none;
}

#contCorrect,#contIncorrect{
	width: 49%;
	height: 100%;
	float: left;
	text-align: center;
	vertical-align: middle;
	font-family: 'GillSans-Light';
	font-size: 18px;
	padding-top: 7px;
}

#contCorrect{
	border-right: 1px solid rgba(0,0,0,0.3);
	color: #33ff00;
}
#contIncorrect{
	color: #ffcbcb;
}

#contCorrect img{
	width: 17px;
	height: 18px;
}
#contIncorrect img{
	width: 15px;
	height: 17px;
}

.score div img{
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -5px;
}

.back{
	background:black;
}

._iModalBack{
	display: none;
	height: 380px;
	width: 720px;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 2000;

	margin: auto;
}

.Center_iModal{
	position: relative;width: 100%;height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
}

._iModalHeader{
	height: 50px;
	width: 100%;
	position: absolute;
	z-index: 300;
}

.AbsoluteCenter_iModal {
	width: 100%;
    height: 88%;
	position:relative;
	border: 2px solid #7ea0c6;
	background-image: -webkit-radial-gradient(center,circle farthest-side,#597ca5 0,#3d5485 100%);
	background-image: radial-gradient(circle farthest-side, rgb(89, 124, 165) 0px, rgb(61, 84, 133) 100%)
}

._iModalHeader .icoInfo{
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
	float: left;
}

.icoClose{
  font-size: 35px;
  float: right;
  padding-right: 10px;
  font-weight: normal;
  width: 16px;
  height: 20px;
  text-align: center;
  padding: 11px 16px 38px 48px;
  color: white;
  cursor: pointer;
  line-height: .5;
}

._iModalBody{
	padding: 20px 48px;
	font-weight: 100;
	color: #fff;
	font-size: 30px;
	font-family:"GillSansIno";
	margin:6px 0px;
	line-height: 1.3;
}


._iModalBody img{
	display: block;
	margin: 10px auto;
	border: none;
	cursor: pointer;
}

._back{
 opacity: .7;
}
._backTransition {
  background-color: black;
  height: 100%;width:100%;
  position: absolute;
  -webkit-animation: fadein .4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .4s; /* Firefox < 16 */
      -ms-animation: fadein .4s; /* Internet Explorer */
       -o-animation: fadein .4s; /* Opera < 12.1 */
          animation: fadein .4s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

/*asd*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .7; }
}
/*asd*/
._backClose{
opacity: 0;
}

.modal-header{
	border-bottom: none;
}
