html,body{
  background-image: -webkit-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: -moz-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: -ms-radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
  background-image: radial-gradient(center,circle farthest-side,#9ECE61 0,#669D40 100%);
}

body{  
  font-family: 'Gill Sans Infant','Gill Sans','Gill Sans MT',Calibri,sans-serif;
  overflow: hidden;
}

footer{
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
}

.container{
  width: 680px;
  margin: 0 auto;
}

.board{
  position: relative;
  width: 100%;
  height: 435px; 
  background: url('#{$image-dir}/anim_bg.png') no-repeat;    
  background-size: 100% 100%;
}

.monsters{
    display: flex;
    justify-content: flex-end;
    flex-wrap: initial;
    display: -webkit-flex;    
    -webkit-box-pack: end;
    -webkit-flex-wrap: wrap;
    padding-top: 110px;
    margin: 0 auto;
    height: 100%;

    &[data-slide='1']{
        padding-top: 10%;
        width: 86%;
        .monster{
            &:nth-child(6){
                margin-right: 0;
            }
            &:nth-child(6n) ~ .monster{
                display: none;
            }
        }
    }

    &[data-slide='2']{
        padding-top: 10%;
        width: 86%;
        .monster{
            &:nth-child(5){
                margin-right: 0;
            }
            &:nth-child(5n) ~ .monster{
                display: none;
            }   
        }
    }

    &[data-slide='3']{
        width: 68%;
        .monster{
            &:nth-child(7){
                margin-right: 0;
            }
            &:nth-child(7n) ~ .monster{
                display: none;
            }   
        }
    }

    &[data-slide='4']{
        padding-top: 10%;
        width: 86%;

        .monster{
            &:nth-child(4){
                margin-right: 0;
            }
            &:nth-child(4n) ~ .monster{
                display: none;
            }   
        }
    }

    &[data-slide='5']{
        width: 67%;
        .monster{
            &:nth-child(4),
            &:nth-child(8){
                margin-right: 0;
            }
            &:nth-child(8n) ~ .monster{
                display: none;
            }
        }
    }
}

.monster{
  width: 120px;
  height: 150px;
  margin-left: -50px;
  background-image: url('#{$image-dir}/char1.png');
  background-size:  200% 100%;
  transition: all .3ms ease;
  
  &:nth-child(2){
    background-image: url('#{$image-dir}/char2.png');
  }
  &:nth-child(3){
    background-image: url('#{$image-dir}/char3.png');
  }
  &:nth-child(4){
    background-image: url('#{$image-dir}/char4.png');
  }

  &:nth-child(5){
    background-image: url('#{$image-dir}/char5.png');
  }

  &:nth-child(6){
    background-image: url('#{$image-dir}/char6.png');
  }

  &:nth-child(7){
    background-image: url('#{$image-dir}/char7.png');
  }

  &:nth-child(8){
    background-image: url('#{$image-dir}/char8.png');
  }

  &:nth-child(9){
    background-image: url('#{$image-dir}/char9.png');
    margin-right: 0;
  }

  &:nth-child(10){
    background-image: url('#{$image-dir}/char10.png');
    margin-right: 0;
  }

  &-hide{
    display: none;
  }
  
  &-highlight{
    animation: highlight 1s;
    border-radius: 50px;
  }
  
  &-down {
    transform-origin: 0% 100%;
    animation: animObjEnd 0.2s;
    animation-timing-function: ease-out;
  }
  
  &-laying-left{
    transform-origin: 52% 105%;
    transform: rotate(-80deg);
    background-position: -100% 0%;
  }

  &-laying-right{
    transform-origin: 52% 110%;
    transform: rotate(80deg);
    background-position: -100% 0%;
  }
}

.static-equation{
  height: 100%;
  font-size: 70px;
  font-family: mclarenregular;
  color: #000;
  text-align: right;
  line-height: 100px;
  &-hide{
      display: none;
  }
}

.ball{
  position: absolute;
  top: 100%;
  left: 45%;
  height: 80px;
  width: 80px;
  background-image: url(#{$image-dir}/ball.png);
  border-radius: 50%;
  transform-origin: 50% 50%;
  transition: all 1200ms ease;
    
  &-animation{
    // top: 100px;
      
      animation: throwBall 1200ms linear;
  }

  &-shadow{
    ///bottom: -145px;
    top: 150%;
    left: 45%;
    height: 0;
    width: 0;
    background-image: url(#{$image-dir}/ballShad.png);
    transform-origin: 50% 50%;
    transform: rotate(-180deg);
  
    &-animation{
      //top: 500px;
      animation: throwShadow 1200ms ease-out;
      //-webkit-animation: throwShadow 1200ms ease-out;
    }
  }
}

.audios{
    display: none;
}


@media (min-width:800px){
    .container{
        width: 800px;
    }
    .numbers{
        height: 203px;
    }
    .monsters{
        padding-top: 13%;
    }
    .monster{
        width: 135px;
    }
}

@media (min-width:1024px ){
    .container{   
        width: 1024px;
    }

    .monsters{
        justify-content: center;
        -webkit-justify-content: center;
        padding-top: 10%;
    }

    .numbers{
        height: 86px;
        &-container{
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;
        }
        &-element{
            margin-left: 0px;
            margin-right: 20px;
            &:nth-child(1){
              margin-left: 20px;
            }
            &:nth-child(2n){
                margin-left: 0px;
                margin-right: 20px;
            }
        }
    }

    .equation{
        justify-content: center;
        -webkit-justify-content: center;
    }
}
@media (min-width:768px) and (orientation: portrait){
    .container{
        margin-left: 0;
        margin-right: 0;
        width: 100vw;
        height: 100vh;
    }

    .monsters{
      justify-content: center;
      &[data-slide='1'],
      &[data-slide='2'],
      &[data-slide='4']{
        padding-top: 110px;
      }

      &[data-slide='5']{
        width: 73%
      }

    }

    .numbers{
        &-container{
            .numbers-element{
                display: inline-table;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
    .equation{
      padding-left: 7%;
      box-sizing: border-box;
      .sign{
        margin-right: 0;
      }
    }
}
