html {
    
}

body {
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0) radial-gradient(circle farthest-side at center center , #9ece61 0px, #669d40 100%) repeat scroll 0 0 !important;
}

@font-face {
	font-family:'GillSansInfant'; 
	src: url("../../fonts/gilsbrg.woff");
}


@font-face {
	font-family:'myFontfamily';
	src: url("../../fonts/GilSandsRegular.woff");
}

#container {
	width: 1024px;
	height: 724px;
	margin: 0 auto;
	font-family: GillSansInfant;
	font-size: 20px;
}

#stage {
	width: 100%;
	height: 350px;
	text-align: center;
}

#message {
    height: 40px;
    line-height: 40px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#message span {
    background-color: rgb(16, 87, 16);
    border: 3px solid #b3f061;
    border-radius: 12px;
    color: white;
    display: inline-block;
    font-family: GillSansInfant;
    font-size: 17px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
    padding: 0 25px;
    min-width: 420px;
    background-image: -webkit-linear-gradient(top, #0EAF1D, #0D971A);
}

#results table {
    margin: 0 auto;
    width: 642px;
    text-align: center;
    border: 1px solid #063a21;
}

.close {
	background-image: url("../../images/close_btn.png");
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
    top: -32px;
    left: 670px;
}

.numText {
	height: 46px;
	width: 100%;
	line-height: 46px;
}

#results table td {
	height: 46px;
}

#results thead {
	background-color: #2d4d30;
}

#results td {
	border: 1px solid #063a21;
}

.ltGreen {
	background-color: #95D690;
}

.mdGreen {
	background-color: #4ddd40;
}

.ltYellow {
	background-color: #FFFED2;
}

.ltYellow2 {
	background-color: #FFFED2;
}

.whtText {
	color: #FFF;
}

.ltGrey {
	background-color: #CCC;
}

.doorGlow{
	-webkit-box-shadow: -1px -1px 25px 12px rgba(6, 75, 252, 0.67);
	-moz-box-shadow: -1px -1px 25px 12px rgba(6, 75, 252, 0.67);
	box-shadow: -1px -1px 25px 12px rgba(6, 75, 252, 0.67);
}

.overlay {
	background-color: rgba(0,0,0,0.5);
	z-index: 95;
	position: absolute;
	margin: 0;
	padding: 0;
	display: none;
	width: 100%;
	height: 100%;
}

#instructions {
	display: none;
    position: absolute;
    width: 645px;
    height: 262px;
    border: 2px solid #7ea0c6;
    margin: auto;
    background: -moz-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-radial-gradient(center,circle farthest-side,#597CA5 0,#3D5485 100%);
    background: -ms-radial-gradient(center,circle farthest-side,#597CA5 0,#45638D 100%);
    background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    background: -ms-gradient(radial,center center,0,center center,100%,color-stop(0%,#597CA5),color-stop(65%,#82BC54),color-stop(100%,#45638D));
    color: #fff;
    font-size: 22px;
    text-align: left;
    z-index: 1000;
    line-height: 1.4em;
    text-shadow: 0px 2px #000;
    top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px 35px 35px;
}

.btn {
	width: 34px;
	height: 34px;
	float: left;
	margin: 0 10px;
}

#instructions p {
	background-image: url("../../images/btInfoOn.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 45px;
}


#submit {
	background-image: url("../../images/btFeedOff.png");
}

#info {
	background-repeat: no-repeat;
    background-image: url("../../images/btInfoOn.png");
    background-position: 3px 2px;
}

#reset {
	background-image: url("../../images/btResetOff.png");
}

#controls {
    left: 1010px;
    position: absolute;
    top: 670px;
    z-index: 30;
}

#playAgain {
    background: rgba(0, 0, 0, 0) linear-gradient(#fae958, #e0b81e) no-repeat scroll 0 0 / 100% 100%;
    border: 3px solid #1f5500;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    display: none;
    font-family: GillSansInfant;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    left: 83%;
    position: relative;
    top: -145px;
    width: 130px;
    z-index: 200;
}

#again_btn {
  	background-image: url("../../images/again.png");
    background-repeat: no-repeat;
    background-size: 25px auto;
    margin-left: 5px;
    padding-left: 30px;
    width: 120px;
}

.panel {
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    width: 270px;
    position: relative;
}

.door {
    background-image: url("../../images/door.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 230px auto;
    height: 321px;
    width: 230px;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 20;
    left: -20px;
}

.winnerImg{
	background-image: url('../../images/ans_1.png');
}

.loserImg{
	background-image: url("../../images/ans_2.png");
}

.img {
	background-position: 25px 85px;
    background-repeat: no-repeat;
    background-size: 100px auto;
	display: block;
    height: 276px;
    left: 63px;
    position: absolute;
    top: 23px;
    width: 146px;
    z-index: 10;
}

.shadowImg {
	display: block;
    height: 276px;
    left: 63px;
    position: relative;
    top: 23px;
    width: 146px;
    z-index: 9;
}

.panel p {
    font-weight: bold;
    position: relative;
    top: 20px;
}

.alert {
    width: 75px;
    color: #fff;
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
    background-color: #29382a;
    margin: 15px;
}

#resetInfo {
    background-image: -webkit-linear-gradient(top, #c2e88e, #dceec4);
	background-image: -ms-linear-gradient(top, #c2e88e, #dceec4);
	background-image: -moz-linear-gradient(top, #c2e88e, #dceec4);
    border: 3px solid #5c8821;
    border-radius: 15px;
    color: #000;
    display: none;
    font-family: GillSansReg;
    font-size: 22px;
    height: 157px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 250px;
    width: 296px;
    z-index: 5000;
}

.keypadContainer {
	top: 45%;
	left: 50%;
}

.animateDoor{
    -webkit-animation: doorAnimation 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: doorAnimation;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes doorAnimation {
    0%   {background-image: url('../../images/door.png');}
    25%  {background-image: url('../../images/door2.png');}
    50%  {background-image: url('../../images/door3.png');}
    75%  {background-image: url('../../images/door4.png');}
    100% {background-image: url('../../images/door4.png');}
}
/* Chrome, Safari, Opera */

@-webkit-keyframes doorAnimation {
    0%   {background-image: url('../../images/door.png');}
    25%  {background-image: url('../../images/door2.png');}
    50%  {background-image: url('../../images/door3.png');}
    75%  {background-image: url('../../images/door4.png');}
    100% {background-image: url('../../images/door4.png');}
}
@-moz-keyframes doorAnimation {
    0%   {background-image: url('../../images/door.png');}
    25%  {background-image: url('../../images/door2.png');}
    50%  {background-image: url('../../images/door3.png');}
    75%  {background-image: url('../../images/door4.png');}
    100% {background-image: url('../../images/door4.png');}
}
@-o-keyframes doorAnimation {
    0%   {background-image: url('../../images/door.png');}
    25%  {background-image: url('../../images/door2.png');}
    50%  {background-image: url('../../images/door3.png');}
    75%  {background-image: url('../../images/door4.png');}
    100% {background-image: url('../../images/door4.png');}
}

